- extends "base_admin_dashboard.html"

- load smartmin i18n ureport

- block login
- block welcome-text

- block content-section
  .content-section
    - block content
      .columns.login-form
        .column.is-5.left-block
          .page-title
            - trans "SIGN IN"
          .grey-block(style="width:70%;")
          .grey-block(style="width:45%;")
          .grey-block(style="width:70%;")
          .grey-block(style="width:55%;")
          .grey-block
          - if allow_email_recovery
            %span.forgot-password-link
              %a.has-text-info(href="{% url 'users.user_forget' %}")
                - trans "Forgot Password?"


        .column.is-6.is-offset-1
          %form#login-form(method="post")
            - for field, errors in form.errors.items
              - if field == '__all__'
                .alert.alert-danger.form-errors
                  %h3
                    - trans "Error"
                  {{ errors }}

            %fieldset
              - for field in form
                .field.login-input(class="{% if field.error %}is-danger{% endif %}")
                  {{ field|add_placeholder|add_css:"input" }}
                  - if field.error
                    %span.help-block
                      {{ field.error }}

              - csrf_token

              %button.button.is-info.login-button.is-pulled-right(type="submit")
                - trans "Enter Dashboard"

- block extra-style
  :css
    .login-form {
      background-image: url("{{ STATIC_URL }}img/homemap_bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-blend-mode: soft-light;
    }