- extends "base_admin_dashboard.html"

- load smartmin i18n ureport

- block login
- block welcome-text

- block content-section
  .content-section
    - block content
      .columns.login-form.is-centered.is-desktop
        .column.is-half
          %form#login-form(method="post")
            - for field, errors in form.errors.items
              - if field == '__all__'
                .alert.alert-danger.form-errors
                  %h3
                    - trans "Error"
                  {{ errors }}

            %fieldset
              - for field in form
                .field.login-input(class="{% if field.error %}is-danger{% endif %}")
                  {{ field|add_placeholder|add_css:"input" }}
                  - if field.error
                    %span.help-block
                      {{ field.error }}

              - csrf_token

              %button.button.is-info.login-button(type="submit")
                - trans "Enter Dashboard"
          
              - if allow_email_recovery
              .forgot-password-link
                %a.has-text-info.is-large(href="{% url 'users.user_forget' %}")
                  - trans "Forgot Password?"