- extends "base.html"

- load smartmin i18n

- block login

- block content
  .row.login-form
    .col-md-7.col-md-offset-2
      .page-header
        %h2
          - trans "Sign in"

      %form#login-form.form-stacked{method:"post"}
        - for field, errors in form.errors.items
          - if field == '__all__'
            .alert.alert-danger.form-errors
              %h3
                Error
              {{ errors }}
      
        %fieldset
          - for field in form
            .form-group{class:"{% if field.error %}has-error{% endif %}"}
              %label{ for:"={ field.name }"}
                {{ field.label }}
              .input
                {{ field|add_css:"form-control" }}

              - if field.error
                %span.help-block
                  {{ field.error }}
          - csrf_token
          %button.btn.btn-primary.login-btn{ type:"submit"}
            - trans "Login"
          - if allow_email_recovery
            %span.pull-right{ style:"padding-top:7px;padding-right:150px;"}
              %a{ href:"{% url 'users.user_forget' %}"}
                - trans "Forgot Password?"
