- extends "base_admin_dashboard.html"

- load smartmin i18n

- block login

- block welcome-text

-block content-section
  .has-background-grey(style="padding: 3rem 80px;")
    - block content
    
      .columns
        .column.is-8.is-offset-2
          .message.is-danger
            .message-header
              -trans "Login Failure"
            .message-body
              - blocktrans
                Sorry, you cannot log in at this time because we received {{failed_login_limit}} incorrect login attempts.
              - if lockout_timeout >= 0 
                %p
                  - blocktrans
                    Please wait {{lockout_timeout}} minutes before to try log in again.
              - if allow_email_recovery
                %p
                 - trans "Alternatively, you can fill out the form below to have your password reset via e-mail."
              - else
                %p
                 - trans "Please contact the website administrator to have your password reset."
      
      - if allow_email_recovery
        .columns
          .column.is-offset-2
            %form(method="post" action="{% url 'users.user_forget' %}")
              - csrf_token
              %fieldset
                .field.is-horizontal
                  .field-label
                    %label.label
                      -trans "Email Address"
                  .field-body
                    .field.is-expanded
                      %input.input(type="text" name="email")
                    .field.is-expanded
                      %button.button.is-primary(type="submit")
                        - trans "Recover" 
    