-extends "v2/smartmin/list.html"
-load i18n

- block content-title
  %h2.is-size-2.has-text-weight-bold
    %img(src="{{ STATIC_URL }}img/polls_icon.png")
    .is-inline-block.content-title-text
      -trans "Opinions"


-block table-buttons
  -if view.add_button
    %a.button.is-primary.is-pulled-right(href="./create/")
      - trans "+ New Poll"

-block extra-style
  {{block.super}}
  :css
      td.field_created_on, td.field_poll_date {
        white-space: nowrap;
      }

      td.field_sync_status {
        width: 150px;
      }

      td.field_category {
        max-width: 150px;
      }

      td.field_questions {
        text-align: center;
      }

      td.field_featured_responses {
        text-align: center;
      }

      td.field_images {
        text-align: center;
      }