-extends "v2/smartmin/update.html"
-load smartmin i18n

-block fields
  <fieldset>
    -for field in fields
      -if 'include' in field
        <div class="question">

      {% render_field field %}

      -if 'title' in field
        </div>
  </fieldset>

- block post-form
  -if request.user.is_superuser or perms.polls.poll_pull_refresh
    %a.button.is-primary.posterize(type="submit" name="poll" value="{{object.id}}" href="{% url 'polls.poll_pull_refresh' object.id %}")
      - trans "Refresh Results"

-block extra-style
  :css
    .question {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 10px;
    }


