- extends "v2/smartmin/list.html"

- load smartmin i18n

- block search-form
  %form(role="form")
    .field.has-addons
      .control.is-normal
        .select(style="width: 100px;")
          %select(name="group_id")
            <option value="0" {% if group_id == 0 %}selected="selected"{% endif %}>All</option>
            - for group in groups
              <option value="{{group.id}}" {% if group_id == group.id %}selected="selected"{% endif %}>{{ group.name }}</option>

      .control.is-expanded
        %input.input.search-query(type="text" name="search" value="{{ search }}")
      
      .control
        %button.button(type="submit")
          - trans "Search"

      