- extends "v2/smartmin/update.html"
- load smartmin

- block post-form
  - if perms.auth.user_mimic
    %form.smartmin-form(action="{% url 'users.user_mimic' object.id %}" method="post" enctype="multipart/form-data")
      - csrf_token
      .field.is-horizontal
        .field-label
          %label.label
            Login as
        .field-body
          .field.is-expanded
            %button.button.is-primary(type="submit")
              {{object|user_as_string}}
