- extends "v2/smartmin/create.html"


- block extra-style
  %link{rel:"stylesheet", type:"text/css", href:"{{ STATIC_URL }}css/prettify.css"}
  %link{rel:"stylesheet", type:"text/css", href:"{{ STATIC_URL }}css/summernote-lite.css"}

  :css
    #id_content {
      width: 93%;
      height: 250px;
      margin-right: 20px;
    }

    .note-editable {
      min-height: 250px;
    }

- block extra-script
  <script src="{{ STATIC_URL }}js/prettify.js"></script>
  <script src="{{ STATIC_URL }}js/summernote-lite.min.js"></script>

  :javascript
    $(function(){
      $("#id_content").summernote()
    });
