-extends "smartmin/update.html"
-load smartmin i18n

-block fields
  <fieldset>
    -for field in fields
      -if 'include' in field
        <div class="question">
      -if 'cat_label' in field
        <div class="ruleset_category">
      -if 'priority' in field
        <br/>

      {% render_field field %}

      -if 'priority' in field
        </div>
      -if 'cat_display' in field
        </div>

  </fieldset>

- block post-form
  -if request.user.is_superuser or perms.polls.poll_pull_refresh
    %a.button.is-primary.posterize(type="submit" name="poll" value="{{object.id}}" href="{% url 'polls.poll_pull_refresh' object.id %}")
      - trans "Refresh Results"

-block extra-style
  :css
    .question {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 10px;
    }

    .ruleset_category {
      border: 1px solid #eee;
      padding: 10px;
      margin-bottom: 5px;
      margin-left: 18.25%;
    }
