{% extends "public_base.html" %}
{% load staticfiles %}

{% block extra-style %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
    <link href="{% static 'rest_framework_swagger/bundles/vendors.bundle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'rest_framework_swagger/bundles/app.bundle.css' %}" rel="stylesheet" type="text/css">
    <style>
    #header {
      background-color: transparent;
    }
  .swagger-ui-wrap {
    max-width:100%;
  }
  #swagger-ui-container {
    margin-bottom: 200px;
  }
  .footer {
    display: none;
  }
  </style>
    {% block extra_styles %}
        {# -- Add any additional CSS scripts here -- #}
    {% endblock %}

{% endblock %}


{% block footer %}
{% endblock %}

{% block content-div %}
{% endblock %}

{% block hero %}


  {% block django_rest_swagger %}
  {% endblock %}

{% block header %}
    <header role="banner" class="ureport-header-navbar ureport-public-navbar navbar navbar-static-top" id="ureport-public-navbar">
  <div class="container">
    {% block logo %}
      <a id="logo" href="/"><img class="logo__img" alt="U-Report" src="{% static 'img/logo_placeholder.png' %}" /></a>
    {% endblock %}
  </div>
</header>
{% endblock %}
  <div class="container swagger-section">


<div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
  </div>
  {% block join-banner %}
  {% endblock %}


{% endblock %}

{% block extra-script %}
  <script src="{% static 'rest_framework_swagger/bundles/vendors.bundle.js' %}"></script>
  <script src="{% static 'rest_framework_swagger/bundles/app.bundle.js' %}"></script>

    <script id="drs-settings" type="application/json">
{{ drs_settings | safe }}
</script>

{% block extra_scripts %}
{# -- Add any additional custom JS scripts here -- #}
{% endblock %}

{% endblock %}