- extends "v2/smartmin/list.html"

- load i18n

- block content-title
  %h2.is-size-2.has-text-weight-bold
    - if filtered_type
      %img(src="{{ STATIC_URL }}img/{{filtered_type.slug}}_icon.png")
    - else
      %img(src="{{ STATIC_URL }}img/pages_icon.png")
    .is-inline-block.content-title-text
      - if filtered_type
        {{ filtered_type.name }}
      -else
        -trans "Pages"

- block search-form

- block table-buttons
  - if view.add_button
    - if filtered_type
      %a.button.is-primary.is-pulled-right(href="./create/?type={{filtered_type.pk}}")
        -trans "+ New "
        {{filtered_type.name}}
    -else
      %a.button.is-primary.is-pulled-right(href="./create/")
        - trans "+ New Page"
