__pycache__/
.vscode/
.cache
.DS_Store
*.pyc
*.pyo
*.pyd
.*~
.Python
env/
.pyenv-*/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
nosetests.xml
coverage.xml
*,cover
*.log
.git
.env*
.aws*
*.md
!README*.md
README-secret.md
usr/
node_modules
**/node_modules
node_modules
docker/
staticfiles/
*.py[cod]
settings.ini
db.sqlite3