smartmin
node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# PyCharm
.idea/

# Distribution / packaging
.Python
env/
venv/
.venv/
venv_ureport/
src/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
node_modules/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
*~
*.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml


# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot
*.mo

# Sphinx documentation
docs/_build/

# General
.DS_Store

# Dev
dash.sqlite

# never check in the settings file/link
ureport/settings.py
fabric
fabfile.py
fabconfig.py

# ignore sitestatic directory
sitestatic/
config/
deploy
media/
db/

# symlink to dash and smartmin for dev
dash
smartmin
temba_client

# country-list repo
country-list/

# celery
celerybeat.pid
celerybeat-schedule

# VS code 
.vscode