- load i18n

.section
  %h1.level-1-title
    - trans "MORE POLLS"
  .level-1-title-description.secondary-color
  .card.card-padding
    .row
      .col-md-4.hide-on-small
        .filter-title.primary-color
          - trans "FILTER"
        %hr.hr12.primary-border-color
        %ul.categories.poll-filters
          %li
            %input.category{ type:"radio", name:"category", value:"-1", checked:"true", id:"category-all"}
            %label{ for:"category-all" }
              -trans "All"
          - for category in categories
            %li
              %input.category{ type:"radio", name:"category", value:"{{category.id}}", id:"category-{{category.id}}"}=
              %label{ for:"category-{{category.id}}" }= category.name

      .col-md-8.left-col-border
        .filter-title.primary-color
          - trans "POLL LIST"
          .pull-right.poll-list-description
            - trans "All polls from most recent to oldest"
        %hr.hr12.primary-border-color
        %ul.polls
          - for poll in polls
            %li.poll{ data-category:"{{ poll.category.id }}" }
              %div
                %a{ href: "{% url 'public.poll_read' poll.id %}" }
                  {{ poll.title }}


