- load i18n

.section
  %h1.level-1-title
    - trans "ARCHIVED STORIES"
  .level-1-title-description.secondary-color
  .card.card-padding
    .row
      .col-md-4.hide-on-small
        .filter-title.primary-color
          - trans "FILTER"
        %hr.hr12.primary-border-color
        %ul.categories.stories-filters
          %li
            %input.category{ type:"radio", name:"category", value:"-1", checked:"true", id:"category-all"}
            %label{ for:"category-all" }
              -trans "All"
          -for category in categories
            %li
              %input.category{ type:"radio", name:"category", value:"{{category.id}}", id:"category-{{category.id}}"}=
              %label{ for:"category-{{category.id}}" }= category.name

      .col-md-8.left-col-border
        .filter-title.primary-color
          - trans "LIST"
        %hr.hr12.primary-border-color
        %ul.archived-stories
          - for archived_story in other_stories
            %li.archived-story{ data-category:"{{ archived_story.category.id }}" }
              %div
                %a{ href: "{% url 'public.story_read' archived_story.id %}" }
                  {{ archived_story.title }};
