- extends "public_base_v2.html"

- load thumbnail ureport i18n compress

-block content
  .booklet-bg.for-stories
  .booklet-bg-content
    .page-title-block
      .columns
        .column.page-title
          Stories
        .column.categories-dropdown
          .dropdown
            .dropdown-trigger
              %button.button(aria-haspopup="true" aria-controls="dropdown-menu")
                %span
                  -trans "SEARCH"
                %span.icon.is-small
                  %i.fas.fa-caret-down(aria-hidden="true")
            #dropdown-menu.dropdown-menu.polls-overlay(role="menu")
              .dropdown-content
                .dropdown-item.search-polls
                  .field.has-addons
                    .control#search-input
                      %input.input(type="text" placeholder="Search")
                    .control#search-clear
                      %span.icon
                        %i.fas.fa-times
                .dropdown-item.no-results.is-hidden
                  No results...
                .dropdown-item.polls-category(role="all-polls")
                  .polls-category-label
                    %span
                      %i.fas.fa-chevron-right
                    -trans "All"
                  %ul.polls-category-list
                    - for story in stories
                      %li.poll-list-item
                        %a(href="{% url 'v2.public.story_read' story.id %}")
                          {{ story.title }} ({{story.created_on|date}})          
                
                - for category in categories
                  - if category.story_set.all|length
                    .dropdown-item.polls-category
                      .polls-category-label
                        %span
                          %i.fas.fa-chevron-right
                        {{ category.name }}
                      %ul.polls-category-list
                        - for story in category.story_set.all
                          %li.poll-list-item
                            %a(href="{% url 'v2.public.story_read' story.id %}")
                              {{ story.title }} ({{story.created_on|date}})          

  - for story in featured|slice:"2"
    .booklet-bg(class="story-bg-{{forloop.counter}}")
    .booklet-bg-content
      .featured-story(class="story-{{forloop.counter}}")
        .columns
          - if not forloop.counter|divisibleby:2
            .column
              .featured-story-label
                -trans "FEATURED STORY"
              .story-title
                {{ story.title }}
              .story-teaser
                {{ story.summary|linebreaksbr }}
              %a.read-more-button.button(href="{% url 'v2.public.story_read' story.pk %}")
                -trans "READ MORE"
          .column
            .story-image-bg
              .story-image
                %img{height:"100%", src:"{{ STATIC_URL }}img/missing_image_placeholder.jpg"}
              -# - if story.get_image
              -#   {% thumbnail story.get_image "350x350" crop="top" as im %}
              -#   <img width="100%" height="100%" src="{{im.url}}" />
              -#   {% endthumbnail %}
              -# - else
              -#   %img{height:"100%", src:"{{ STATIC_URL }}img/missing_image_placeholder.jpg"}  
          
          - if forloop.counter|divisibleby:2
            .column
              .featured-story-label
                -trans "FEATURED STORY"
              .story-title
                {{ story.title }}
              .story-teaser
                {{ story.summary|linebreaksbr }}
              %a.read-more-button.button(href="{% url 'v2.public.story_read' story.pk %}")
                -trans "READ MORE"

-block subtitle
  &nbsp;-
  -trans "Stories"

- block hero
  - for main_story in featured|slice:"1"
    .hero-container
      .hero-dark-container
        .container
          .hero-small-background
          .row
            .col-md-6
              .story-hero
                .hero-title.hero-top-title.primary-bg-color
                  - trans "FEATURED STORY"
                .story-hero-title
                  {{ main_story.title }}
                .story-hero-date
                  {{ main_story.created_on|date }}
                -if story.created_by.first_name
                  .hero-author
                    - trans "BY"
                    {{ story.created_by.first_name|upper }} {{story.created_by.last_name|upper}}
                .hero-info.story-hero-info
                  {{ main_story.short_teaser }}
                .hero-title.hero-link.primary-bg-color
                  %a{href:"{% url 'public.story_read' main_story.pk %}"}
                    - trans "Read full story"
                    {{ org|org_arrow_link }}

  - block banner
    {{ block.super }}

- block conrsatent
  .section.hide-on-small
    %h1.level-1-title
      - trans "LATEST STORIES"
    .level-1-title-description.secondary-color
    .card.card-padding
      .filter-title.primary-color
        - trans "FILTERED BY"
      %hr.hr12.primary-bg-color
      .featured-stories-filters
        .row
          .col-md-12
            %input.category{ type:"radio", name:"category", value:"-1", checked:"true", id:"category-all"}
            %label{ for:"category-all" }
              -trans "All"

        .row
          -for category in categories
            .col-md-4{style: "white-space: nowrap; overflow: hidden;"}
              %input.category{ type:"radio", name:"category", value:"{{category.id}}", id:"category-{{category.id}}"}=
              %label{ for:"category-{{category.id}}" }= category.name
  .row
    .col-sm-12
      .stories-filtered
        - for featured_story in featured
          %hr.card-clear

          .story-filtered{ data-category:"{{ featured_story.category.id }}" }
            .white-card-container
              .white-card-inner{style:"min-height:400px,"}
                .white-card-title.primary-bg-color
                  {{ featured_story.category.name|upper }}
                .white-card-image.featured-story-image
                  - if featured_story.get_image
                    {% thumbnail featured_story.get_image "300x200" crop="top" as im %}
                    <img width="100%" src="{{im.url}}" />
                    {% endthumbnail %}
                  - else
                    <img width="100%" src="{{ STATIC_URL }}img/missing_image_placeholder.jpg" />

                .white-card-content.white-card-padding
                  .featured-story-title
                    {{ featured_story.title }}
                  .featured-story-date
                    {{ featured_story.created_on|date }}
                  .half-border.none-color
                  .featured-story-teaser
                    {{ featured_story.short_teaser|safe }}
                %a.featured-story-link{href:"{% url 'public.story_read' featured_story.pk %}"}
                  - trans "Read full story"
                  {{ org|org_arrow_link }}

  %hr.aaa
  - include "public/archived_stories.html"


-block extra-script
  {{ block.super }}
  {% compress js %}
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/archived_stories.coffee" />
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/featured_stories.coffee" />
  {% endcompress %}
  :javascript
    $(".dropdown-trigger").on('click', function() {
      $(this).siblings('.dropdown-menu').toggleClass('is-active');
      $(this).toggleClass('rotation');
      $(".polls-category-list").addClass("is-hidden");
      $("#search-input input").focus();

    });
    
    $(document).ready(function() {
      $(document).mouseup(function (e){
        var container = $(".dropdown-menu, .dropdown-trigger");
        if (!container.is(e.target) && container.has(e.target).length === 0){
          container.removeClass('is-active');
          container.removeClass('rotation');
        }
      });
    });

    $(".polls-category-label").on('click', function() {
      $(this).siblings('ul').toggleClass('is-hidden');
      $(this).toggleClass('rotation')
      $(this).toggleClass('is-active')
    });

    function resetPolls() {
      $(".poll-list-item").removeClass("is-hidden");
      $('.polls-category-label').removeClass('rotation');
      $(".polls-category").removeClass("is-hidden");
      $(".polls-category").children('ul').addClass("is-hidden");
      $(".no-results").addClass('is-hidden');
    }

    $("#search-clear").on("click", function() {
      $(this).parent().children('#search-input').children('input').val("");
      resetPolls();
    });

    $("#search-input input").on('keyup', function() {
      var term = $(this).val().toLowerCase().trim();
      $(".polls-category").addClass("is-hidden");
      $(".no-results").addClass('is-hidden');
      if(!term) {
        $(".poll-list-item").removeClass("is-hidden");
        resetPolls();
        return;
      } else {
        $(".poll-list-item").each( function() {

          if (!$(this).text().trim().toLowerCase().includes(term)) {
            $(this).addClass("is-hidden");
          } else {
            $(this).removeClass("is-hidden");
          }
        })
      }
      $(".poll-list-item:not(.is-hidden)").parent().parent(".polls-category").removeClass("is-hidden");
      $(".polls-category:not(.is-hidden):not([role='all-polls'])").children('.polls-category-label').addClass('rotation');
      $(".polls-category:not(.is-hidden):not([role='all-polls'])").children('ul').removeClass("is-hidden");

      if ($(".polls-category:not(.is-hidden)").length == 0) {
        $(".no-results").removeClass('is-hidden');
      }
    })



- block extra-style
  {{ block.super }}

  :css
    .hero-container {
      {% for main_story in featured|slice:"1" %}
      {% thumbnail main_story.get_category_image "1280x678" crop="top" as im %}
        background-image:url('{{im.url}}');
      {% empty %}
        background-image: url('{{ STATIC_URL }}img/missing_image_placeholder.jpg');
      {% endthumbnail %}
      {% endfor %}
    }

    .hero-small-background {
      {% for main_story in featured|slice:"1" %}
      {% thumbnail main_story.get_category_image "768x508" crop="top" as im %}
        background-image:url('{{im.url}}');
      {% empty %}
        background-image: url('{{ STATIC_URL }}img/missing_image_placeholder.jpg');
      {% endthumbnail %}
      {% endfor %}
    }

    .summary {
      margin-bottom: 15px;
      font-style: italic;
    }

    span.link {
      padding:10px;
    }

    span.link > a {
      color: #fff;

    }

    .featured-story-teaser img {
      max-width: 100%;
    }
