- extends "public_base_v2.html"

-load compress ureport dashblocks thumbnail i18n humanize

- block content
  .booklet-bg
  .booklet-bg-content
    .page-title-block
      .uk-grid-match(uk-grid)
        .uk-width-1-2.page-title
          Engagement

  .engagemment-top-graph-block
    .(uk-grid)
      .uk-width-1-2.block-content(style="background:#000; color:#FFF;")
        .engagement-page-yellow-text.registration-stats-labels
          At a glance
        .registration-stats-numbers.uk-flex-inline
          .signup-part
            .part-count
              1,893
            .part-label
              SIGN-UPS
          .response-rate-part
            .part-count
              21%
            .part-label
              AVG RESPONSE RATE
        .registration-stats-counts.uk-flex-inline
          .part-count.engagement-page-yellow-text
            68,392
          .part-label
            - trans "TOTAL U-REPORTERS IN" 
            {{ org.name|upper }}
          -#
            .uk-width-1-1
              .local-count-label
                
                {{ org.name|upper }}
              .local-count.engagement-page-yellow-text
                {{ reporters|intcomma }}
            .uk-width-1-1
              .worldwide-count-label
                - trans "U-REPORTERS WORLDWIDE:"
              .worldwide-count.engagement-page-yellow-text
                {{ global_counter|intcomma }}
        .registration-stats-graphs(uk-grid)
          .uk-width-1-3.uk-flex-inline
            .gender-stats
              .gender-stat-icon
                %i.fas.fa-male
              .gender-stat-percentage
                60%
              .gender-stat-count.engagement-page-yellow-text
                12,461
            .gender-stats
              .gender-stat-icon
                %i.fas.fa-female
              .gender-stat-percentage
                40%
              .gender-stat-count.engagement-page-yellow-text
                8,358
          .uk-width-2-3.poll-age-graph
            .age-stats{ id: "age-chart"}
            
      .uk-width-1-2.locations-stats.block-content
        .ureport-location-map(id="ureport-location-map-id")
          #ureport-location-map-id-placeholder.loading-placeholder
            %img(src="{{ STATIC_URL }}img/loading.gif")
  
  .filters-block(style="background:#999; padding: 2rem 0;")
    .uk-grid-match(uk-grid)
      .uk-width-2-3
        .filter-results-label
          FILTER RESULTS:
      .uk-width-1-3
        .uk-button-group.time-filters-button
          %button.uk-button.uk-button-secondary
            90 Days
          %button.uk-button.uk-button-secondary
            6 Months
          %button.uk-button.uk-button-secondary
            12 Months

  .engagemment-graphs-block
    .uk-grid-match(uk-grid)
      .uk-width-1-3.block-content
        .block-title
          Opinion Responses
        .block-description

      .uk-width-2-3.block-content
        .engagement-graph
          #poll-responses-graph


    .uk-grid-match(uk-grid)
      .uk-width-1-3.block-content
        .block-title
          Sign-Up Rate
        .block-description

      .uk-width-2-3.block-content
        .engagement-graph
          .contact-field-graph-registration{id: "graph-contact-field-registration"}
            #graph-contact-field-registration-placeholder.loading-placeholder
              %img{src:"{{ STATIC_URL }}img/loading.gif"}

    .uk-grid-match(uk-grid)
      .uk-width-1-3.block-content
        .block-title
          Response Rate
        .block-description

      .uk-width-2-3.block-content
        .engagement-graph
          #poll-response-rate-graph

    .uk-grid-match(uk-grid)
      .uk-width-1-3.block-content
        .block-title
          Active users
        .block-description

      .uk-width-2-3.block-content
        .engagement-graph
          #contact-activity-graph

-block extra-script
  {{ block.super }}
  {% compress js %}
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/ureporters.coffee" />
  {% endcompress %}

  {% include "public/strings_values.html" %}

  :javascript
    $(function(){
      $.ajax({url:'/boundaries/', dataType: "json"}).done(function(boundaries){
        $(".ureport-location-map").each(function(){
          var ajaxUrl = '/contact_field_results/'
          var colorsList = gradientFactory.generate({
            from: '#DDDDDD',
            to: '{{ org|config:"primary_color"}}',
            stops: 6
          });

          window.initMap('ureport-location-map-id', boundaries, ajaxUrl,  '{{ district_zoom|lower }}' === 'true', colorsList, '{{ ward_zoom|lower }}' === 'true', '{{reporters|intcomma}}');
        });
      });
    });

    $("#poll-responses-graph").each(function() {
    
      var maleServerData = {{ responded_male|safe}};
      var maleRespondedData = [];
      Object.keys(maleServerData).forEach(function(key){
        maleRespondedData.push([Date.parse(key), maleServerData[key]]);
      })
      maleRespondedData.sort(function(a,b){return a[0] - b[0];});

      var femaleServerData = {{ responded_female|safe}};
      var femaleRespondedData = [];
      Object.keys(femaleServerData).forEach(function(key){
        femaleRespondedData.push([Date.parse(key), femaleServerData[key]]);
      })
      femaleRespondedData.sort(function(a,b){return a[0] - b[0];});

      (function (H) {

          var pendingRenders = [];
      
          // https://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport/7557433#7557433
          function isElementInViewport(el) {
          
              var rect = el.getBoundingClientRect();
      
              return (
                  rect.top >= 0 &&
                  rect.left >= 0 &&
                  rect.bottom <= (
                      window.innerHeight ||
                      document.documentElement.clientHeight
                  ) &&
                  rect.right <= (
                      window.innerWidth ||
                      document.documentElement.clientWidth
                  )
              );
          }
      
          H.wrap(H.Series.prototype, 'render', function deferRender(proceed) {
              var series = this,
                  renderTo = this.chart.container.parentNode;
      
              // It is appeared, render it
              if (isElementInViewport(renderTo) || !series.options.animation || series.chart.userOptions.chart.type == 'packedbubble') {
                  proceed.call(series);
      
              // It is not appeared, halt renering until appear
              } else  {
                  pendingRenders.push({
                      element: renderTo,
                      appear: function () {
                          proceed.call(series);
                      }
                  });
              }
          });
      
          function recalculate() {
              pendingRenders.forEach(function (item) {
                  if (isElementInViewport(item.element)) {
                      item.appear();
                      H.erase(pendingRenders, item);
                  }
              });
          }
      
          if (window.addEventListener) {
              ['DOMContentLoaded', 'load', 'scroll', 'resize']
                  .forEach(function (eventType) {
                      addEventListener(eventType, recalculate, false);
                  });
          }
      
          }(Highcharts));

      $('#poll-responses-graph').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: null
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
              month: '%b %Y',
              year: '%Y'
            },
        },
        yAxis: {
            title: {
                text: null
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x: %b %Y}: {point.y}'
        },
    
        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },
        credits: {
          enabled: false
        },
    
        colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
        series :[
          {
            name: "Male",
            data: maleRespondedData
          },
          {
            name: "Female",
            data: femaleRespondedData
          }
        ]
     });
    });
    
    
    $("#poll-response-rate-graph").each(function() {
        var response_rates = {{ response_rate|safe}};

        var graphData = [];
        Object.keys(response_rates).forEach(function(key){
          graphData.push([Date.parse(key), response_rates[key]]);
        })
        graphData.sort(function(a,b){return a[0] - b[0];});

         $('#poll-response-rate-graph').highcharts({
              chart: {
                  type: 'spline'
              },
              title: {
                  text: null
              },
              xAxis: {
                  type: 'datetime',
                  dateTimeLabelFormats: {
                    month: '%b %Y',
                    year: '%Y'
                  },
              },
              yAxis: {
                  title: {
                      text: null
                  },
                  min: 0
              },
              tooltip: {
                  headerFormat: '<b>{series.name}</b><br>',
                  pointFormat: '{point.x: %b %Y}: {point.y:.1f}%'
              },
          
              plotOptions: {
                  spline: {
                      marker: {
                          enabled: true
                      }
                  }
              },
              credits: {
                enabled: false
              },
              colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
              series :[
                {
                  name: "Response Rate",
                  data: graphData
                }
              ]
         });
    });


    $("#contact-activity-graph").each(function() {
        var contact_activities = {{ contact_activities|safe}};

        var graphData = [];
        Object.keys(contact_activities).forEach(function(key){
          graphData.push([Date.parse(key), contact_activities[key]]);
        })
        graphData.sort(function(a,b){return a[0] - b[0];});

         $('#contact-activity-graph').highcharts({
              chart: {
                  type: 'spline'
              },
              title: {
                  text: null
              },
              xAxis: {
                  type: 'datetime',
                  dateTimeLabelFormats: {
                    month: '%b %Y',
                    year: '%Y'
                  },
              },
              yAxis: {
                  title: {
                      text: null
                  },
                  min: 0
              },
              tooltip: {
                  headerFormat: '<b>{series.name}</b><br>',
                  pointFormat: '{point.x: %b %Y}: {point.y}'
              },
          
              plotOptions: {
                  spline: {
                      marker: {
                          enabled: true
                      }
                  }
              },
              credits: {
                enabled: false
              },
              colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
              series :[
                {
                  name: "Active contacts",
                  data: graphData
                }
              ]
         });
    });

    $("#age-chart").each(function(){

           var data = {{ age_stats|safe }};

           {% if is_rtl_org %}
           data.reverse();
           {% endif %}

           var categories = [];

           for (i=0; i<data.length; i++) {
             categories.push(data[i].name)
           }

           $('#age-chart').highcharts({
             chart: {
               type: 'column',
               backgroundColor: "#000",
               spacing: [ 3, 5, 3, 5],
               height: "30%",
             },
             credits: {
               enabled: false
             },
             legend: {
               enabled: false
             },
             title: {
                 text: null
             },
             subtitle: {
                 text: null
             },
             xAxis: {
               categories: categories,
               labels : {
                   rotation: 0,
                   style: {
                     fontSize: 20,
                     fontFamily: "SharpSansDisplayBold",
                     color: "#FED200",
                 }
               },
               minorTickLength: 0,
               tickLength: 0
             },
             yAxis: {
               min: 0,
               labels: {
                 enabled: false
               },
               visible: false,
               gridLineWidth: 0,
               title: {
                 text: null
               }
             },
             tooltip: {
               enabled: false
             },
             plotOptions: {
                 column: {
                     color: '#FFF',
                     pointPadding: 0.2,
                     pointWidth: 30,
                     borderWidth: 0,
                     dataLabels:  {
                       enabled: true,
                       style: {
                         fontFamily: "SharpSansDisplayBold",
                       },
                       color: "#FFF",
                       verticalAlign:"bottom",
                       format: '<b>{point.y:.0f}%</b>'
                     }
                 }
             },
             series: [ {name: 'Age' , data: data } ]
           });
         });


    $(function(){
      $(".contact-field-graph-age").each(function(){
        var data = {{age_stats|safe}};

        {% if is_rtl_org %}
        data.reverse();
        {% endif %}

        var categories = [];
        for (var i=0; i<data.length; i++) {
          categories.push(data[i].name);
        }

        $('#graph-contact-field-age-placeholder').hide();
        $('#graph-contact-field-age').highcharts({
          chart: {
              type: 'column'
          },
          credits: {
            enabled: false
          },
          legend: {
            enabled: false
          },
          title: {
              text: null
          },
          subtitle: {
              text: null
          },
          xAxis: {
            categories: categories,
            labels : {
                style : {
                  color:'{{ org|config:"primary_color" }}',
                  fontFamily: "UreportSmallTextFont",
                  fontSize: 14
                },
                rotation: 0
            },
            minorTickLength: 0,
            tickLength: 0
          },
          yAxis: {
              min: 0,
              title: {
                  style : {
                    color:'{{ org|config:"primary_color" }}'
                  },
                  text: '(%)'
              },
              labels: {
                style : {
                  color:'{{ org|config:"primary_color" }}',
                  fontFamily: "UreportSmallTextFont",
                  fontSize: 14
                }
              }
          },
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.x}</span><table>',
            pointFormat: '<tr><td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          },
          plotOptions: {
            column: {
              color: '{{ org|config:"primary_color"}}',
              pointPadding: 0.2,
              borderWidth: 0,
              dataLabels:  {
                enabled: true,
                style : {
                      fontFamily: "UreportHeadlineFont",
                },
                format: '<b>{point.y:.0f}%</b>'
              }
            }
          },
          series: [ {name: 'Age' , data: data} ]
        });
      });
    });



    $(function(){
      $(".contact-field-graph-registration").each(function(){

        var results = {{ registration_stats|safe }};
        var categories = [];
        var data = [];

        var months = {{months|safe}};

        for (i=0; i<results.length; i++){
          category = results[i];
          label = Date.parse(category.label);
          categories.push(label);

          data.push({ name:label,  y: category.count })
        }

        {% if is_rtl_org %}
        data.reverse();
        categories.reverse();
        {% endif %}


        $('#graph-contact-field-registration-placeholder').hide();
        $('#graph-contact-field-registration').highcharts({
          chart: {
              type: 'area'
          },
          credits: {
            enabled: false
          },
          legend: {
            enabled: false
          },
          title: {
              text: null
          },
          subtitle: {
              text: null
          },
          xAxis: {
            categories: categories,
            type: 'datetime',
            labels : {
                style : {
                  color:'{{ org|config:"primary_color" }}',
                  fontFamily: "UreportSmallTextFont",
                  fontSize: 14
                },
                step: 4,
                formatter: function () {
                  // this.value is a Monday and Thursdays seems a better Month estimation day!!
                  return months[ new Date(new Date(this.value).setDate(new Date(this.value).getDate() + 3)).getMonth()];
                }
            }
          },
          yAxis: {
              min: 0,
              gridLineColor: '{{ org|config:"primary_color" }}',
              gridLineWidth: 0.3,
              labels: {
                style: {
                  color:'{{ org|config:"primary_color" }}',
                  fontFamily: "UreportSmallTextFont",
                  fontSize: 14
                  }
              },
              title: {
                  text: "{% trans "Registered" %}",
                  offset: 0,
                  x: -60,
                  y: 30,
                  align: 'low',
                  rotation: 0,
                  style: {
                     color:'{{ org|config:"primary_color" }}',
                     fontFamily: "UreportSmallTextFont",
                     fontSize: 14
                  }
              }
          },
          tooltip: {
              formatter: function() {
                   return '<table><tr><td style="padding:0; font-size: 24px; font-family:UreportHeadlineFont; "><b>'+ this.y + '</b></td></tr></table><span style="font-size:14px; font-family:UreportSmallTextFont">({% trans "Week of" %} ' + Highcharts.dateFormat('%e/%m', this.x) +')</span>';
              },
              shared: true,
              useHTML: true
          },
          plotOptions: {
              area: {
                  color: '{{ org|config:"primary_color"}}',
                  fillOpacity: 0.2,
                  pointPadding: 0.1,
                  borderWidth: 0
              }
          },
          series: [ {name: 'registration' , data: data } ]
        });
      });
    });

    {% if show_occupation_stats %}
    $(function() {
      $(".contact-field-graph-occupation").each(function(){

          var result = {{occupation_stats|safe}};

          if(!result){
            return;
          }

          var data = [];
          var categories = [];

          if (result){
            var results = result[0];
            var total = 0;
            for (i=0; i<result.length; i++){
              category = result[i];
              total += category.count;
            }

            var percentage_lookup = {};

            for (i=0; i<result.length; i++){
              category = result[i];
              label = category.label.trim();
              categories.push('');
              categories.push(label);

              percentage = (category.count == 0) ? 0 : category.count * 100 / total;
              percentage_lookup[label] = Math.round(percentage);

              data.push({ name:"", y: 0});
              data.push({ name:label,  y: Math.round(percentage) });
            }
          }

          {% if is_rtl_org %}
          data.reverse();
          categories.reverse();
          {% endif %}

          $('#graph-contact-field-occupation-placeholder').hide();
          $('#graph-contact-field-occupation').highcharts({
          chart: {
              type: 'areaspline',
              spacingTop: 75
          },
          credits: {
            enabled: false
          },
          legend: {
            enabled: false
          },
          title: {
              text: null
          },
          subtitle: {
              text: null
          },
          xAxis: {
            categories: categories,
            tickWidth: 0,
            labels : {
                enabled: false,
            }
          },
          yAxis: {
              min: 0,
              gridLineWidth: 0,
              labels: {
                enabled: false
              },
              title: {
                  text: null
              }
          },
          tooltip: {
              enabled: false
          },
          plotOptions: {
              areaspline: {
                  color: '{{ org|config:"primary_color"}}',
                  fillOpacity: 1,
                  pointPadding: 0.1,
                  borderWidth: 0,
                  marker: {
                    enabled: false,
                    states: {
                      hover: {
                        enabled: false
                      }
                    }
                  },
                  dataLabels: {
                    enabled: true,
                    useHTML: true,
                    y: 3,
                    crop: false,
                    overflow: "none",
                    formatter: function() {
                      if (this.y > 0) {
                      return '<div style="font-family: UreportHeadlineFont;text-align: center; width: 80px; line-height: 100%; font-size: 24px;color:{{ org|config:"primary_color"}};">'+ this.y + '%</div><div style="text-align:center; width: 80px; line-height: 120%; font-size: 14px; font-family:UreportSmallTextFont; white-space: normal;">' + this.x + '</div><div style="height: 35px;width: 2px;margin-left: auto;margin-right: auto; border-left: 1px solid; border-color:{{ org|config:"primary_color"}};"></div>'

                      }
                      else return '';
                    }
                  }
              }
          },
          series: [ {name: null , data: data } ]
          });
        });
      });
    {% endif %}

- block extra-style
  - load_qbs request.org 'ureporters'
  {{ block.super }}
  :css
    .highcharts-background {
      fill: transparent;
    }
   
   .hero-container {
      {% for d_block in ureporters|slice:":1" %}
      {% thumbnail d_block.image "1280x678" crop="top" as im %}
        background-image:url('{{im.url}}');
      {% empty %}
        background-image: url('{{ STATIC_URL }}img/missing_image_placeholder.jpg');
      {% endthumbnail %}
      {% endfor %}
    }
    .ureport-location-map  {
      height: 500px;
      width: 100%;
    }

    .ureport-location-map svg {
      height: 480px;
    }

    .leaflet-container {
      background: #fff;
    }

    .top-color {
      color: {{ org|config:"primary_color"}};
    }

    #graph-contact-field-age {
      height: 200px;
    }

    #graph-contact-field-gender {
      height: 200px;
    }

    #graph-contact-field-age-placeholder {
      min-height: 200px;
      padding-top: 50px;
    }

    .scale {
      {% if org|config:"is_global" %}
      display: none;
      {% endif %}
    }