.menu-list {
    li {
      a {
        border-bottom: 1px solid white;
        margin: 0px 10px;
        padding: 20px;
      }
    }
}

.content-title-text {
  margin: 0px 20px;
}

.smartmin-form-buttons {
  padding: 17px 20px 18px 0px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #eeeeee;
  border-top: 1px solid #ddd;
}

.select {
  width: 100%;

  select {
    width: 100%;
  }

}

#ureport-public-footer {
  
}

#ureport-footer-mobile {
  padding: 10px;
  margin-bottom: 0;

  .footer-big-nav {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 2rem;

    .link {
      padding: 5px;
      border-bottom: 1px solid gray;
      display: inline;
    }
    
  }

  .footer-small-nav {
    font-weight: bold;
    font-size: 0.7rem;
    padding-top: 1.2rem;

  }
  .footer-social-media {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .footer-extra-nav {

  }

}

#ureport-footer-desktop {
  margin-bottom: 0; 
  
  .footer-mobile-logo {
    margin: 0.75rem 0rem;
  }

  .footer-big-nav {
    font-weight: bold;
    font-size: 2rem;
    margin: 0.75rem 0rem 0.75rem 0.75rem;

    .link {
      text-align: center;
      padding: 5px;
      line-height: 3rem;
      display: inline;
      border-bottom: 1px solid gray;
    }

  }

  .footer-countries-nav {
    margin: 0.75rem 0rem 0.75rem 0.75rem;
    text-align: end;
    line-height: 3rem;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.5rem;
    font-variant-caps: all-small-caps;

    .icon {
      margin: 0px 10px;
      line-height: 3rem;
      display: inline;
    }


  }

  .footer-small-nav {
    margin: 0.75rem 0rem 0.75rem 0.75rem;
    line-height: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
  }

  .footer-extra-nav {
    margin: 0.75rem 0rem 0.75rem 0.75rem;
    line-height: 3rem;
    
    .column {
      line-height: 2rem;
      text-align: center;
      display: inline;
      font-size: 1.5rem;

      .icon {
        display: inline;
        margin-right: 10px;
      }
    }

    .footer-social-media {
      font-size: 2rem;
    }

  }

}
