@headline-font: SharpSansDisplayBold, sans-serif;
@subheadlines-font: SharpSansDisplayMedium, sans-serif;
@text-font: 'Roboto', sans-serif;
@small-text-font: 'Montserrat', sans-serif;

@bg-dark-blue: #050E28;
@gold-yellow: #FED100;
@green: #009A16;
@light-blue: #40B5E5;

@qsn-colors-list: #8750A1, #FED100, #3FB5E5;



body {
  font-family: @text-font;
  color: #000;
}

.tab-content {
  display: none;

  &.is-active {
    display: block
  }
}

.dropdown-menu {
  &.is-active {
    display: block;
  }
}

.selection {
  float: right;

  &:focus {
    outline: none;
  }
}

.browse-polls {
  display: none;
}

.content-section {
  padding: 5rem;
  background-color: @bg-dark-blue;
}

.content-title-text {
  margin: 0px 20px;
  font-family: @headline-font;
}

.top-nav-container {
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: @subheadlines-font;

  .icon {
    font-size: 2rem;
    margin-right: 1.25rem;
  }

}

h2 {
  .icon {
    padding-left: 1.3rem;
  }
}

.smartmin-form-buttons {
  padding: 17px 20px 18px 0px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #eeeeee;
  border-top: 1px solid #ddd;
}

.select {
  width: 100%;

  select {
    width: 100%;
  }

}



#ureport-public-footer {
  
}

#ureport-footer-mobile {
  padding: 10px;
  margin-bottom: 0;

  .footer-big-nav {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 2rem;

    .link {
      padding: 5px;
      border-bottom: 1px solid gray;
      display: inline;
    }
    
  }

  .footer-small-nav {
    font-weight: bold;
    font-size: 0.7rem;
    padding-top: 1.2rem;

  }
  .footer-social-media {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .footer-extra-nav {

  }

}

#pre-footer {
  background-color: @bg-dark-blue;
  margin: 0;
  padding: 5rem 7.5rem;
  font-family: @headline-font;

  .main-story-title {
    color: #FFF;
    font-size: 1.5rem;
    height: 8rem;
    max-width: 80%;

  }

  .main-story-button {
    margin: 3rem 0;
    a {
      background-color: #000;
    color: #FFF;
    border: none;
    padding: 1rem 1.5rem;
    }
  }

  .pre-footer-call-to-action {
    border-right: 1px solid #FFF;
    padding-right: 4rem;
    color: #FFF;

    .call-to-action-text {
      text-align: end;
      font-size: 3rem;
    }

    .call-to-action-button {
      margin: 4rem 0;
      .button {
        font-size: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem; 
      } 
    }
  }

}

a {
    color: inherit;
}

#ureport-footer-desktop {
  margin: 0;
  padding: 4rem 7.5rem 4rem 7.5rem;;
  font-family: @headline-font;
  background-color: #FFF;
  color: #000;  


  .column {
    padding: 0; 

    .columns {
      margin: 0
    }
  }
  
  .footer-big-nav {
    font-weight: bold;
    font-size: 2rem;
    height: 5rem;

    .link {
      line-height: 3rem;
      text-align: center;
      padding: 5px;

      display: inline;
      border-bottom: 1px solid gray;
    }

  }

  .footer-countries-nav {
    margin: 0.75rem 0rem 0.75rem 0.75rem;
    text-align: end;
    line-height: 5rem;
    font-weight: bold;
    font-size: 1rem;

    .icon {
      vertical-align: middle;
      font-size: 2rem;
      margin-right: 1rem;
    }
  }

  .footer-small-nav {
    margin: 0.75rem 0rem 0.75rem 0.75rem;
    line-height: 5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .footer-extra-nav {
    margin: 0.75rem 0rem 0.75rem 0.75rem;
    font-family: @subheadlines-font;
    padding-top: 1rem;
    
    .column {
      line-height: 2rem;
      text-align: center;
      display: inline;
      font-size: 1.2rem;

      .icon {
        display: inline;
        margin-right: 10px;
        font-size: 1rem;
      }
    }

    .footer-social-media {
      .icon {
        font-size: 1.8rem;
      }
      

    }

  }

}
 

#ureport-public-header {
  padding: 0 7.5rem;
  font-family: @headline-font;
  margin-bottom: 5rem;

  
  .header-countries-nav {
    padding: 0.75rem 0;
    line-height: 5rem;
    vertical-align: middle;
    font-weight: bold;
    font-size: 0.85rem;
    font-variant-caps: titling-caps;
    color: #000;

    .icon {
      font-size: 1.8rem;
      margin-right: 1rem;
    }
  }

  .header-small-nav {
    line-height: 5rem;
    vertical-align: middle;
    font-weight: bold;
    padding: 1.2rem;
    font-family: @subheadlines-font;

    &:last-of-type {
      padding-right: 0;
    }

    .engage-call-to-action {
      font-family: @headline-font;
    }
    
    .icon {
      font-size: 1.2rem;
      line-height: 3rem;
      margin-right: 0.5rem;
      padding-right: 0;
      text-align: end
    }
  }

  .header-big-nav {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: bold;

    .link {
      display: inline-block;
      padding: 0.5rem;
      line-height: 3rem;
      border-bottom: 1px solid #000;
      color: #000;
    }
  }

  .header-social-media {

  }


}

#mobileNavbar {
  padding: 1.5rem;
  .navbar-start {
    margin-bottom: 2rem;

    .navbar-item {
      .link {
        display: inline-block;
        border-bottom: 1px solid gray;
      }
    }

  }

  .header-small-nav {

    vertical-align: middle;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    line-height: 1.5;
    
    .icon {

      margin-right: 0.5rem;
      padding-right: 0;
      text-align: end
    }
  }

  .header-social-media-mobile {
    margin-top: 3rem;
    font-size: 2rem;

    .icon {
      margin-right: 2rem;
    }
  }

  .header-search-mobile {
    font-size: 1.2rem;
    .icon {
      margin-right: 1rem;
      font-size: 1.5rem;

    }
  }

}

.admin-header {
  padding: 60px 80px 0px 80px; 
  background-color: rgb(6, 14, 38);
  color: #FFFFFF;

  .level {
    border-bottom: 1px solid white; 
    padding-bottom: 20px;

    .square-logo {
      margin-right: 1.6rem; 
      width: 80px; 
      height: 80px;
      border: 1px solid green;
      background-color: white;
    }

    .title-block {
      vertical-align: middle;

      .welcome-message {
        font-size: 1.5rem;
        line-height: 1rem;
        font-family: @subheadlines-font;
      }

      .page-title-text {
        font-weight: bold;
        font-size: 3rem;
        line-height: 4rem;
        font-family: @headline-font;
      }
    }

    .logged-in-account {
      color: #FFFFFF;
      font-size: 1.2rem;
      margin-right: 4rem;
      font-family: @subheadlines-font;
    }

    .logout-button {
      color: #FFFFFF;
      background-color: inherit;
      font-family: @subheadlines-font;

    }
  }
}

.login-form, .admin-home-bg {
  padding-bottom: 35rem;
  background-color: rgb(6, 14, 38); // image bg
  
  .right-block {
    .link-button {
      background: none;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;

      .big-button-link {
        padding: 50px;
        font-family: @subheadlines-font;

        .tile.is-child:not(:last-of-type) {
          border-bottom: 1px solid; 
          padding-bottom: 20px;
        }
      }

      .small-button-link {
        padding: 30px;
        
        .tile.is-child:not(:last-of-type) {
          border-bottom: 1px solid; 
          padding-bottom: 20px;
        }
      }

    }
  }

  .left-block {
    border-right: 2px solid #FFFFFF;
    
    .page-title {
      color: #FFFFFF;
      font-size: 1.6rem;
      font-weight: bolder;
      font-family: @headline-font;
    }

    .grey-block {
      border-bottom: 8px solid rgb(137, 137, 137);
      height: 2rem;

      &:last-of-type {
      border: none;
      }
    }

    .forgot-password-link {
      font-size: 1.3rem;
      padding-top:7px;
      padding-right:150px;
    }

  }

  .login-button {
    text-align: center;
    width: 460px;
    height: 4rem;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: bolder;
    
  }

  .login-input {
    margin-bottom: 1.6rem;

    .input {
      height: 4.2rem;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}

.footer {
  .footer-content {
    padding: 5rem;
    background-color: #000000;
    color: #FFFFFF;

    .footer-logo {
      margin-right: 1.6rem; 
      width: 400px; 
      height: 100px;
      border: 1px solid green;
      background-color: white;
    }

    .big-footer-nav {
      border-bottom: 1px solid white;
      padding-bottom: 40px;
      
      .big-footer-link {
        color: #FFFFFF;
        font-size: 1.8rem;
        line-height: 3.5rem;
        border-bottom: 1px solid #FFF;
        font-weight: bold;
        display: block;
        font-family: @headline-font;
        
        &:not(:last-of-type) {
          margin-right: 4rem;
        }
      }
    }


    .small-footer-nav {
      background-color: #000000;

      .small-footer-link {
        color: #FFFFFF;
        display: block;
        font-weight: bold;
        font-family: @subheadlines-font;


        &:not(.button) {
          padding: 0.75rem .75rem 0.75rem 0;
          margin-right: 1.5rem;

        }

        &.is-outlined {
          background-color: #000000;
          border-color: darkgreen;
        }
      }
    }
  }
}

#left-menu {
  background-color: rgb(10, 17, 44);
  font-family: @headline-font;

  padding: 3rem 10px;
  margin: 0.75rem 0;  

  a {
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.5rem;
    border-bottom: 1px solid white;
    margin: 0px 10px;
    padding: 10px 20px 10px 5px;

    &:hover {
      color: inherit;
    }

    .icon {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-right: 10px;
      display: inline-block;
    }
  }
}

.icon.colored {
  .fa-cog {
      color: rgb(114, 57, 142);
  }

  .fa-file-alt {
    color: rgb(21, 169, 149);
  }

  .fa-code-branch {
    color: rgb(4, 54, 160);
  }

  .fa-chart-area {
    color: rgb(233, 65, 105);
  }

  .fa-user {
    color: rgb(18, 129, 18);
  }

  .fa-edit {
    color: rgb(252, 109, 7);
  }

  .fa-comments {
    color: rgb(156, 202, 42);
  }


}

.poll-story-block {
  padding: 1rem 0rem 1rem 0rem;
}

.block-content {
  padding: 8rem 7.5rem;
  
  .question-title {
    color: #FFF;
    font-size: 2.5rem;
    font-family: @headline-font,
  }

  .right-zone, .left-zone {
    font-family: @headline-font;
    font-weight: bold; 
    font-size: 1rem;   
    color: #FFF;

  }

  .right-zone {
    text-align: end;
  }

  .question-number {
    color: #FFF;
    font-size: 1rem;
    font-weight: bold; 
    background: black;
    border-radius: 30px;
    text-align: center;
    font-family: @subheadlines-font;

  }

  .question-line {
    border-bottom: 2px solid #FFF;
    padding: 6px;
  }


}

.booklet-bg-no-margin {
  background-image:
    linear-gradient(rgba(128,128,128,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(128,128,128,.28) 1px, transparent 1px);
  background-size: 100px 60px, 45px 200px;
  background-position: -2px -10px, -2px -2px, -1px -1px, -1px -1px;
}

.booklet-bg {
  background-image:
    linear-gradient(rgba(128,128,128,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(128,128,128,.28) 1px, transparent 1px);
  background-size: 100px 60px, 45px 200px;
  background-position: -2px -10px, -2px -2px, -1px -1px, -1px -1px;
  min-height: 40rem;
  margin-bottom: -40rem;
  margin-top: 5rem;
}

.booklet-bg-content {
  margin-bottom: 5rem;

  .content-color-bg {
    margin-top: 10rem;
    min-height: 400px;
    width: 100%;
    background-image: linear-gradient(90deg, #050E28 60%, #8750A1 40%);

  }
  .content-container-block {
    background-color: #FFF;
    min-height: 500px;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: -20rem; 

  }
}
  
.poll-story-block {
  padding:5rem 8rem;

  img {
    max-width: 60%;
    display: block;
    margin: 1rem;
    float: right;
  }

  .fb_iframe_widget_lift {
    width: 100% !important;
  }

  .recent-results {
    background-color: #FFF;
    color: #000;
    border: #000 1px solid;
    border-left: 25px solid yellow;
    padding: 0.75rem;
  }

  .poll-story-title-text {
    font-size: 3rem;
    font-family: @headline-font;
  }

  .poll-story-date {
    font-size: 0.75rem;
    padding: 3px;
    padding-left: 0.75rem;
  }

  .poll-story-author {
    font-size: 0.75rem;
    padding: 3px;
    padding-left: 0.75rem;
  }

  .poll-story-text {
    font-size: 1rem;
    margin-top: 1rem;

  }

}


.page-title-block {
  padding: 3rem 7.5rem 0 7.5rem;
  margin-bottom: -4rem;


  .page-title {
    font-family: @headline-font;
    font-size: 6rem;
  }

}

.poll-title-block {
  background-color: @bg-dark-blue;
  color: #FFF;

  .poll-stats {
    background-color: rgba(255, 255, 255, .25);
    display: inline-block;
    margin: 2rem 0rem;
    padding: 2rem;
    
    .number-figure {
      font-size: 3rem;
      padding: 0rem 3rem;
    }
    .number-label {
      padding: 0rem 3rem;
      font-size: 1.2rem;
      font-weight: bold;
    }

  }

  .recent-results {
    background-color: #FFF;
    color: #000;
    border-left:25px solid yellow;
    padding: .75rem;
  }

  .questions-count {
    font-size: 1.5rem;
    font-family: @subheadlines-font;
  }

  .poll-title {
    font-size: 3rem;
    font-family: @headline-font;
  }
}

.poll-question-block {
  .for0 {
    background-color: extract(@qsn-colors-list, 1);
  }

each(range(15), {
  .for@{value} {
    background-color: extract(@qsn-colors-list, mod(@value, length(@qsn-colors-list)) + 1);
  }  
});
}


.homepage-reporters-stats {
  background-color: #000;
  color: #FFF;
  padding: 3rem 8rem;

  .columns {
    border-top: 1px solid #FFFFFF;
  }
}

.homepage-color-bg-content {
  color: #FFF;
  padding: 10rem 7.5rem;

  .recent-results-label {
    background-color: #FFF;
    color: #000;
    border-left: 25px solid yellow;
    padding: 0.75rem;
    display: inline;
    padding-right: 2rem;

  }

  .poll-title {
    font-size: 3rem;
    font-family: @headline-font;
    margin: 2rem 0;
  }

  .poll-question-title {
    font-size: 1.75rem;
    font-family: @headline-font;
    padding: 0 2rem;
    border-left: 1px solid #FFFFFF;
    margin: 3rem 0;

  }

}
.homepage-color-bg-main {
  z-index: -1;
  width: 55%;
  position: absolute;
  border-top: 80rem solid green;
  border-right: 10rem solid transparent;

}

.homepage-color-bg-1 {
  background-color: @gold-yellow;
}

.homepage-color-bg-2 {
  background-color: @green;
}

.homepage-color-bg-3 {
  background-color: @light-blue;
}

.social-media-block {
    text-align: center;
}

.homepage-block-content {
  text-align: center;

  .join-button {
    background-color: #000;
    color: #FFF;
    border: none;
    border-radius: 0;
    padding: 2rem 4rem;
    font-size: 1.5rem;
    font-family: @headline-font;
    margin-bottom: 4rem;
  }

  .join-description {
    font-size: 3rem;
    margin: 4rem 0;
    font-family: @headline-font;

  }
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
    transform-origin: top;
      
  }
  1% {
    display: block;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
    height: 0
  }
  100% {
    height: 100%;
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
  }
}


.polls-category {
  padding: 0 1rem;

  .polls-category-label {
    padding: 1rem 1rem 1rem 0;
    
    span {
      margin-right: 0.5rem; 
    }

    &.rotation {
      span {
        svg {
          transform: rotate(90deg)
        }
      }
    }
  }

  .polls-category-list {
    margin-left: 0.25rem;
    border-left: 1px solid #000;
    padding: 1rem;
    transform: scale(1);
    animation: anim .15s linear;

    &.is-hidden {
      display: none;
      transform: scale(0);
      transition: transform .15s ease-in-out, opacity .15s ease-in-out;
    }

    li {
      a {
        padding: 1rem 0;
        cursor: pointer;
        display: block;

        &:hover {
          background-color: #000000;
          color: #fff;
        }
      }
    }

  }
}



.categories-dropdown {
  text-align: end;
  margin: auto 0;

  .dropdown {

    .dropdown-trigger {
      width: 16rem;

      &.rotation {
        span.icon {
          svg {
            transform: rotate(180deg);
          }
        }
      }


      button {
        background-color: #000;
        color: #fff;
        width: 100%;
        height: 3.25rem;
        font-size: 1rem;
        font-family: @headline-font;

        span {
          height: 1.5rem;
          margin-left: 0 !important;
          border-bottom: 2px solid #fff;
        }
      }
    }

  }
}

.polls-overlay {
  width: 40rem;
  left: unset;
  right:0;
  padding: 1rem;
  background-color: #fff;
  text-align: start;

  .dropdown-content {
    border-radius: 0;
    border: none;
    min-height: 200px;
    padding: 3rem;
    box-shadow: 0 10px 30px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

    .search-polls {
      margin-bottom: 4rem; 
    }

    #poll-browse-search {
      span.icon {
        cursor: pointer;
        z-index: 20;
      }
    }

  }

}

#search-input {
  width: 100%;

  input {
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
  }

}

#search-clear {
  margin: auto 0rem auto -2rem;
  z-index: 10;

  &:hover {
    color: #888;
  }

  &:active {
    color: #000;
  }


}