- extends "v2/smartmin/base.html"

- load smartmin i18n

- block pre-content

- block content
  - block pjax
    %article.message.is-danger
      .message-header
        - trans "Remove Item?"
      .message-body
        %p
          - blocktrans with object=object
            Are you sure you want to remove <strong>{{ object }}</strong>?
        %div
        %p
          - trans "Once it is removed, it will be gone forever. There is no way to undo this operation."
  
    %form(method="POST")
        - block delete_form
        .field.smartmin-form-buttons.is-horizontal
          .field-label
          .field-body
          .field.is-grouped
            .control
              %a.button(href="{{ cancel_url }}")
                - trans "Cancel"
              - csrf_token
            .control
              %button.button.is-danger(type="submit") 
                - trans "Remove"
