- extends "v2/smartmin/base.html"

- load smartmin i18n

- block content
  - block pjax
    #pjax.columns
      .column(class="{% block form-span %}is-12{% endblock %}")
        - block pre-form

        %form.smartmin-form(method="post" enctype="multipart/form-data" role="form")
          - block pre-form-errors

          - if form.non_field_errors
            .message.is-danger.form-errors
              {{ form.non_field_errors }}

          - block post-form-errors

          - block pre-fields

          - block form-help

          - block fields

            %fieldset
              - for field in fields
                {% render_field field %}

              - block extra-fields

          - block post-fields

          - csrf_token

          - block form-buttons
            .field.smartmin-form-buttons.is-horizontal
              .field-label
              .field-body
                .field.is-grouped
                  .control
                  	%button.button.is-primary(type="submit")
                      {{ submit_button_name }}
                  .control
                    %a.button(onclick="javascript:history.go(-1)")
                      - trans "Cancel"

        - block post-form            

      - block form-right

- block extra-script
  {{ block.super }}
  :javascript
    $(document).ready(function() {
      $('input[readonly]').prop('disabled', true);
    });

  - if javascript_submit
    :javascript
      // attach a submit handler to the form
      $("#smartmin_form").submit(function(event) {
  
      // stop form from submitting normally
      event.preventDefault();
      event.stopPropagation();

      // get some values from elements on the page:
      var form = $(this);
      var data = form.serialize();
      {{ javascript_submit }}(form, data);
      });
