- extends "v2/smartmin/base.html"

- load smartmin i18n

- block pre-content

- block content
  - block table-controls
    .columns
      .column
        - block content-title
          %h2.is-size-2.has-text-weight-bold
            .icon.colored
              {{ icon }}
            .is-inline-block.content-title-text
              {{ title }}

      .column
        - if view.search_fields
          - block search-form
            %form(role="form")
              .field.has-addons
                %p.control.is-expanded
                  %input.input.search-query(type="text" name="search" value="{{ search }}")
                %p.control
                  %button.button(type="submit")
                    - trans "Search"
        - else
          &nbsp;
      .column.is-pulled-right.is-2
        - block table-buttons
          - if view.add_button
            %a.button.is-primary.is-pulled-right(href="./create/")
              - trans "Add"
  - block pjax
    #pjax
      .columns
        .column.is-12
          -block pre-table

          -block table
            %table.table.is-striped.is-fullwidth.is-hoverable.list-table(class="{% get_list_class object_list %}")
              %thead
                %tr
                  - for field in fields
                    %th(class="header-{{field}} {% if view|field_orderable:field %}header {% if field == order %}{% if order_asc %}headerSortUp{% else %}headerSortDown{% endif %}{% endif %}{% endif %}" id="header-{{field}}")
                      - get_label field
              %tbody

                {% for obj in object_list %}
                  %tr(class="{% cycle 'row2' 'row1' %} {% if not obj.is_active and obj|is_smartobject %}inactive{% endif %}")
                    - for field in fields
                      %td(class="value-{{field}} {% get_class field obj %}{% if field in link_fields %} clickable{% endif %}")
                        {% if field in link_fields %}<a {% if pjax %}data-pjax='{{ pjax }}'{% endif %} href="{% get_field_link field obj %}">{% endif %}{% get_value obj field %}{% if field in link_fields %}</a>{% endif %}
                {% empty %}
                  %tr.empty_list
                    - for field in fields
                      <td></td>
                {% endfor %}

                - block extra-rows
            
          - block post-table

      
  
  - block paginator
    .columns
      .column.is-3
        .pagination-text
          - if not paginator or paginator.num_pages <= 1
            {% blocktrans count counter=object_list|length %}
  	          {{ counter }} result
  	        {% plural %}
              {{ counter }} results
            {% endblocktrans %}
          -else
            {% blocktrans with start=page_obj.start_index end=start_obj.end_index count=paginator.count %}
          	  Results {{ start }}-{{ end }} of {{ count }}
  	        {% endblocktrans %}
            
      .column.is-9.is-pulled-right
        - if paginator and paginator.num_pages > 1
          %nav.pagination.is-right(role="navigation" aria-label="pagination")
            %ul.pagination-list
              - if page_obj.has_previous
                %li
                  %a.pagination-previous(href="{{url_params|safe}}page={{page_obj.previous_page_number}}")
                    &larr; 
                    - trans "Previous"
              - else
                %li
                  %a.pagination-previous(disabled)
                    &larr; 
                    - trans "Previous"
              
              - for page_num in paginator.page_range
                - if page_num == page_obj.number
                  %li
                    %a.pagination-link.is-current
                      {{ page_num }}
                -else
                  - if page_obj.number < 5
                    - if page_num < 10
                      %li
                        %a.pagination-link(href="{{url_params|safe}}{{order_params|safe}}page={{page_num}}")
                          {{ page_num }}
                
                  - elif page_num < page_obj.number|add:"5" and page_num > page_obj.number|add:"-5"
  	                %li
                      %a.pagination-link(href="{{url_params|safe}}{{order_params|safe}}page={{page_num}}")
                        {{ page_num }}

                  - elif page_obj.number > paginator.num_pages|add:"-5"
                    %li
                      %a.pagination-link(href="{{url_params|safe}}{{order_params|safe}}page={{page_num}}")
                        {{ page_num }}
              - if page_obj.has_next
                %li
                  %a.pagination-next(href="{{url_params|safe}}{{order_params|safe}}page={{page_obj.next_page_number}}")
                    - trans "Next"
                    &rarr;
              - else
                %li
                  %a.pagination-next(disabled)
                    - trans "Next"
                    &rarr;

- block extra-script
  {{ block.super }}
  :javascript
    $(document).ready(function(){
      $("th.header").click(function(evt){
        // build up our ordering
        var field = evt.target.id.substr(evt.target.id.indexOf("-")+1)
  
        {% if order_asc %}
         if (field == "{{order}}"){
           field = "-" + field;
         } 
         {% endif %}
  
         document.location = "{{url_params|safe}}_order=" + field;
      });
    });
