- extends "v2/smartmin/base.html"

- load smartmin i18n

- block content
  - block pjax
    #pjax#read-view
      .columns
        .column.is-12.buttons
          - block read-buttons
          - if view.edit_button
            %a.button.is-primary.is-pulled-right(href="../../update/{{ object.id }}/")
              -trans "edit"
      
      .columns
        .column.is-12
          - block pre-fields
          
          - block fields
            %table.table.table-striped
              %tbody
                - for field in fields
                  %tr(class="read-{{field}}")
                    %td.read-label
                      - get_label field
                    %td.read-value
                      - get_value object field
                      &nbsp;

                - block extra-fields
          - block post-fields


