- extends "v2/smartmin/form.html"
- load i18n

- block form-buttons

  .field.smartmin-form-buttons.is-horizontal
    .field-label
    .field-body
      .field.is-grouped
        .control
        	%button.button.is-primary(type="submit")
            {{ submit_button_name }}
        .control
          %a.button(onclick="javascript:history.go(-1)")
            - trans "Cancel"
      -if delete_url
        .field
          .control
            %a.button.is-danger.is-pulled-right(href="{{ delete_url }}")
              -trans "Remove"
