- extends "public_base_v2.html"

- load dashblocks thumbnail i18n ureport
- block hero
  - load_qbs request.org 'about'

  - for d_block in about|slice:":1"
    .hero-container
      .hero-dark-container
        .container
          .hero-small-background
          .row
            .col-md-7
              .hero-dark-content
                .hero-title.hero-top-title.primary-bg-color
                  - trans "ABOUT U-REPORT"
                .hero-description
                  {{ d_block.summary }}
                .hero-info
                  - trans "Scroll to Learn more"


  - block banner
    {{ block.super }}


- block content
  - load_qbs request.org 'terms_conditions'
  - load_qbs request.org 'about'
  - load_qbs request.org 'missions'
  - load_qbs request.org 'contact_us'

  - for d_block in terms_conditions|slice:":1"
    .row
      .col-md-8.right-col-border
        .section
          %h1.level-1-title
            {{ d_block.title }}
            .level-1-title-description.secondary-color
          .card.card-padding
            .about-details
              {{d_block.content|safe}}

  - for d_block in about|slice:":1"
    .row
      .col-md-8.right-col-border
        .section
          %h1.level-1-title
            - trans "ABOUT U-REPORT"
            .level-1-title-description.secondary-color
          .card.card-padding
            .about-details
              {{d_block.content|safe}}
            %hr.aaa

            - if missions
              .subsection
                .subsection-title
                  - trans "The mission of U-Report"

                .missions
                  .row
                    - for mission in missions|slice:"3"
                      .col-xs-4
                        .mission-image
                          {% thumbnail mission.image "400x250" crop="top" as im %}
                          <img width="100%" src="{{ im.url }}">
                          {% endthumbnail %}
                        .mission-text
                          {{ mission.content|safe }}

              %hr.aaa

            .subsection
              .ureport-world
                - for contact in contact_us|slice:"1"
                  .subsection-title
                    {{ contact.title|title }}
                  .half-border.primary-bg-color
                  .subsection-content
                    {{ contact.content|safe }}

              .ureport-world.left-divider
                .subsection-title
                  - trans "Why Join U-Report?"
                .half-border.primary-bg-color
                %ul.subsection-content
                  %li
                    - trans "Speak out on what's happening in your community"
                  %li
                    - trans "Use U-Report results and information to update and increase citizen's awareness"
                  %li
                    - trans "Participate in nationwide campaigns to help improve your country"
                  %li
                    {% blocktrans with country=org.name %}Share what's happening around {{ country }} with other U-Reporters{% endblocktrans %}

                %a.subsection-link{ href:"{% url 'public.join' %}"}
                  %nobr.primary-color
                    - trans "CLICK HERE TO JOIN"
                    {{ org|org_arrow_link }}

      -if not is_iorg
        .col-md-4.hide-on-small
          .section
            %h1.level-1-title
              - trans "U-REPORT VIDEOS"
              .level-1-title-description.secondary-color

          .card.card-padding
            - if not videos
              .yt-block-content.no-content
                -trans "No videos yet."
            .yt-videos
              - for vid in videos
                .yt-block
                  %iframe{ width:"100%", height:"225", src:"//www.youtube.com/embed/#{ vid.video_id }", frameborder:"0"}
                  .yt-block-title.primary-color
                    {{ vid.title|upper }}
                  .yt-block-created-on
                    {{ vid.created_on|date|upper }}

                  .yt-block-content
                    {{ vid.description|truncatechars:"250" }}
                    %a{ href:"https://www.youtube.com/watch?v=#{ vid.video_id }", style:"font-family:UreportHeadlineFont; font-size:.75em;"}
                      %nobr.primary-color
                        - trans "WATCH IT ON YOUTUBE"
                        {{ org|org_arrow_link }}

                %hr.aaa

- block extra-style
  {{ block.super }}
  - load_qbs request.org 'about'
  :css
   .hero-container {
      {% for d_block in about|slice:":1"%}
      {% thumbnail d_block.image "1280x678" crop="top" as im %}
        background-image:url('{{im.url}}');
      {% empty %}
        background-image: url('{{ STATIC_URL }}img/missing_image_placeholder.jpg');
      {% endthumbnail %}
      {% endfor %}
    }

    .hero-small-background {
      {% for d_block in about|slice:":1"%}
      {% thumbnail d_block.image "768x508" crop="center" as im %}
        background-image:url('{{im.url}}');
      {% empty %}
        background-image: url('{{ STATIC_URL }}img/missing_image_placeholder.jpg');
      {% endthumbnail %}
      {% endfor %}
    }
