- extends "public_base_v2.html"

- load dashblocks thumbnail i18n

-block content
  .bg-grid.border-t
    .max-w-page.mx-auto.p-home
      .border.p-home.bg-white
        .block.mt-4.font-bold.text-5xl
          {{ object.title|safe }}

        .block.mt-4
          {{ object.content|safe }}