- extends "public_base_v2.html"

- load dashblocks thumbnail i18n ureport

-block content
  .bg-grid.border-t
    .max-w-page.mx-auto.p-home.pb-0
      .border.p-home.bg-white
        .block.mt-4.font-bold.text-5xl.hover-parent
          {% edit_content 'dashblocks.dashblock_update' object.pk "#id_title" "-m-8" "dark" %}
          {{ object.title|safe }}

        .block.mt-4.hover-parent
          {% edit_content 'dashblocks.dashblock_update' object.pk "#id_content" "-m-8" "dark" %}
          {{ object.content|safe }}