- extends "public_base_v2.html"

- load thumbnail humanize ureport compress i18n dashblocks

- block content
  - load_qbs request.org 'photos'
  // latest poll if we have it
  - if latest_poll and latest_poll.get_first_question
    .max-w-page.mx-auto.bg-white.mt-6
      .bg-dark1(class="md:flex {% if is_rtl_org %}md:-mr-12 vertical-angle-right-side  md:pr-12{% else %}vertical-angle-left-side md:pl-12 md:-ml-12{% endif %}")
        .flex-1.self-stretch.bg-dark1.text-white.p-home.self-center
          .text-l.mb-10
            - trans "LATEST OPINION"

          .font-bold.mt-2.hover-parent(class="{% if latest_poll.title|length < 50 %}text-4xl{% elif latest_poll.title|length < 120 %}text-3xl leading-tight{% else %}text-2xl leading-tight{% endif %}")
            {% edit_content 'polls.poll_update' latest_poll.pk "#id_title"  "-m-8" "dark"  %}
            {{ latest_poll.title }}

          .font-alt.font-bold.italic.left-border.mt-8.hover-parent
            {% edit_content 'polls.poll_questions' latest_poll.pk "#id_ruleset_"|add:latest_poll.get_first_question.ruleset_uuid|add:"_title"  "-m-8" "dark" %}
            {{ latest_poll.get_first_question.title }}

        .flex-1.self-stretch.p-home.bg-grid.self-center(class="{% if is_rtl_org %} vertical-angle-right{% else %}vertical-angle-left{% endif %}")
          .relative.w-full(style="min-height:20rem;")
            .w-full.h-full.absolute.poll-chart.block(id="chart-{{ latest_poll.get_first_question.id }}" data-question="{{ latest_poll.get_first_question.id }}" data-segment="all")

          .mb-6.text-center(class="md:mb-0")
            %a.btn.bg-light1.hover-dark(href="{% url 'v2.public.opinion_read' latest_poll.pk %}")
              - trans "VIEW FULL RESULTS"

  // ureporters graph
  .bg-black.text-light1.bg-white-u
    .max-w-page.mx-auto.p-home(class="md:flex")
      .flex-center-y.mt-4.p-8(class="md:w-1/2 md:mt-0 md:p-0")
        .font-bold.text-l
          - trans "U-REPORTERS IN"
          {{ org.name|upper }}

        .font-light.text-white.text-4xl(class="md:text-6xl")
          {{ reporters|intcomma }}

        .font-bold.text-l.min-w-sm
          %div
            .(class="md:whitespace-no-wrap")
              - trans "PARTNERING WITH"
              %span.text-white.whitespace-no-wrap {{global_contact_count|intcomma}}
              - trans "U-REPORTERS"

            .(class="md:whitespace-no-wrap")
              - trans "IN"
              %span.text-white.whitespace-no-wrap {{global_org_count|intcomma}}
              - trans "COUNTRIES WORLDWIDE"

      .my-16.p-4(class="md:ml-4 md:w-1/2 md:my-0 md:p-0")
        .flex-col
          .block.w-full.font-bold.text-center
            - trans "AGES"

          .mt-4.block.w-full(style="min-width:260px;")
            .relative.w-full.h-40(class="md:h-64")
              {{ age_stats|json_script:"age_stats" }}
              #age-bars.w-full.h-full.absolute.age-chart(data-aos="fade" data-graph-type="age-chart" data-bar-color='{{ org|config:"light1_color"|default:"#FFD100"}}' data-label-color="#AAA" data-label-position="top" data-stats="age_stats")

  // join video and social
  .max-w-page.mx-auto
    %div(class="md:flex")
      .flex-1
        .bg-light1.p-12.hover-parent
          {% edit_content 'orgs.org_edit' "" "#id_common.join_text"  "-m-8"  "dark"  %}

          .text-3xl.font-bold.leading-tight.text-center
            -if org|config:"join_text"
              {{ org|config:"join_text" }}
            -else
              - trans "Join U-Report, Your voice matters."

          .mt-8.text-center
            %a.btn.bg-black.text-white(href="{% url 'v2.public.join' %}" class="hover:bg-gray-700")
              -trans "JOIN NOW"

        .bg-black.p-12.text-white.hover-parent
          {% edit_content 'orgs.org_edit' "" "#id_common.homepage_join_video_id"  "-m-8" "white" %}

          -if org|config:"homepage_join_video_id"
            .video
              <iframe width="560" height="349" src="https://www.youtube.com/embed/{{ org|config:"homepage_join_video_id" }}?rel=0&autohide=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          -else
            .flex.justify-content(style="min-height:349px")
              .inline-block.mx-auto.my-auto.text-center
                .w-64
                  %img(src="{{STATIC_URL}}img/u-report-global-logo-white.png")

      .flex-1.hidden(class="md:block")
        .bg-white.p-home(style="min-height:45rem;")
          .block.w-full.h-full
            .flex.justify-center.social-media-block-tabs.mb-8.mt-4
              -if org|config:"facebook_page_url"
                %a.cursor-pointer.bg-circle-xs.border.border-black.social-media-block-tab.mr-2(class='hover:text-white hover:bg-black {% if org|config:"twitter_handle" %}open{% endif %}' target="_blank")
                  %i.fa.fa-facebook
              -if org|config:"twitter_handle"
                %a.cursor-pointer.bg-circle-xs.border.border-black.social-media-block-tab(class="hover:text-white hover:bg-black" target="_blank")
                  %i.fa.fa-twitter

            .flex.justify-center.relative.social-media-blocks.mb-4(style="min-height:400px; max-height:450px")
              -if org|config:"facebook_page_url"
                .absolute.social-media-block.hover-parent(class='{% if org|config:"twitter_handle" %}open{% endif %}')
                  {% edit_content 'orgs.org_edit' "" "#id_common.facebook_page_url" "-m-8" "dark" %}

                  .fb-page(data-href='{{ org|config:"facebook_page_url" }}' data-tabs="timeline" data-width="400" data-height="550" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false")
              -if org|config:"twitter_handle"
                .absolute.social-media-block.hover-parent
                  {% edit_content 'orgs.org_edit' "" "#id_common.twitter_handle" "-m-8" "dark" %}
                  .mb-6.flex.justify-center
                    %a.twitter-follow-button(href='https://twitter.com/{{ org|config:"twitter_handle" }}' data-show-count="true" data-lang="en" target="_blank")

                  %a.twitter-timeline(href='https://twitter.com/{{ org|config:"twitter_handle" }}' width="400px" height="500px" data-chrome="noheader nofooter" data-link-color="#4aaad4" target="_blank")

  - if stories
    // featured-story-full
    .max-w-page.mx-auto.hidden.bg-squares(class="md:block")
      .flex
        .flex-1.h-20
        .flex-1.bg-dark1.h-20

      .flex
        .flex-1.h-10

        .flex-1.bg-dark1
          .bg-dark2.h-10(class="rtl:mr-20 rtl:ml-10 ltr:ml-20 ltr:mr-10")
            &nbsp;

      %div
        - for story in stories|slice:"1"
          .border-solid.border-dark1(class="{% if is_rtl_org %}border-l-25rem{% else %}border-r-25rem{% endif %}")
            .border-solid.border-light1.flex(class="{% if is_rtl_org %}border-l-25rem{% else %}border-r-25rem{% endif %}")
              .pl-10.flex.flex-col.justify-center(class="w-1/3 rtl:pr-10 ltr:pl-10")
                .block
                  .font-bold.mb-4
                    {% trans "FEATURED STORY" %}
                  .font-bold.leading-tight.mb-4.hover-parent(class="{% if story.title|length < 50 %}text-3xl{% else %}text-2xl{% endif %}")
                    {% edit_content 'stories.story_update' story.pk "#id_title" "-m-8" "dark" %}
                    {{ story.title }}
                  .block.mb-6.hover-parent
                    {% edit_content 'stories.story_update' story.pk "#id_summary" "-m-8" "dark" %}
                    {{ story.summary|truncatewords:50|linebreaksbr }}

                  %a.btn.bg-black.text-white(href="{% url 'v2.public.story_read' story.pk %}" class="hover:bg-gray-700")
                    {% trans "READ MORE" %}

              .block.p-10.bg-white.flex.flex-col.justify-center.hover-parent(class="w-2/3")
                {% edit_content 'stories.story_images' story.pk "" "-m-8" "dark" %}
                - if story.get_image
                  {% thumbnail story.get_image "800x500" crop="center" as im %}
                  %img(width="100%" src="{{im.url}}")
                  {% endthumbnail %}
                - else
                  %img{height:"100%", src:"{{ STATIC_URL }}img/missing_image_placeholder.jpg"}

      .flex
        .flex-1.h-10

        .flex-1.bg-dark1
          .bg-dark2.h-10(class="rtl:mr-20 rtl:ml-10 ltr:ml-20 ltr:mr-10")

      .flex
        .flex-1.h-20
        .flex-1.bg-dark1.h-20

    // featured-story-mobile
    %div(class="md:hidden")
      - for story in stories|slice:"1"
        - if story.get_image
          {% thumbnail story.get_image "800x500" crop="top" as im %}
          %img(width="100%" src="{{im.url}}")
          {% endthumbnail %}
        -else
          %img{height:"100%", src:"{{ STATIC_URL }}img/missing_image_placeholder.jpg"}
        .p-home
          .font-bold.mb-4
            - trans "FEATURED STORY"
          .font-bold.leading-tight.mb-4(class="{% if story.title|length < 50 %}text-3xl{% else %}text-2xl{% endif %}")
            {{ story.title }}
          .block.mb-6
            {{ story.summary|truncatewords:50|linebreaksbr }}

          %a.btn.bg-black.text-white(href="{% url 'v2.public.story_read' story.pk %}")
            - trans "READ MORE"

  - else
    %div.bg-dark1.h-20

  // world-map
  .bg-black.text-white
    .max-w-page.mx-auto.bg-black.p-home(class="md:flex rtl:pl-10 ltr:pr-10")
      .flex.flex-center-y.my-4(class="md:w-3/5")
        %img(src="{{ STATIC_URL }}img/homemap_bg.png")

      .flex.flex-center-y(class="md:w-2/5")
        .(class="rtl:pr-10 ltr:pl-10")
          .font-bold.mb-4.text-3xl.leading-tight
            -trans "We are a part of a global platform working to change the lives of young people around the world."

          .mb-6
            -trans "Learn more about how U-Report is empowering and connecting young people to speak out on issues that matter to them."

          %a.btn.bg-light1.text-black.hover-dark(href="{% url 'v2.public.about' %}")
            -trans "LEARN MORE"

  - if not photos
    -if stories_photos
      // photos
      .max-w-page.mx-auto
        %div.text-white(class="md:flex")
          .flex-1.bg-dark2.p-home.flex.flex-col.justify-center
            .hover-parent
              .font-bold.text-3xl.hover-parent
                {% edit_content 'orgs.org_edit' "" "#id_common.photos_section_title" "-m-8" "white" %}
                {{ org|config:"photos_section_title"|default:"Photos"}}
  
              {% edit_content 'orgs.org_edit' "" "#id_common.photos_section_description" "-m-8" "white" %}
              {{ org|config:"photos_section_description"|default:""}}
  
          .flex-1.p-home.text-black.flex.flex-col.justify-center
            .flex.flex-wrap.justify-center
              - for photo in stories_photos|slice:":6"
                {% thumbnail photo.get_image "200x200" crop="center" as im %}
                .inline-block.bg-gray-500.m-2(class="w-5/12")
                  %img(src="{{im.url}}")
                {% endthumbnail %}
  - else
    // photos
    .max-w-page.mx-auto
      %div.text-white(class="md:flex")
        .flex-1.bg-dark2.p-home.flex.flex-col.justify-center
          .hover-parent
            .font-bold.text-3xl.hover-parent
              {% edit_content 'orgs.org_edit' "" "#id_common.photos_section_title" "-m-8" "white" %}
              {{ org|config:"photos_section_title"|default:"Photos"}}

            {% edit_content 'orgs.org_edit' "" "#id_common.photos_section_description" "-m-8" "white" %}
            {{ org|config:"photos_section_description"|default:""}}

        .flex-1.p-home.text-black.flex.flex-col.justify-center
          .flex.flex-wrap.justify-center
            - for photo in photos|slice:":6"
              {% thumbnail photo.image "200x200" crop="center" as im %}
              .inline-block.bg-gray-500.m-2(class="w-5/12")
                %img(src="{{im.url}}")
              {% endthumbnail %}

- block script
  {{ block.super }}

  :javascript
    $(function(){
    if($(".social-media-blocks").children().length == 1) {
        $(".social-media-blocks").children().toggleClass("open", 1000, "easeOutSine");
        $(".social-media-block-tabs").children().toggleClass("open", 1000, "easeOutSine");
    } else {
      $(".social-media-block-tab").on("click", function(){
        if(!$(this).hasClass("open")){
          if($(".social-media-blocks").children().length > 1) {
            $(".social-media-blocks").children().toggleClass("open", 1000, "easeOutSine");
            $(".social-media-block-tabs").children().toggleClass("open", 1000, "easeOutSine");
          }
        }
      });
    }
    });