- extends "public_base_v2.html"

- load dashblocks thumbnail ureport i18n compress


- block content
  - load_qbs request.org 'jobs'
  .bg-grid
    .max-w-page.mx-auto.p-home.pb-0
      .border.p-home.bg-white
        .block.mt-4.font-bold.text-5xl
          -trans "Jobs"

        .flex.flex-wrap.mt-6
          -if not job_sources
            No job sources
          -if job_sources
            - for source in job_sources
              -if is_iorg
                .
                  %a.block{href:"{{ source.source_url }}"}
                    {{ source.title }}
              -else
                -if source.source_type == 'F'
                  .mt-12

                    .text-2xl.pr-8.hover-parent.font-bold
                      {% edit_content 'jobs.jobsource_update' source.pk "#id_title" "" "dark" %}
                      {{ source.title|upper }}
                    .pr-8
                      %a.text-dark-blue.social-link{href:"{{ source.source_url }}"}
                        - trans "Visit"
                        {{ source.title|title }}
                    .text-xl.pr-8.hover-parent.overflow-scroll(style="max-height:45rem;")
                      {% edit_content 'jobs.jobsource_update' source.pk "#id_source_url" "-m-8 -mt-12" "dark" %}
                      .fb-like-box{data-href:'{{ source.source_url }}', data-width:"400", data-height:"600", data-colorscheme:"light", data-show-faces:"false", data-header:"false", data-stream:"true", data-show-border:"false"}

                -elif source.source_type == 'R'
                  .mt-12
                    .text-2xl.hover-parent.font-bold
                      {% edit_content 'jobs.jobsource_update' source.pk "#id_title" "mx-4" "dark" %}
                      {{ source.title|upper }}
                    .pr-8
                      %a.text-dark-blue.social-link{href:"{{ source.get_return_page }}"}
                        - trans "Visit"
                        {{ source.title|title }}
                    .overflow-scroll.py-8.pr-8(style="max-height:45rem;")
                      - for entry in source.get_entries
                        .text-2xl
                          {{ entry.title }}
                        .text
                          {{ entry.summary|safe }}
                        .text-xl.mt-2.mb-12
                          %a.btn.bg-black.px-4.py-2.text-sm.text-white(href="{{ entry.link }}" class="hover:bg-gray-600")
                            -trans "READ MORE"

                  -# -elif source.source_type == 'T'
                  -#  .overflow-scroll.mt-12(class="w-1/3" style="max-height:45rem;")
                  -#   .text-3xl
                  -#     {{ source.title|upper }}
                  -#     %a.twitter-follow-button{ href:'{{ source.source_url }}', data-show-count:"true", data-lang:"en"}

                  -#     %a.twitter-timeline{ href:'{{ source.source_url }}', data-widget-id:'{{ source.widget_id }}', width:"340px", height:"525px", data-chrome:"noheader nofooter", data-link-color:"#4aaad4" }
                  -#   %a.social-link.tweet-button{href:'https://twitter.com/intent/tweet?screen_name=#{ source.get_username }'}
                  -#     - trans "Tweet to"
                  -#       @{{ source.get_username }}
                  -#       {{ org|org_arrow_link }}
