-load humanize ureport i18n
%table.gender
  %tbody
    %tr
      %td
        %img{ src:"{{ STATIC_URL }}img/male.png" }

      %td
        #male-percentage.primary-border-color.percentage-gender
          %span {{ gender_stats.male_percentage }}
        #male-summary.summary-gender
          {{ gender_stats.male_count|intcomma }}

      %td.female-gender
        %img{ src:"{{ STATIC_URL }}img/female.png" }

      %td
        #female-percentage.primary-border-color.percentage-gender
          %span {{ gender_stats.female_percentage }}
        #female-summary.summary-gender
          {{ gender_stats.female_count|intcomma }}