-load humanize ureport i18n
.age-graph
  -for age_category in age_stats|slice:"0:7"
    .age-category
      .age-container
        .age-percent
          {{ age_category.percentage }}%

        .age-label-below
          {{ age_category.label }}

        .age-bar.primary-bg-color{ style:"width:{{ age_category.percentage }}%" }
          &nbsp;

        .age-label-above
          {{ age_category.label }}

