.welcome-flags-global
  - if is_iorg
    - for site in linked_orgs
      %a.footer-orgs-name(href="{{ site.host }}")
        {{ site.name }}
  -else
    - for site in linked_orgs
      - if forloop.counter0 == break_pos
        .{style:"clear:both;"}
      %a.flag(href="{{ site.host }}")
        - if site.is_static
          %img(src="{{ STATIC_URL }}img/flags/{{ site.flag }}")
        - else
          %img(src="{{ site.flag }}")