- extends "public_base_v2.html"

- load compress thumbnail humanize ureport i18n

- block content
  .bg-grid.border-t.p-home(class="md:flex")
    .flex-1.flex-center-y
      .text-5xl.font-bold
        -trans "Opinions"
      .text-xl.max-w-lg
        -trans "A sentence that describes what this page is all about and who it is for"

    .flex-center-y
      .block.text-right.mt-4
        .inline-block.bg-black.text-white.text-lg.px-4.py-2.rounded
          .inline-block.bg-black.border-b.border-white
            %input.bg-black.search-box(type="text" data-results-id="poll-search-results" placeholder="SEARCH" size=14)
            %a.search-close(href="#")
              %i.fa.fa-caret-down

      .relative
        .absolute.right-0.bg-white.search-results.h-64.border(id="poll-search-results" style="z-index:100000")
          .no-results.p-4.italic.hidden
            -trans "No results found"

          {% for category in categories %}
          {% if category.polls.all %}
          .block.py-4.bg-white.search-category
            %a.font-bold.px-4.block(href="#")
              %i.fa.fa-caret-right.closed.float-left(style="padding-top:2px")
              %i.fa.fa-caret-down.hidden.open.float-left(style="padding-top:4px")
              .pl-3
                {{ category.name }}
            .category-results
              {% for poll in category.polls.all %}
              %a.block.px-4.py-1.searchable(class="hover:bg-gray-200" href="{% url 'v2.public.opinion_read' poll.pk %}" data-search-value="{{ poll.title|addslashes }}")
                .ml-4
                  {{ poll.title }}
              {% endfor %}
          {% endif %}
          {% endfor %}


  .bg-white.border-t(class="md:flex")
    .flex-1.my-home.border-r
      .px-home
        .bg-dark2.inline-block.px-4.py-2.uppercase.leading-none.font-bold.text-sm.text-white
          {{ latest_poll.category.name }}

        .text-5xl.font-bold.leading-tight
          {{ latest_poll.title }}

        .block
          {{ latest_poll.poll_date|date:"F jS, Y" }}

        .font-light.mt-4
          .inline-block.pr-8.border-r.border-black
            .text-5xl.leading-none
              {{ latest_poll.responded_runs|intcomma }}
            .text-xs.font-bold
              -trans "RESPONSES"

          .inline-block.pl-8
            .text-5xl.leading-none
              {{ latest_poll.response_percentage }}
            .text-xs.font-bold
              -trans "RESPONSE RATE"

        .mt-4.flex
          .flex-none.mr-8
            .text-center.inline-block.pr-4
              %img(src="{{ STATIC_URL }}img/gender-male.png" width="40")
              .font-bold.text-xl.leading-none.mt-2
                {{gender_stats.male.percentage|default:"0"}}%
              .text-sm.leading-none
                {{gender_stats.male.count|default:"0"|intcomma}}

            .text-center.inline-block.px-4.border-l.border-black
              %img(src="{{ STATIC_URL }}img/gender-female.png" width="40")
              .font-bold.text-xl.leading-none.mt-2
                {{gender_stats.female.percentage|default:"0"}}%
              .text-sm.leading-none
                {{gender_stats.female.count|default:"0"|intcomma}}

            - if org|config:"has_extra_gender"
              .text-center.inline-block.px-4.border-l.border-black
                %img(src="{{ STATIC_URL }}img/gender-other.png" width="40")
                .font-bold.text-xl.leading-none.mt-2
                  {{gender_stats.other.percentage|default:"0"}}%
                .text-sm.leading-none
                  {{gender_stats.other.count|default:"0"|intcomma}}

          .flex-1.inline-block(style="min-width:220px;max-width:350px")
            .relative.w-full(style="height:105px")
              {{ age_stats|json_script:"age_stats" }}
              #age-bars.w-full.h-full.absolute.age-chart(data-bar-color='{{ org|config:"primary_color"}}' data-label-color="black" data-stats="age_stats")

    .flex-1.text-black
      .pl-6.pr-home.py-home.text-center
        .text-sm.font-bold.mb-2
          -trans "TOTAL RESPONSES"
        {% with map_segment='{"location":"state"}' %}
        #poll-map.h-full.w-full.map(data-map-url="/pollquestion/{{ top_question.id }}/results/?segment={{ map_segment|urlencode }}")
          .block(style="min-height:300px;min-width:300px;")
        {% endwith %}

  {% for question in latest_poll.get_questions %}
  .block(class="md:flex {% cycle '' 'md:flex-row-reverse' %}" data-aos="fade" style="min-height:30rem;")
    .flex-1(class="{% cycle 'bg-dark1 text-white' 'bg-light1 text-black' 'bg-dark2 text-white' 'bg-dark3 text-black' as bg %}")
      .p-home
        .flex(class="{% cycle '' 'md:flex-row-reverse' as reverse %}")
          .flex-none.bg-circle.bg-black.text-white.font-bold
            {{ forloop.counter }}
          .flex-1.flex-center-y
            .h-1.border-t(class="{% cycle 'ml-4' 'mr-4' as margin %} {% cycle 'border-white' 'border-black' 'border-white' 'border-white' as border %}")

        .mt-8
          .font-alt.text-3xl.font-bold.leading-tight.italic
            {{ question.title }}

          .font-alt.mt-4
            {% blocktrans with responded=question.get_responded|intcomma polled=question.get_polled|intcomma %}
              {{ responded }} responded out of {{ polled }} polled
            {% endblocktrans %}

    .flex-1.bg-white.text-black.hover-parent
      .mx-home.py-home.hover-parent(class="md:border-t")
        .block.justify-between.flex.flex-wrap.hover-parent
          {% if not question.is_open_ended %}
          .text-xs.flex-none.mb-4
            %a.pill-first.pill-white.selected.segment-pill(href='#' data-question="{{question.id}}" data-segment="all")>
              -trans "ALL"
            %a.pill.pill-white.segment-pill(href='#' data-question="{{question.id}}" data-segment="age")>
              -trans "AGE"
            %a.pill.pill-white.segment-pill(href='#' data-question="{{question.id}}" data-segment="gender")>
              -trans "GENDER"
            %a.pill-last.pill-white.segment-pill.relative.state-pill(href='#' data-question="{{question.id}}" data-segment="state")>
              -trans "STATE"
              %i.fa.fa-caret-down
              .state-dropdown.absolute.z-50(id="states-{{question.id}}" style="margin-left:-1px")
                .border.border-gray-400.text-left.bg-white.h-64(style="overflow-y:scroll;margin-top:.5rem;margin-left:-1rem;")
                  .pt-1.text-black
                    - for state in states
                      .pl-2.pr-4.py-1.state-segment(data-state='{{state.id}}' data-question="{{question.id}}" class="hover:bg-gray-200 {% if forloop.counter0 < 3 %}selected{% endif %}")
                        .checkbox.float-left
                          %i.fa.fa-check
                        .ml-4.whitespace-no-wrap
                          {{ state.name }}

          {% else %}
          .block
          {% endif %}

          .share.float-right.flex-none.mb-4.flex-center-y.hover-show
            .block
              %a.bg-circle-xs.border.border-black.facebook-share(href="" data-url="{% org_host_link %}{% url 'v2.public.opinion_read' latest_poll.pk %}#question-id-{{question.id}}")
                %i.fa.fa-facebook
              %a.bg-circle-xs.border.border-black(href="https://twitter.com/intent/tweet?url={% org_host_link %}{% url 'v2.public.opinion_read' latest_poll.pk %}#question-id-{{question.id}}")
                %i.fa.fa-twitter
              %a.bg-circle-xs.border.border-black(href="https://api.whatsapp.com/send?text={% org_host_link %}{% url 'v2.public.opinion_read' latest_poll.pk %}#question-id-{{question.id}}")
                %i.fa.fa-whatsapp
              %a.bg-circle-xs.border.border-black(href="mailto:?subject=Check out {{ poll.title|urlencode:\"\" }} results&amp;body=Check out the results for U-Report poll on {% org_host_link %}{% url 'v2.public.opinion_read' latest_poll.pk %}#question-id-{{question.id}}" uk-icon="icon: mail; ratio: 1.5")
                %i.fa.fa-envelope


        .relative.w-full(style="min-height:24rem;")
          .w-full.h-full.absolute.poll-chart.block(id="chart-{{ question.id }}" data-question="{{ question.id }}" data-segment="all")

  {% endfor %}

