- extends "public_base_v2.html"

- load thumbnail ureport i18n compress

-block content
  .bg-grid.border-t.p-home(class="md:flex")
    .flex-1.flex-center-y
      .text-5xl.font-bold
        -trans "Stories"

      .text-xl
        -trans "A sentence that describes how we feel about stories and the human side of things."

    .flex-1.flex-center-y
      .block.text-right
        .inline-block.bg-black.text-white.text-lg.px-4.py-2.rounded
          .inline-block.bg-black.border-b.border-white
            %input.bg-black.search-box(type="text" data-results-id="story-search-results" placeholder="SEARCH" size=14)
            %a.search-close(href="#")
              %i.fa.fa-caret-down

      .relative
        .absolute.right-0.bg-white.search-results.h-64.text-right.border.z-10(id="story-search-results" style="z-index:100000")
          {% for category in categories %}
          .block.py-4(style="width:600px")
            .font-bold
              .block.px-4
                {{ category.name }}
            .block
              {% for story in category.stories.all %}
              %a.block.px-4.py-1.searchable(class="hover:bg-gray-200" href="{% url 'v2.public.story_read' story.pk %}" data-search-value="{{ story.title|addslashes }}")
                {{ story.title }}
              {% endfor %}
          {% endfor %}

  // first and second stories
  .border-t
    - for story in featured|slice:"2"
      // first-story-full
      .hidden(class="md:block")
        .flex
          - if forloop.first
            .flex-1.h-10
            .flex-1.bg-dark1
              &nbsp;
          -else
            .flex-1.h-10.bg-dark2
            .flex-1.h-10

        %div
          .border-solid.flex(class="{% cycle 'border-dark1 border-r-25rem' 'border-dark2 border-l-25rem' %}")
            - if not forloop.first
              .block.p-10.bg-white.flex.flex-col.justify-center(class="w-2/3")
                - if story.get_image
                  {% thumbnail story.get_image "800x600" crop="center" as im %}
                  <img width="100%" height="100%" src="{{im.url}}" />
                  {% endthumbnail %}
                - else
                  %img{height:"100%", src:"{{ STATIC_URL }}img/missing_image_placeholder.jpg"}
            
            .flex.flex-col.justify-center(class="w-1/3")
              .block.pl-home
                .font-bold.mb-4
                  -trans "FEATURED STORY"
                .font-bold.text-3xl.leading-tight.mb-4
                  {{ story.title }}
                .block.mb-6
                  {{ story.summary|linebreaksbr }}
  
                %a.btn.bg-black.text-white(href="{% url 'v2.public.story_read' story.pk %}")
                  -trans "READ MORE"
            
            - if forloop.first
              .block.p-10.bg-white.flex.flex-col.justify-center(class="w-2/3")
                - if story.get_image
                  {% thumbnail story.get_image "800x600" crop="center" as im %}
                  <img width="100%" height="100%" src="{{im.url}}" />
                  {% endthumbnail %}
                - else
                  %img{height:"100%", src:"{{ STATIC_URL }}img/missing_image_placeholder.jpg"}
  
        .flex
          -if forloop.first
            .flex-1.h-10
            .flex-1.bg-dark1
              &nbsp;
          -else
            .flex-1.h-20.bg-dark2
            .flex-1.h-20

      // first-story-mobile
      %div(class="md:hidden")
        - if story.get_image
          {% thumbnail story.get_image "800x600" crop="center" as im %}
          <img width="100%" height="100%" src="{{im.url}}" />
          {% endthumbnail %}
        - else
          %img{src:"{{ STATIC_URL }}img/missing_image_placeholder.jpg"}
        .p-home
          .font-bold.mb-4
            -trans "FEATURED STORY"
          .font-bold.text-3xl.leading-tight.mb-4
            {{ story.title }}
          .block.mb-6
            {{ story.summary|linebreaksbr }}
  
          %a.btn.bg-black.text-white(href="{% url 'v2.public.story_read' story.pk %}")
            -trans "READ MORE"

-block cantent
  .booklet-bg.for-stories
  .booklet-bg-content
    .page-title-block
      .uk-grid-match(uk-grid)
        .uk-width-1-2.page-title
          Stories
        .uk-width-1-2.categories-dropdown
          .dropdown
            .dropdown-trigger
              %button.uk-button(aria-haspopup="true" aria-controls="dropdown-menu")
                %span
                  -trans "SEARCH"
                %span.icon.is-small
                  %i.fas.fa-caret-down(aria-hidden="true")
            #dropdown-menu.dropdown-menu.polls-overlay(role="menu" uk-dropdown="mode: click" style="display: none;")
              .dropdown-content
                .dropdown-item.search-polls
                  .uk-margin
                    .uk-inline#search-input(style="width:100%")
                      %input.uk-input(type="text" placeholder="Search")
                      %a#search-clear.uk-form-icon.uk-form-icon-flip(href="#" uk-icon="icon: close")

                .dropdown-item.no-results.uk-hidden
                  No results...
                .dropdown-item.polls-category(role="all-polls")
                  .polls-category-label
                    %span
                      %i.fas.fa-chevron-right
                    -trans "All"
                  %ul.polls-category-list
                    - for story in stories
                      %li.poll-list-item
                        %a(href="{% url 'v2.public.story_read' story.id %}")
                          {{ story.title }} ({{story.created_on|date}})          
                
                - for category in categories
                  - if category.story_set.all|length
                    .dropdown-item.polls-category
                      .polls-category-label
                        %span
                          %i.fas.fa-chevron-right
                        {{ category.name }}
                      %ul.polls-category-list
                        - for story in category.story_set.all
                          %li.poll-list-item
                            %a(href="{% url 'v2.public.story_read' story.id %}")
                              {{ story.title }} ({{story.created_on|date}})          

  - for story in featured|slice:"2"
    .story-block(class="story-bg-{{forloop.counter}}")
      .featured-story(class="story-{{forloop.counter}}")
        .(uk-grid)
          - if not forloop.counter|divisibleby:2
            .uk-width-1-2
              .featured-story-label
                -trans "FEATURED STORY"
              .story-title
                {{ story.title }}
              .story-teaser
                {{ story.summary|linebreaksbr }}
              %a.read-more-button.button(href="{% url 'v2.public.story_read' story.pk %}")
                -trans "READ MORE"
          .uk-width-1-2
            .story-image-bg
              .story-image
                - if story.get_image
                  {% thumbnail story.get_image "350x350" crop="top" as im %}
                  <img width="100%" height="100%" src="{{im.url}}" />
                  {% endthumbnail %}
                - else
                  %img{height:"100%", src:"{{ STATIC_URL }}img/missing_image_placeholder.jpg"}  
          
          - if forloop.counter|divisibleby:2
            .uk-width-1-2
              .featured-story-label
                -trans "FEATURED STORY"
              .story-title
                {{ story.title }}
              .story-teaser
                {{ story.summary|linebreaksbr }}
              %a.read-more-button.button(href="{% url 'v2.public.story_read' story.pk %}")
                -trans "READ MORE"

-block extra-script
  {{ block.super }}
  {% compress js %}
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/archived_stories.coffee" />
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/featured_stories.coffee" />
  {% endcompress %}
  :javascript
    $(".dropdown-trigger").on('click', function() {
      $(this).siblings('.dropdown-menu').toggleClass('is-active');
      $(this).toggleClass('rotation');
      $(".polls-category-list").addClass("uk-hidden");
      $("#search-input input").focus();

    });
    
    $(document).ready(function() {
      $(document).mouseup(function (e){
        var container = $(".dropdown-menu, .dropdown-trigger");
        if (!container.is(e.target) && container.has(e.target).length === 0){
          container.removeClass('is-active');
          container.removeClass('rotation');
        }
      });
    });

    $(".polls-category-label").on('click', function() {
      $(this).siblings('ul').toggleClass('uk-hidden');
      $(this).toggleClass('rotation')
      $(this).toggleClass('is-active')
    });


    function resetPolls() {
      $(".poll-list-item").removeClass("uk-hidden");
      $('.polls-category-label').removeClass('rotation');
      $(".polls-category").removeClass("uk-hidden");
      $(".polls-category").children('ul').addClass("uk-hidden");
      $(".no-results").addClass('uk-hidden');
    }

    $("#search-clear").on("click", function() {
      $(this).parent('#search-input').children('input').val("");
      resetPolls();
    });

    $("#search-input input").on('keyup', function() {
      var term = $(this).val().toLowerCase().trim();
      $(".polls-category").addClass("uk-hidden");
      $(".no-results").addClass('uk-hidden');
      if(!term) {
        $(".poll-list-item").removeClass("uk-hidden");
        resetPolls();
        return;
      } else {
        $(".poll-list-item").each( function() {

          if (!$(this).text().trim().toLowerCase().includes(term)) {
            $(this).addClass("uk-hidden");
          } else {
            $(this).removeClass("uk-hidden");
          }
        })
      }
      $(".poll-list-item:not(.uk-hidden)").parent().parent(".polls-category").removeClass("uk-hidden");
      $(".polls-category:not(.uk-hidden):not([role='all-polls'])").children('.polls-category-label').addClass('rotation');
      $(".polls-category:not(.uk-hidden):not([role='all-polls'])").children('ul').removeClass("uk-hidden");

      if ($(".polls-category:not(.uk-hidden)").length == 0) {
        $(".no-results").removeClass('uk-hidden');
      }
    })