- extends "public_base_v2.html"
- load thumbnail compress i18n ureport

-block content
  .max-w-page.mx-auto.bg-dark-blue(class="md:flex")
    .block.bg-dark-blue.outside-vertical-angle(class="md:w-1/2")
      .py-12.h-full
        .px-home.text-white.flex.items-center.h-full
          .block.hover-parent
            .text-light1.font-bold
              STORY
            .font-alt.font-bold.text-4xl.leading-tight.italic.hover-parent
              {% edit_content 'stories.story_update' story.pk "#id_title" "-m-8" "white" %}
              {{ story.title }}

    .block(class="md:w-1/2 {% if is_rtl_org %}vertical-angle-right{% else %}vertical-angle-left{% endif %}")
      {% thumbnail story.get_image "900" crop="top" as im %}
      %img(src="{{im.url}}" width="100%" style="object-fit:cover;")
      {% endthumbnail %}
      //.block-vertical-angle.w-4
      //  &nbsp;

  .max-w-page.mx-auto
    .block.justify-between.bg-white.m-12(class="md:flex")
      .flex-none
        .share
          %a.mb-2.bg-circle-xs.border.border-black.facebook-share(href="#" data-url="{% org_host_link %}{% url 'v2.public.story_read' story.pk %}")
            %i.fa.fa-facebook
          %a.mb-2.block.bg-circle-xs.border.border-black(href="https://twitter.com/intent/tweet?url={% org_host_link %}{% org_host_link %}{% url 'v2.public.story_read' story.pk %}")
            %i.fa.fa-twitter
          %a.mb-2.block.bg-circle-xs.border.border-black(href="https://api.whatsapp.com/send?text={% org_host_link %}{% org_host_link %}{% url 'v2.public.story_read' story.pk %}")
            %i.fa.fa-whatsapp
          %a.mb-2.block.bg-circle-xs.border.border-black(href="mailto:?subject=Check out {{ story.title|urlencode:\"\" }} results&amp;body={% url 'v2.public.story_read' story.pk %}" uk-icon="icon: mail; ratio: 1.5")
            %i.fa.fa-envelope

      .flex-auto.px-home.story-content.hover-parent
        {% edit_content 'stories.story_update' story.pk "#id_content" "-m-8" "dark" %}
        {{ story.content|safe }}

      .flex-none.w-10
        %img(src="{{STATIC_URL}}img/u-icon-small.png" )

    .block.p-home
      .px-home
        .px-6.fb-comments(data-href="{% org_host_link %}{% url 'public.story_read' story.pk %}" data-width="100%" data-numposts="5")
