- extends "public_base_v2.html"

-load compress ureport dashblocks thumbnail i18n humanize

- block content
  .bg-grid
    .max-w-page.mx-auto.p-home(class="md:flex")
      .flex-1.flex-center-y
        .text-2xl.font-bold(class="md:text-5xl")
          -trans "Engagement"

      .flex-1.flex-center-y.hover-parent
        .text-xl.hover-parent(class="md:pl-12 ltr:text-right rtl:text-left")
          {% edit_content 'orgs.org_edit' "" "#id_common.engagement_description" "-m-8" "dark" %}
          {{ org|config:"engagement_description"|default:""}}

  .bg-dark-blue
    .max-w-page.mx-auto.bg-black(class="md:flex")
      .flex-1.p-home
        .font-alt.text-light1.mb-4.font-bold.mt-6
          -trans "OVERALL STATISTICS"

        .text-white.font-light.mt-12
          .inline-block.border-white(class="{% if is_rtl_org %}md:border-l pl-8{% else %}md:border-r pr-8{% endif %}")
            .text-2xl.leading-none(class="md:text-5xl")
              {{org.get_reporters_count|intcomma}}
            .text-xs.font-bold
              -trans "U-REPORTERS"
              .inline.text-light1
                +{{org.get_signup_rate|floatformat}}%
                -trans "THIS YEAR"

          .inline-block.mt-2(class="md:mt-0 {% if is_rtl_org %}md:pr-8{% else %}md:pl-8{% endif %}")
            .text-2xl.leading-none(class="md:text-5xl")
              {{average_response_rate|floatformat}} %
            .text-xs.font-bold
              -trans "AVG RESPONSE RATE"

        .mt-4.flex.flex-wrap.mb-8(class="md:mt-12 md:mb-0")
          .flex-none.mr-8
            .text-white.text-center.inline-block.border-white(class="ltr:pr-4 ltr:border-r rtl:border-l rtl:pl-4")
              %img(src="{{ STATIC_URL }}img/gender-male-w.png" width="40")
              .font-bold.text-xl.leading-none.mt-2
                {{gender_stats.male_percentage}}
              .text-light1.text-sm.leading-none
                {{gender_stats.male_count|intcomma}}

            .text-white.text-center.inline-block.px-4
              %img(src="{{ STATIC_URL }}img/gender-female-w.png" width="40")
              .font-bold.text-xl.leading-none.mt-2
                {{gender_stats.female_percentage}}
              .text-light1.text-sm.leading-none
                {{gender_stats.female_count|intcomma}}
            - if org|config:"has_extra_gender"
              .text-white.text-center.inline-block.px-4.border-white(class="ltr:border-l rtl:border-r")
                %img(src="{{ STATIC_URL }}img/gender-other-w.png" width="40")
                .font-bold.text-xl.leading-none.mt-2
                  {{gender_stats.other_percentage}}
                .text-light1.text-sm.leading-none
                  {{gender_stats.other_count|intcomma}}

          .flex-1.inline-block.mt-2(style="min-width:220px;max-width:320px" class="md:mt-0")
            .relative.w-full(style="height:105px")
              {{ age_stats|json_script:"age_stats" }}
              #age-bars.w-full.h-full.absolute.age-chart(data-aos="fade" data-graph-type="age-chart" data-bar-color='{{ org|config:"light1_color"|default:"#FFD100"}}' data-label-color="white" data-stats="age_stats")
      -if show_maps
        .flex-1.text-white.bg-dark-blue(class="{% if is_rtl_org %}vertical-angle-right{% else %}vertical-angle-left{% endif %}")
          .py-home.text-center(class="ltr:pl-6 rtl:pr-6 {% if is_rtl_org %}pl-home{% else %}pr-home{% endif %}")
            .text-sm.font-bold.mb-2
              -trans "U-REPORTERS BY REGION"
            #ureporter-map.h-full.w-full.map.block(data-map-url="/v2/contact_field_results/" data-district-zoom="{% if district_zoom %}true{% else %}false{% endif %}" data-ward-zoom="{% if ward_zoom %}true{% else %}false{% endif %}" style="min-height:300px;min-width:300px;")
              .flex.text-center.h-full.w-full(id="poll-map-placeholder" style="min-height:300px;min-width:300px;")
                .fa-3x.inline-block.m-auto.self-center
                  %i.fa.fa-spinner.fa-spin
            #map-info.relative.h-full.w-full.mt-2.flex.justify-center
  
  .border-t.border-b.bg-dark-gray.sticky.z-480.border-gray-600(class="{% if request.user.is_authenticated and request.org in request.user.get_user_orgs or request.user.is_superuser %}top-45{% else %}top-0{% endif %}")
    .max-w-page.mx-auto.px-home.py-4.border-gray-600(class="md:flex md:justify-between")
      .text-white.font-bold.flex-center-y.flex-row(class="md:flex-col")
        -trans "FILTER RESULTS"

      .flex-center-y.flex-row(class="md:flex-col")
        .text-white.text-xs.flex
          - for time_filter in data_time_filters
            .cursor-pointer.border-white.pill-black.tab-button-time-filter.whitespace-no-wrap(class="{% if forloop.first %}{% if is_rtl_org %}pill-last{% else %}pill-first{% endif %}{% elif forloop.last %}selected {% if is_rtl_org %}pill-first{% else %}pill-last{% endif %}{% else %}pill{% endif %}" data-time-filter="{{time_filter.time_filter_number}}")
              {{time_filter.label}}
  .bg-dark-blue.border-b.border-gray-600
    .max-w-page.mx-auto.p-home.text-white
      - for time_filter in data_time_filters
        .engagemment-content.hover-parent(id="tab-content-block-{{time_filter.time_filter_number}}" class="{% if not forloop.last %}hidden{% endif %}")
          - for metric in data_metrics
            .engagement-graph-block.hover-parent.block.mt-16.p-2.bg-dark-blue(class="md:flex" style="min-height:30rem; max-height:45rem;" data-page="engagement" data-aos="fade" data-aos-anchor-placement="center-bottom" id="graph-block-{{metric.slug}}-{{time_filter.time_filter_number}}")
              .hover-parent(class="md:w-2/5")
                .bg-light1.h-1.w-16.mb-4
                .text-3xl.mb-4.font-bold
                  {{ metric.title }}
  
                .text-xs.flex.mb-6.text-black.random-pill(data-page="engagement")
                  - for segment in data_segments
                    - if forloop.first
                      %a.pill-dark-blue-inverted.segment-pill(href='#' data-page="engagement" data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}" class="{% if is_rtl_org %}pill-last{% else %}pill-first{% endif %}")>
                        {{segment.label|upper}}
                    - elif forloop.last
                      - if show_maps
                        %a.pill-dark-blue-inverted.segment-pill.state-pill.relative.whitespace-no-wrap(href="#" class="{% if is_rtl_org %}pill-first{% else %}pill-last{% endif %}" data-page="engagement" data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}" data-graph-id="engagement-graph-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}" id="location-pill-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}")>
                          {{segment.label|upper}}
                          %i.fa.fa-caret-down
                          .state-dropdown.absolute.z-50(id="location-pill-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}" style="margin-left:-1px" data-html2canvas-ignore=true)
                            .border.border-gray-400.bg-white.h-64(style="overflow-y:scroll;margin-top:.5rem;margin-left:-1rem;" class="ltr:text-left rtl:text-right")
                              .pt-1.text-black
                                - for state in states
                                  .py-1.state-segment(data-state='{{state.id}}' class="ltr:pl-2 ltr:pr-4 rtl:pr-2 rtl:pl-4  hover:bg-gray-200 {% if forloop.counter0 < 3 %}selected{% endif %}" data-page="engagement"  data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}")>
                                    .checkbox(class="ltr:float-left rtl:float-right")
                                      %i.fa.fa-check
                                    .whitespace-no-wrap(class="ltr:ml-4 rtl:mr-4")
                                      {{ state.name }}
                      - else
                        %a.pill-dark-blue-inverted.segment-pill.state-pill.relative.whitespace-no-wrap(href="#" class="{% if is_rtl_org %}pill-first{% else %}pill-last{% endif %}" data-page="engagement" data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}" data-graph-id="engagement-graph-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}" id="location-pill-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}")>
                          {{segment.label|upper}}
  
                    - else
                      %a.pill.pill-dark-blue-inverted.segment-pill(href="#"  data-page="engagement" data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}")>
                        {{segment.label|upper}}
  
                .share.flex-none.mb-4.flex-center-y.hover-show
                  .block
                    %a.cursor-pointer.bg-circle-xs.border.border-white.text-white.facebook-share(data-url="{% org_host_link %}{% url 'v2.public.engagement' %}")
                      %i.fa.fa-facebook
                    %a.bg-circle-xs.border.border-white.text-white(href="https://twitter.com/intent/tweet?url={% org_host_link %}{% url 'v2.public.engagement' %}")
                      %i.fa.fa-twitter
                    %a.bg-circle-xs.border.border-white.text-white(href="https://api.whatsapp.com/send?text={% org_host_link %}{% url 'v2.public.engagement' %}")
                      %i.fa.fa-whatsapp
                    %a.bg-circle-xs.border.border-white.text-white(href="mailto:?subject=Check out {{ poll.title|urlencode:\"\" }} results&amp;body=Check out the results for U-Report poll on {% org_host_link %}{% url 'v2.public.engagement'  %}" uk-icon="icon: mail; ratio: 1.5")
                      %i.fa.fa-envelope
                    %a.cursor-pointer.bg-circle-xs.border.border-white.text-white.screenshot-share(data-screen-id="graph-block-{{metric.slug}}-{{time_filter.time_filter_number}}")
                      %i.fa.fa-file-image-o
  
              .block(class="md:w-3/5")
                .engagement-graph-tabs(id="graph-tabs-{{metric.slug}}-{{time_filter.time_filter_number}}")
                  - for segment in data_segments
                    .engagement-graph.hidden(id="graph-tabs-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}")
                      .engagement-chart.has-graph(id="engagement-graph-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}" data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}" data-page="engagement")
                        .chart-progress.flex.text-center.w-full.h-full
                          .fa-5x.inline-block.m-auto.self-center
                            %i.fa.fa-spinner.fa-spin