- extends "public_base_v2.html"

-load compress ureport dashblocks thumbnail i18n humanize

- block content
  .bg-grid.border-t.p-home(class="md:flex")
    .flex-1.flex-center-y
      .text-5xl.font-bold
        -trans "Engagement"

    .flex-1.flex-center-y
      .text-xl.text-right.max-w-lg(class="md:pl-12")
        -trans "A sentence that describes what this page is all about and who it is for"

  .bg-dark-blue(class="md:flex")
    .flex-1.bg-black.p-home.vertical-angle
      .font-alt.text-light1.italic.mb-4.font-bold
        -trans "Year at a Glance"

      .text-white.font-light
        .inline-block.pr-8.border-r.border-white
          .text-5xl.leading-none
            {{org.get_signups|intcomma}}
          .text-xs.font-bold
            -trans "SIGN-UPS"

        .inline-block.pl-8
          .text-5xl.leading-none
            {{average_response_rate|floatformat}} %
          .text-xs.font-bold
            -trans "AVG RESPONSE RATE"

      .text-white.mt-4.font-bold
        .inline.text-light1
          {{org.get_reporters_count|intcomma}}
        .inline.text-white
          -trans "TOTAL U-REPORTERS IN"
          {{ org.name|upper }}
        .inline.text-light1
          +{{org.get_signup_rate|floatformat}}%

      .mt-4.flex
        .flex-none.mr-8
          .text-white.text-center.inline-block.pr-4.border-r.border-white
            %img(src="{{ STATIC_URL }}img/gender-male-w.png" width="40")
            .font-bold.text-xl.leading-none.mt-2
              {{gender_stats.male_percentage}}
            .text-light1.text-sm.leading-none
              {{gender_stats.male_count|intcomma}}

          .text-white.text-center.inline-block.pl-4
            %img(src="{{ STATIC_URL }}img/gender-female-w.png" width="40")
            .font-bold.text-xl.leading-none.mt-2
              {{gender_stats.female_percentage}}
            .text-light1.text-sm.leading-none
              {{gender_stats.female_count|intcomma}}

        .flex-1.inline-block(style="min-width:220px;max-width:350px")
          .relative.w-full(style="height:105px")
            #age-bars.w-full.h-full.absolute

    .flex-1.text-white
      .pl-6.pr-home.py-home.text-center
        .text-sm.font-bold.mb-2
          -trans "U-REPORTERS BY REGION"
        #ureporter-map.h-full.w-full
          .block(style="min-height:300px;min-width:300px;")

  .border-t.border-b.bg-dark-gray.px-home.py-4.border-gray-800.sticky(class="md:flex md:justify-between")
    .text-white.font-bold.flex-center-y
      -trans "FILTER RESULTS"

    .flex-center-y
      .text-white.text-xs.flex
        - for time_filter in data_time_filters
          .border-white.tab-button-time-filter(class="{% if forloop.first %}pill-first{% elif forloop.last %}tab-active pill-last{% else %}pill{% endif %}" data-time-filter="{{time_filter.time_filter_number}}")
            {{time_filter.label}}


  .bg-dark-blue.p-home.text-white.font-bold.border-b.border-white
    - for time_filter in data_time_filters
      .engagemment-content(id="tab-content-block-{{time_filter.time_filter_number}}" class="{% if not forloop.last %}hidden{% endif %}")
        - for metric in data_metrics
          .engagement-graph-block.block.mt-16(class="md:flex" style="min-height:30rem; max-height:45rem;" data-aos="fade")
            .(class="md:w-2/5")
              .bg-light1.h-1.w-16.mb-4
              .text-3xl.mb-4
                {{ metric.title }}

              .text-black.text-2xs.flex.mb-6
                - for segment in data_segments
                  - if forloop.first
                    .pill-first.border-gray-400.tab-active.tab-button-graph-switch(data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}")
                      {{segment.label}}
                  - elif forloop.last
                    .pill-last.border-gray-400.tab-button-graph-switch(data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}")
                      {{segment.label}}
                  - else
                    .pill.border-gray-400.tab-button-graph-switch(data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}")
                      {{segment.label}}

            .block(class="md:w-3/5")
              .engagement-graph-tabs(id="graph-tabs-{{metric.slug}}-{{time_filter.time_filter_number}}")
                - for segment in data_segments
                  .engagement-graph(id="graph-tabs-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}")
                    .has-graph(id="engagement-graph-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}" data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}")


- block script
  {{ block.super }}

  :javascript
    $(function(){
      console.log("doing things");
      $.ajax({url:'/boundaries/', dataType: "json"}).done(function(states){
        $.ajax({url:'/v2/contact_field_results/', data: {location: "state"}, dataType: "json"}).done(function(counts){
          var colors = gradientFactory.generate({
            from: '#DDDDDD',
            to: '{{ org|config:"primary_color"}}',
            stops: 7
          });
          var breaks = [0, 5, 10, 25, 45, 65, 85];

          var countMap = {};
          var max = 0;
          for(i=0; i<counts.length; i++){
            countMap[counts[i].boundary] = counts[i];
            if (counts[i].set > max) {
              max = counts[i].set;
            }
          }

          var colorSteps = [];
          for(i=0; i<colors.length; i++){
            colorSteps[i] = {
              threshold: max * (breaks[i]/100),
              color: colors[i]
            }
          }

          console.log(max);
          console.log(counts);
          console.log(colorSteps);

          var map = L.map('ureporter-map',
            {
              zoomControl:false,
              attributionControl: false,
              zoomSnap: 0,
              dragging: false,
              doubleClickZoom: false,
              boxZoom: false
            }
          );

          var getColor = function(id) {
            var c = countMap[id].set;
            for (i=0; i<colorSteps.length; i++){
              if (c <= colorSteps[i].threshold) {
                return colorSteps[i].color;
              }
            }
            return colorSteps[colorSteps.length-1];
          }

          var style = function(feature) {
            return {
                fillColor: getColor(feature.properties.id),
                weight: 1,
                opacity: 1,
                color: 'white',
                fillOpacity: 0.7
            };
          }

          var boundaries = L.geoJSON(states, { style: style })
          boundaries.addTo(map);
          map.fitBounds(boundaries.getBounds());

          //window.initMap('ureporter-map', boundaries, ajaxUrl,  '{{ district_zoom|lower }}' === 'true', colorsList, '{{ ward_zoom|lower }}' === 'true', '{{reporters|intcomma}}');
        });
      })
    });

    $(function(){
      var data = {{ age_stats|safe }};

      {% if is_rtl_org %}
      data.reverse();
      {% endif %}

      var categories = [];
      for (i=0; i<data.length; i++) {
        categories.push(data[i].name)
      }

      $('#age-bars').highcharts({
       chart: {
         type: 'column',
         backgroundColor: 'transparent',
         marginTop: 0,
         marginBottom: 28
       },
       credits: {
         enabled: false
       },
       legend: {
         enabled: false
       },
       title: {
           text: null
       },
       xAxis: {
         categories: categories,
         lineColor: 'transparent',
         labels : {
           rotation: 0,
           style: {
             fontSize: ".75rem",
             fontFamily: "Montserrat",
             fontWeight: 400,
             color: "white"
           },
         },
       },
       yAxis: {
         visible: false,
       },
       tooltip: {
         enabled: false
       },
       plotOptions: {
           series: {
             pointPadding: 0,
             groupPadding: 0.1,
             borderWidth: 0
           },
           column: {
               color: "#FFD100",
               pointPadding: 0,
               dataLabels:  {
                 enabled: false
               }
           }
       },
       series: [{name: 'Age', data: data}]
      });
    });

    $(function(){
      $(".tab-button-time-filter").on("click", function(event) {
        event.stopPropagation();
        $(this).siblings().removeClass("tab-active")
        $(this).addClass("tab-active");
        var timeFilter = $(this).attr("data-time-filter");
        $(".engagemment-content").addClass("hidden");
        $("#tab-content-block-" + timeFilter).removeClass("hidden");
        $("#tab-content-block-" + timeFilter).children().children().children().children(".tab-active.tab-button-graph-switch").each(function() {
          $(this).click();
        });
      });
    });

    $(function(){
      $(".engagement-graph").each(function() {
        //console.log($(this));
        var graphDiv = $(this).children(".has-graph");
        var metricSlug = graphDiv.attr("data-metric-slug");
        var segmentType = graphDiv.attr("data-segment-type");
        var timeFilter = graphDiv.attr("data-time-filter");
        var dataSlug = metricSlug + "-" + segmentType + "-" + timeFilter;

        var params = {"metric": metricSlug, "segment": segmentType, "filter": timeFilter};
        $.ajax({url:'/v2/engagement_data/?results_params=' + encodeURIComponent(JSON.stringify(params)), dataType: "json"}).done(function(result){
          if(!result){
            return;
          }
          if(!Window.UreportEngagementStats) {
            Window.UreportEngagementStats = {}
          }

          var colors = ['#E3002B', '#000000', '#FFD100', '#40B5E5', '#FF8200', '#009917'];
          if(segmentType=="all"){
            colors = ['#2f7ed8', '#0d233a', '#8bbc21', '#910000', '#1aadce', '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'];
          }

          if(segmentType=="gender"){
            colors = ['#40B5E5', '#FF8200', '#019B17'];
          }

          var serverData = result;
          var series = [];
          for (i=0; i<serverData.length; i++) {
            data = serverData[i]['data']
            cleanedData = []
            Object.keys(data).forEach(function(key){
              cleanedData.push([Date.parse(key), data[key]]);
            })
            cleanedData.sort(function(a,b){return a[0] - b[0];});
            series.push({name: serverData[i]['name'], data: cleanedData, color: colors[i % colors.length]})
          }

          Window.UreportEngagementStats[dataSlug] = series
          if (segmentType != 'all') {
            return
          }

          $('#engagement-graph-' + dataSlug).highcharts({
            chart: {
                type: "spline"
            },
            title: {
                text: null
            },
            legend: {
                itemStyle: {
                  color: "#DDD"
                }
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                  month: '%b %Y',
                  year: '%Y'
                },
                labels: {
                  style: {
                    color: "#DDD"
                  }
                },
            },
            yAxis: {
                title: {
                    text: null,
                    style: {
                      color: "#DDD"
                    }
                },
                min: 0,
                labels: {
                  style: {
                    color: "#DDD"
                  }
                }
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x: %b %Y}: {point.y}'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enabled: true
                    }
                }
            },
            credits: {
              enabled: false
            },
            colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
              series : series
          });
        });
      });
    });

    $(function(){
      $(".tab-button-graph-switch").on("click", function(event) {
        event.stopPropagation();
        console.log(event);

        $(this).siblings().removeClass("tab-active")
        $(this).addClass("tab-active");
        var metricSlug = $(this).attr("data-metric-slug");
        var segmentType = $(this).attr("data-segment-type");
        var timeFilter = $(this)  .attr("data-time-filter");
        var dataSlug = metricSlug + "-" + segmentType + "-" + timeFilter;
        $(".engagement-graph-tabs #graph-tabs-" + dataSlug).siblings().addClass("hidden");
        $("#graph-tabs-" + dataSlug).removeClass("hidden");

        var chartType = "column";
        if (segmentType == 'all') {
          chartType = "spline";
        }

        var series = Window.UreportEngagementStats[dataSlug];
        $('#engagement-graph-' + dataSlug).highcharts({
          chart: {
              type: chartType
          },
          title: {
              text: null
          },
          legend: {
              itemStyle: {
                color: "#DDD"
              }
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: {
                month: '%b %Y',
                year: '%Y'
              },
              labels: {
                style: {
                  color: "#DDD"
                }
              },
          },
          yAxis: {
              title: {
                  text: null,
                  style: {
                    color: "#DDD"
                  }
              },
              min: 0,
              labels: {
                style: {
                  color: "#DDD"
                }
              }
          },
          tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x: %b %Y}: {point.y}'
          },
          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },
          credits: {
            enabled: false
          },
          colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
          series : series
        });
      });
    });


- block old-content
  .booklet-bg
  .booklet-bg-content
    .page-title-block
      .uk-grid-match(uk-grid)
        .uk-width-1-2.page-title
          Engagement

  .engagemment-top-graph-block
    .(uk-grid)
      .uk-width-1-2.block-content(style="background:#000; color:#FFF;")
        .engagement-page-yellow-text.registration-stats-labels
          At a glance
        .registration-stats-numbers.uk-flex-inline
          .signup-part
            .part-count
              {{org.get_signups|intcomma}}
            .part-label
              SIGN-UPS
          .response-rate-part
            .part-count
              {{average_response_rate|floatformat}} %
            .part-label
              AVG RESPONSE RATE
        .registration-stats-counts.uk-flex-inline
          .part-count.engagement-page-yellow-text
            {{org.get_reporters_count|intcomma}}
          .part-label
            - trans "TOTAL U-REPORTERS IN" 
            {{ org.name|upper }}
          .part-signu-rate.engagement-page-yellow-text
            +{{org.get_signup_rate|floatformat}} %

        .registration-stats-graphs(uk-grid)
          .uk-width-1-3.uk-flex-inline
            .gender-stats
              .gender-stat-icon
                %img(src="{{ STATIC_URL }}img/gender-male-w.png")
              .gender-stat-percentage
                {{gender_stats.male_percentage}}
              .gender-stat-count.engagement-page-yellow-text
                {{gender_stats.male_count|intcomma}}
            .gender-stats
              .gender-stat-icon
                %img(src="{{ STATIC_URL }}img/gender-female-w.png")
              .gender-stat-percentage
                {{gender_stats.female_percentage}}
              .gender-stat-count.engagement-page-yellow-text
                {{gender_stats.female_count|intcomma}}
            -if org|config:"has_extra_gender"
              .gender-stats
                .gender-stat-icon
                  %img(src="{{ STATIC_URL }}img/gender-other-w.png")
                .gender-stat-percentage
                  {{gender_stats.other_percentage}}
                .gender-stat-count.engagement-page-yellow-text
                  {{gender_stats.other_count|intcomma}}                
          .uk-width-2-3.poll-age-graph
            .age-stats{ id: "age-chart"}
            
      .uk-width-1-2.locations-stats.block-content
        .ureport-location-map(id="ureport-location-map-id")
          #ureport-location-map-id-placeholder.loading-placeholder
            %img(src="{{ STATIC_URL }}img/loading.gif")
  
  .filters-block(style="background:#1D1D1D; padding: 2rem 0;" uk-sticky)
    .uk-grid-match(uk-grid)
      .uk-width-2-3
        .filter-results-label
          FILTER RESULTS:
      .uk-width-1-3
        .uk-button-group.time-filters-button(uk-switcher="animation: uk-animation-fade; toggle: > *; connect:#engagement-content-time-filters")
          - for time_filter in data_time_filters
            %button.uk-button.uk-button-secondary(class="{% if forloop.first %}left-most{% endif %}{% if forloop.last %}uk-active right-most{% endif %}")
              {{time_filter.label}}

  %ul.uk-switcher(id="engagement-content-time-filters")
    - for time_filter in data_time_filters
      %li.engagemment-content
        - for metric in data_metrics
          .engagement-graph-block
            .(uk-grid)
              .uk-width-1-3.block-content
                .block-border
                  .yellow-bg
                .block-title
                  {{ metric.title }}
                .block-graph-tab-buttons
                  .uk-button-group.ureport-graph-tabs-button(uk-switcher="animation: uk-animation-fade; toggle: > *; connect:#graph-tabs-{{metric.slug}}-{{time_filter.time_filter_number}}")
                    - for segment in data_segments
                      -if segment.segment_type == 'location'
                        %button.uk-button.uk-button-default(class="right-most" id="states-dropdown-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}")
                          {{segment.label}}
                        .uk-padding-remove(uk-dropdown="mode:click;" data-graph-id="engagement-graph-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}" data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}")
                          %ul#states-selector.uk-list.uk-list-striped.uk-height-medium.uk-overflow-auto
                            - for state in states
                              %li.state-selector(data-location-id='{{state.name}}')
                                {{state.name}}
                      -else
                        %button.uk-button.uk-button-default(class="{% if forloop.first %}left-most{% endif %}")
                          {{segment.label}}
              .uk-width-2-3.block-content.animate-graph(uk-scrollspy="cls:uk-animation-fade; delay:200; repeat:true;")
                %ul.uk-switcher.engagement-graph-tabs(id="graph-tabs-{{metric.slug}}-{{time_filter.time_filter_number}}")
                  - for segment in data_segments
                    %li.engagement-graph(id="graph-tabs-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}") 
                      .has-graph(id="engagement-graph-{{metric.slug}}-{{segment.segment_type}}-{{time_filter.time_filter_number}}" data-metric-slug="{{metric.slug}}" data-segment-type="{{segment.segment_type}}" data-time-filter="{{time_filter.time_filter_number}}")

-block extra-script
  {{ block.super }}
  {% compress js %}
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/ureporters.coffee" />
  {% endcompress %}

  {% include "public/strings_values.html" %}

  :javascript
    $(function(){
      $.ajax({url:'/boundaries/', dataType: "json"}).done(function(boundaries){
        $(".ureport-location-map").each(function(){
          var ajaxUrl = '/v2/contact_field_results/'
          var colorsList = gradientFactory.generate({
            from: '#DDDDDD',
            to: '{{ org|config:"primary_color"}}',
            stops: 6
          });

          window.initMap('ureport-location-map-id', boundaries, ajaxUrl,  '{{ district_zoom|lower }}' === 'true', colorsList, '{{ ward_zoom|lower }}' === 'true', '{{reporters|intcomma}}');
        });
      });
    });

    $(function(){

      $(".engagement-graph").each(function() {
        //console.log($(this));
        var graphDiv = $(this).children(".has-graph");
        var metricSlug = graphDiv.attr("data-metric-slug");
        var segmentType = graphDiv.attr("data-segment-type");
        var timeFilter = graphDiv.attr("data-time-filter");

        var params = {"metric": metricSlug, "segment": segmentType, "filter": timeFilter};
        $.ajax({url:'/v2/engagement_data/?results_params=' + encodeURIComponent(JSON.stringify(params)), dataType: "json"}).done(function(result){
            if(!result){
              return;
            }
            if(!Window.UreportEngagementStats) {
              Window.UreportEngagementStats = {}
            }

            var colors = ['#E3002B', '#000000', '#FFD100', '#40B5E5', '#FF8200', '#009917'];
            if(segmentType=="all"){
              colors = ['#2f7ed8', '#0d233a', '#8bbc21', '#910000', '#1aadce', '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'];
            }

            if(segmentType=="gender"){
              colors = ['#40B5E5', '#FF8200', '#019B17'];
            }
            
            var serverData = result;
            var series = [];
            for (i=0; i<serverData.length; i++) {
              data = serverData[i]['data']
              cleanedData = []
              Object.keys(data).forEach(function(key){
                cleanedData.push([Date.parse(key), data[key]]);
              })
              cleanedData.sort(function(a,b){return a[0] - b[0];});
              series.push({name: serverData[i]['name'], data: cleanedData, color: colors[i % colors.length]})
            }
  
            Window.UreportEngagementStats[metricSlug + "-" + segmentType + "-" + timeFilter] = series
        });
  
      });
  
      $(".uk-switcher li.engagement-graph").on('beforeshow', function(event) {
        var graphDiv = $("#" + event.target.id).children(".has-graph");
        var metricSlug = graphDiv.attr("data-metric-slug");
        var segmentType = graphDiv.attr("data-segment-type");
        var timeFilter = graphDiv.attr("data-time-filter");
  
        var chartType = "column";
        if (segmentType == 'all') {
          chartType = "spline";
        }

        if(segmentType == "location") {
          return
        }

        var series = Window.UreportEngagementStats[metricSlug + "-" + segmentType + "-" + timeFilter];
        $('#engagement-graph-' + metricSlug + "-" + segmentType + "-" + timeFilter).highcharts({
          chart: {
              type: chartType
          },
          title: {
              text: null
          },
          legend: {
           
              itemStyle: {
                color: "#DDD"
              }
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: {
                month: '%b %Y',
                year: '%Y'
              },
              labels: {
                style: {
                  color: "#DDD"
                }
              },
          },
          yAxis: {
              title: {
                  text: null,
                  style: {
                    color: "#DDD"
                  }
              },
              min: 0,
              labels: {
                style: {
                  color: "#DDD"
                }
              }
          },
          tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x: %b %Y}: {point.y}'
          },
      
          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },
          credits: {
            enabled: false
          },
      
          colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
          series : series
       });
      });

      $(".animate-graph").on('inview', function(event) {
        var graphDiv = $(this).children(".engagement-graph-tabs").children(".engagement-graph").children(".has-graph");
        var metricSlug = graphDiv.attr("data-metric-slug");
        var segmentType = graphDiv.attr("data-segment-type");
        var timeFilter = graphDiv.attr("data-time-filter");

        var chartType = "column";
        if (segmentType == 'all') {
          chartType = "spline";
        }

        if(segmentType == "location") {
          return
        }
        var dataSlug = metricSlug + "-" + segmentType + "-" + timeFilter;
        var series = Window.UreportEngagementStats[dataSlug];
  
        $('#engagement-graph-' + dataSlug).highcharts({
          chart: {
              type: chartType
          },
          title: {
              text: null
          },
          legend: {
              itemStyle: {
                color: "#DDD"
              }
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: {
                month: '%b %Y',
                year: '%Y'
              },
              labels: {
                style: {
                  color: "#DDD"
                }
              }
          },
          yAxis: {
              title: {
                  text: null
              },
              min: 0,
              labels: {
                style: {
                  color: "#DDD"
                }
              }
          },
          tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x: %b %Y}: {point.y}'
          },
      
          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },
  
          credits: {   
            enabled: false
          },
      
          colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
          series : series
          });
      });

      $(".state-selector").on('click', function(event) {
        event.stopPropagation();
        var locationIds = $(this).parent().children('.state-selector.is-selected').map(function() { return $(this).attr('data-location-id')}).get();

        if(locationIds.length < 5) {
          $(this).toggleClass('is-selected');
        } else if ($(this).hasClass('is-selected')) {
          $(this).removeClass('is-selected');
        } else {
          return
        }
        locationIds = $(this).parent().children('.state-selector.is-selected').map(function() { return $(this).attr('data-location-id')}).get();

        var dataDiv = $(this).parent().parent();

        var metricSlug = dataDiv.attr("data-metric-slug");
        var segmentType = dataDiv.attr("data-segment-type");
        var timeFilter = dataDiv.attr("data-time-filter");

        var dataSlug = metricSlug + "-" + segmentType + "-" + timeFilter;
        var results = Window.UreportEngagementStats[dataSlug];

        var colors = ["#E3002B", "#050E28", "#FED100", "#3FB5E5", "#FF8200", "#009316"];

        var locationsResults = [];
        for (i=0; i<results.length; i++){
          result = results[i];
          if(locationIds.includes(result.name)) {
            result.color = colors[locationsResults.length % colors.length]
            locationsResults.push(result);
          }
        }

        var chartType = "column";

        $('#engagement-graph-' + dataSlug).highcharts({
          chart: {
              type: chartType
          },
          title: {
              text: null
          },
          legend: {
              itemStyle: {
                color: "#DDD"
              }
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: {
                month: '%b %Y',
                year: '%Y'
              },
              labels: {
                style: {
                  color: "#DDD"
                }
              },
          },
          yAxis: {
              title: {
                  text: null
              },
              min: 0,
              labels: {
                style: {
                  color: "#DDD"
                }
              }
          },
          tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x: %b %Y}: {point.y}'
          },

          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },

          credits: {
            enabled: false
          },

          colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
          series : locationsResults
          });

        if($("#states-dropdown-" + question).hasClass('uk-open')) {
          $("#states-dropdown-" + question).addClass('uk-active')
        }
        $('#locations-tab-' + question).addClass('uk-active');

      });

    });

    $("#age-chart").each(function(){

           var data = {{ age_stats|safe }};

           {% if is_rtl_org %}
           data.reverse();
           {% endif %}

           var categories = [];

           for (i=0; i<data.length; i++) {
             categories.push(data[i].name)
           }

           $('#age-chart').highcharts({
             chart: {
               type: 'column',
               backgroundColor: "#000",
               spacing: [ 3, 5, 3, 5],
               height: "30%",
             },
             credits: {
               enabled: false
             },
             legend: {
               enabled: false
             },
             title: {
                 text: null
             },
             subtitle: {
                 text: null
             },
             xAxis: {
               categories: categories,
               labels : {
                   rotation: 0,
                   style: {
                     fontSize: 14,
                     fontFamily: "SharpSansDisplayBold",
                     color: "#FED200",
                 }
               },
               minorTickLength: 0,
               tickLength: 0
             },
             yAxis: {
               min: 0,
               labels: {
                 enabled: false
               },
               visible: false,
               gridLineWidth: 0,
               title: {
                 text: null
               }
             },
             tooltip: {
               enabled: false
             },
             plotOptions: {
                 column: {
                     color: '#FFF',
                     pointPadding: 0.2,
                     pointWidth: 30,
                     borderWidth: 0,
                     dataLabels:  {
                       enabled: true,
                       style: {
                         fontFamily: "SharpSansDisplayBold",
                       },
                       color: "#FFF",
                       verticalAlign:"bottom",
                       format: '<b>{point.y:.0f}%</b>'
                     }
                 }
             },
             series: [ {name: 'Age' , data: data } ]
           });
         });