- extends "smartmin/update.html"
- load thumbnail i18n

- block pre-content
  %h2.is-size-2.has-text-weight-bold
    .icon
      .fas.fa-cog
    .is-inline-block.content-title-text
      -trans "Settings"