{% extends "smartmin/read.html" %}
{% load i18n %}
{% block content-section %}
    <div style="padding: 3rem 80px;" class="admin-home-bg">
        {% block content %}
            <div class="columns">
                <div style="border: none;" class="column is-4 left-block">
                    <div class="page-title">{% trans "LATEST NOTIFICATIONS" %}</div>
                    {% block messages %}
                        {% if messages %}
                            {% for message in messages %}<div class="is-{{ message.tags }} notification">{{ message }}</div>{% endfor %}
                        {% endif %}
                    {% endblock messages %}
                    {% for task in org.task_states.all %}
                        {% if task.task_key == 'contact-pull' %}
                            <div class="notification is-size-7">
                                Reporters last synced:
                                <strong>{{ task.last_successfully_started_on|timesince }} ago</strong>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="column is-8 right-block">
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            <a href="{% url 'polls.poll_list' %}"
                               class="tile is-child box has-text-centered link-button">
                                <div style="padding: 50px"
                                     class="tile is-parent is-vertical big-button-link">
                                    <div class="tile is-child">
                                        <img src="{{ STATIC_URL }}img/polls_icon.png">
                                    </div>
                                    <div class="tile is-child is-size-3">{% trans "Opinions" %}</div>
                                </div>
                            </a>
                        </div>
                        <div class="tile is-parent">
                            <a href="{% url 'stories.story_list' %}"
                               class="tile is-child box has-text-centered link-button">
                                <div class="tile is-parent is-vertical big-button-link">
                                    <div class="tile is-child">
                                        <img src="{{ STATIC_URL }}img/stories_icon.png">
                                    </div>
                                    <div class="tile is-child is-size-3">{% trans "Stories" %}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div style="margin: 20px 0px 30px 0px;
                                height: 2px"
                         class="has-background-white"></div>
                    <div class="tile is-ancestor">
                        {% if request.user.is_superuser or org_perms.orgs.org_manage_accounts %}
                            <div class="tile is-parent">
                                <a href="{% url 'orgs.org_manage_accounts' %}"
                                   class="tile is-child box has-text-centered link-button">
                                    <div class="tile is-parent is-vertical small-button-link">
                                        <div class="tile is-child">
                                            <img src="{{ STATIC_URL }}img/users_icon.png">
                                        </div>
                                        <div class="tile is-child is-size-4">{% trans "Users" %}</div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        {% if request.user.is_superuser or org_perms.orgs.org_edit %}
                            <div class="tile is-parent">
                                <a href="{% url 'orgs.org_edit' %}"
                                   class="tile is-child box has-text-centered link-button">
                                    <div class="tile is-parent is-vertical small-button-link">
                                        <div class="tile is-child">
                                            <img src="{{ STATIC_URL }}img/settings_icon.png">
                                        </div>
                                        <div class="tile is-child is-size-4">{% trans "Settings" %}</div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        <div class="tile is-parent">
                            <a href="{% url 'dashblocks.dashblock_list' %}"
                               class="tile is-child box has-text-centered link-button">
                                <div class="tile is-parent is-vertical small-button-link">
                                    <div class="tile is-child">
                                        <img src="{{ STATIC_URL }}img/pages_icon.png">
                                    </div>
                                    <div class="tile is-child is-size-4">{% trans "Pages" %}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="tile is-ancestor">
                        <div class="tile is-parent">
                            {% if request.user.is_superuser or org_perms.orgs.orgbackend_list %}
                                <a href="{% url 'orgs.orgbackend_list' %}"
                                   class="tile is-child box has-text-centered link-button">
                                    <div class="tile is-parent is-vertical small-button-link">
                                        <div class="tile is-child">
                                            <img src="{{ STATIC_URL }}img/settings_icon.png">
                                        </div>
                                        <div class="tile is-child is-size-4">{% trans "Backends" %}</div>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock content %}
    </div>
{% endblock content-section %}
{% block extra-style %}
    <style type="text/css">
    td.read-label {
      width: 200px;
    }
    
    a.manage, a.backends {
      margin-right: 10px;
    }
    
    .last-reporters-sync {
      font-size: 16px;
      font-weight: bold;
    }
    </style>
{% endblock extra-style %}
