- extends "smartmin/read.html"

- block read-buttons
  - if request.user.is_superuser or org_perms.orgs.org_edit
    %a.btn.btn-primary.pull-right{href:"{% url 'orgs.org_edit' %}", role:"button"}
      Edit
  - if request.user.is_superuser or org_perms.orgs.org_manage_accounts
    %a.btn.btn-primary.pull-right.manage{href:"{% url 'orgs.org_manage_accounts' %}", role:"button"}
      Manage Users

- block extra-style
  :css
    td.read-label {
      width: 200px;
    }

    a.manage {
      margin-right: 10px;
    }
