{% extends "smartmin/base.html" %}
{% load smartmin i18n %}

{% block pre-content %}
{% endblock pre-content %}
{% block content %}
    {% block pjax %}
        <article class="message is-danger">
            <div class="message-header">{% trans "Remove Item?" %}</div>
            <div class="message-body">
                <p>
                    {% blocktrans with object=object %}
            Are you sure you want to remove <strong>{{ object }}</strong>?
          {% endblocktrans %}
                </p>
            </br>
            <p>{% trans "Once it is removed, it will be gone forever. There is no way to undo this operation." %}</p>
        </div>
    </article>
    <form method="post">
        {% block delete_form %}
        {% endblock delete_form %}
        <div class="field smartmin-form-buttons is-horizontal">
            <div class="field-label"></div>
            <div class="field-body"></div>
            <div class="field is-grouped">
                <div class="control">
                    <a href="{{ cancel_url }}" class="button">{% trans "Cancel" %}</a>
                    {% csrf_token %}
                </div>
                <div class="control">
                    <button type="submit" class="button is-danger">{% trans "Remove" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock pjax %}
{% endblock content %}
