- load smartmin ureport i18n

- if view.request.path|lower|slice:":3" == "/v2"
  - with form|field:field as form_field
    - getblock "before_field_" field
  
    - if form_field and form_field.is_hidden
      {{ form_field }}
    - else
      - if form_field != None
        .field.is-horizontal(class="{% if form_field.errors %}is-danger{% endif %}")
          .field-label.is-normal
            %label.label(for="{{ field.name }}")>
              - get_label field
          .field-body
            .field.is-expanded
              .control(class="{% if form_field|is_multiple_checkbox %}multiple-checkbox{% endif %}")
                - if form_field|is_checkbox
                  %label.checkbox
                    {{ form_field }}
  
                - elif form_field|is_input
                  {{ form_field|add_css:"input" }}
  
                - elif form_field|is_textarea
                  {{ form_field|add_css:"textarea" }}
  
                - elif form_field|is_select
                  %span.select(class="{% if form_field|is_multiple_select %} is-multiple{% endif %}")
                    {{ form_field }}
  
                - else
                  {{ form_field }}
  
                - with view|field_help:field as help
                  -if help
                    %p.help
                      {{ help }}
                - if form_field.errors
                  %p.help.is-danger
                    {{ form_field.errors }}
  
      - else
        .field.is-horizontal
          .field-label.is-normal
            %label.label(for="{{ field.name }}")>
              - get_label field
          .field-body
            .field.is-expanded
              .control.is-static
                - get_value_from_view field
  
              - with view|field_help:field as help
                -if help
                  %p.help
                    {{ help }}
  
    - getblock "after_field_" field
    
-else
  - with form|field:field as form_field
    - getblock "before_field_" field

    - if form_field and form_field.is_hidden
      {{ form_field }}
    - else
      - if form_field != None
        .form-group(class="{% if form_field.errors %}error{% endif %}")
          %label.col-sm-2.control-label(for="{{ field.name }}")
            {% get_label field %}
          .col-sm-10.smartmin-form-field
            {{ form_field|add_css:"form-control" }}
            - with view|field_help:field as help
              - if help
                %span.help-block
                  {{ help }}
  
            - if form_field.errors
              %span.help-block.field-errors
                {{ form_field.errors }}
      - else 
        .form-group
          %label.col-sm-2.control-label(for="{{ field.name }}")
            {% get_label field %}
          .col-sm-10
            %span.form-control.uneditable-input
              {% get_value_from_view field %}
              - with view|field_help:field as help
                - if help
                  %span.help-block
                    {{ help }}
  
    - getblock "after_field_" field
  