- extends "v2/smartmin/read.html"

- load i18n

-block content-section
  .admin-home-bg(style="padding: 3rem 80px;")
    - block content
      .columns
        .column.is-4.left-block(style="border: none;")
          .page-title
            - trans "LATEST NOTIFICATIONS"

          - block messages
            - if messages
              - for message in messages
                .notification(class="is-{{ message.tags }}")
                  {{ message }}

          -for task in org.task_states.all
            -if task.task_key == 'contact-pull'
              .notification.is-size-7
                Reporters last synced:
                %strong
                  {{ task.last_successfully_started_on|timesince }} ago

        .column.is-8.right-block
          .tile.is-ancestor
            .tile.is-parent
              %a.tile.is-child.box.has-text-centered.link-button(href="{% url 'polls.poll_list' %}")
                .tile.is-parent.is-vertical.big-button-link(style="padding: 50px")
                  .tile.is-child
                     %img(src="{{ STATIC_URL }}img/polls_icon.png")
                  .tile.is-child.is-size-3
                    -trans "Opinions"

            .tile.is-parent
              %a.tile.is-child.box.has-text-centered.link-button(href="{% url 'stories.story_list' %}")
                .tile.is-parent.is-vertical.big-button-link
                  .tile.is-child
                    %img(src="{{ STATIC_URL }}img/stories_icon.png")
                  .tile.is-child.is-size-3
                    -trans "Stories"

          .has-background-white(style="margin: 20px 0px 30px 0px; height: 2px")
          .tile.is-ancestor
            - if request.user.is_superuser or org_perms.orgs.org_manage_accounts
              .tile.is-parent
                %a.tile.is-child.box.has-text-centered.link-button(href="{% url 'orgs.org_manage_accounts' %}")
                  .tile.is-parent.is-vertical.small-button-link
                    .tile.is-child
                      %img(src="{{ STATIC_URL }}img/users_icon.png")
                    .tile.is-child.is-size-4
                      - trans "Users"
            - if request.user.is_superuser or org_perms.orgs.org_edit
              .tile.is-parent
                %a.tile.is-child.box.has-text-centered.link-button(href="{% url 'orgs.org_edit' %}")
                  .tile.is-parent.is-vertical.small-button-link
                    .tile.is-child
                      %img(src="{{ STATIC_URL }}img/settings_icon.png")
                    .tile.is-child.is-size-4
                      - trans "Settings"

            .tile.is-parent
              %a.tile.is-child.box.has-text-centered.link-button(href="{% url 'dashblocks.dashblock_list' %}")
                .tile.is-parent.is-vertical.small-button-link
                  .tile.is-child
                    %img(src="{{ STATIC_URL }}img/pages_icon.png")
                  .tile.is-child.is-size-4
                    - trans "Pages"

          .tile.is-ancestor
            .tile.is-parent
              - if request.user.is_superuser or org_perms.orgs.orgbackend_list
                %a.tile.is-child.box.has-text-centered.link-button(href="{% url 'orgs.orgbackend_list' %}")
                  .tile.is-parent.is-vertical.small-button-link
                    .tile.is-child
                      %img(src="{{ STATIC_URL }}img/settings_icon.png")
                    .tile.is-child.is-size-4
                      - trans "Backends"


- block extra-style
  :css
    td.read-label {
      width: 200px;
    }

    a.manage, a.backends {
      margin-right: 10px;
    }

    .last-reporters-sync {
      font-size: 16px;
      font-weight: bold;
    }