- extends 'v2/smartmin/form.html'
- load smartmin i18n

- block pre-content

- block post-form-errors
    .columns
      .column
        - block content-title
          %h2.is-size-2.has-text-weight-bold
            %img(src="{{ STATIC_URL }}img/users_icon.png")
            .is-inline-block.content-title-text
              -trans "Users"

      .column
        .field.is-horizontal.is-pulled-right
          .field-label
          .field-body
            .field.is-grouped
              .control
                %button.button.is-primary(type="submit")
                  {{ submit_button_name }}
              .control
                %a.button(onclick="javascript:history.go(-1)")
                  - trans "Cancel"

- block form-buttons

- block form-span
  is-12

- block form-help
  .notification
    - trans "You must have at least one administator"


- block fields
  %table.table.is-striped.is-fullwidth.is-hoverable
    %thead
      %tr
        %th
          - trans "Accounts"
        %th.permission
          - trans "Admins"
        %th.permission
          - trans "Editors"
        %th.permission
          - trans "Remove"
    %tbody
      - for user in org_users
        %tr(class="{% cycle 'row2' 'row1' %}")
          %td
            {{user.email}}
            - if user.first_name or user.last_name
              ({{user.first_name}} {{ user.last_name}})

          - with group_fields|get:user as row_fields
            - for check_name in row_fields
              %td.check.permission
                {{form|field:check_name}}
          %td.check.permission
            %input{type:'checkbox'}
      - for invite in invites
        %tr.invite(class="{% cycle 'row2' 'row1' %}")
          %td
            {{invite.email}} (Invite Sent)
          %td.permission
            - if invite.user_group == 'A'
              %input(type="checkbox" disabled checked=None)
            - else
              %input(type="checkbox" disabled)
          %td.permission
            - if invite.user_group == 'E'
              %input(type="checkbox" disabled checked=None)
            - else
              %input(type="checkbox" disabled)
          %td{ height: '3px' }

- block pre-fields
  .columns
    .column.is-8
      .field
        %label.label(for="")
          Invite people to your organization
        .field.is-expanded
          %input.input#id_emails(type="text" name="emails")
    .column.is-4
      .field.is-expanded
        %label.label
          -trans "User group"
        .control.is-expanded
          .select
            %select#id_user_group(name="user_group")
              %option(value="A")
                Administrators
              %option(value="E" selected)
                Editors


- block extra-style
  :css
    input[type="checkbox"] {
      width: 50px;
    }
    .form-horizontal .control-label {
      width: 100%;
      text-align: left;
    }

    input.form-control, textarea.form-control, select.form-control {
      width: 100%;
    }


- block extra-script
  {{block.super}}

  :javascript
    $(function() {
      // initialize the table cell checkboxes
      var boxes = $("td.check");
      boxes.each(function() {
        var list_input = $(this).children("input[type='checkbox']");
        if (list_input[0].checked) {
          $(this).addClass("checked");
        } else {
          $(this).removeClass("checked");
        }
      });
    });

    $(function() {
      // update the cells checkbox on click

      $("td.check input[type='checkbox']").on('click', function(){
        var cell = $(this).parent("td.check");
        var ipt = $(this);

        if (!cell.hasClass("checked")) {
          allCells = cell.parent().children('td.check');
          allHiddenInputs = allCells.find("input[type='checkbox']");

          // Uncheck everything First
          allCells.removeClass('checked');
          allHiddenInputs.prop('checked', false);

          // Check the clicked cell
          cell.addClass('checked');
          ipt.prop('checked', true);

        }

        hasAdmin = false;
        // validate that we always have an admin first
        // to show error if no admin is remaining
        $("td.check").parent().find("input[id*='administrators']").each(function() {
           hasAdmin = hasAdmin || $(this).prop('checked')
        })

        if (!hasAdmin) {
          $('#admin-error').show();
        } else {
          $('#admin-error').hide();
        }

      });
    });
