{% extends "smartmin/list.html" %}
{% load i18n %}

{% block content-title %}
    <h2 class="is-size-2 has-text-weight-bold">
        <img src="{{ STATIC_URL }}img/stories_icon.png" alt="">
        <div class="is-inline-block content-title-text">{% trans "Stories" %}</div>
    </h2>
{% endblock content-title %}
{% block table-buttons %}
    {% if view.add_button %}
        <a href="./create/"
           class="{% if is_rtl_org %}is-pulled-left{% else %}is-pulled-right{% endif %} button is-primary">{% trans "+ New Story" %}</a>
    {% endif %}
{% endblock table-buttons %}
