- extends "frame_v2.html"

- load smartmin i18n thumbnail

-block body-content
  %section.section.is-paddingless.is-marginless
    .container
      .level.is-marginless.has-background-black(style="height:15px")

    -block navbar
      .container(style="padding: 20px 80px 20px 80px;")
        .level
          .level-left
            %a.level-item.has-text-black(href="/")
              .icon
                %i.fas.fa-arrow-circle-left
              - trans "Back to Full Site"
      .container.admin-header
        .level
          .level-left
            %a.level-item.square-logo(href="{% url 'orgs.org_home' %}")
              {% thumbnail org.logo "150x150" format="PNG" as im %}
              %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
              {% endthumbnail %}
            .level-item
              .is-block.title-block
                .welcome-message
                  - block welcome-text
                    - if request.user and request.user.is_authenticated
                      - trans "Welcome, "
                      {{ request.user.first_name }} {{ request.user.last_name }}
                .page-title-text
                  - trans "Dashboard"

          .level-right
            - block login
              - if request.user and request.user.is_authenticated
                .level-item.logged-in-account
                  {{ request.user.username }}
                %a.level-item.button.is-outlined.logout-button(href="{% url 'users.user_logout' %}?go=/")
                  - trans "Logout"
              - else
                %a.level-item.button.is-outlined(href="{% url 'users.user_login' %}")
                    - trans "Login"

  %section.section.is-paddingless.is-marginless
    .container
      -block content-section
        .container
            .columns.is-marginless
              .column.is-one-fifth.block.is-marginless.left-menu(style="padding: 3rem 10px;")
                -block menu
                  %aside.menu
                    %ul.menu-list
                      %li
                        %a(href="{% url 'polls.poll_list' %}")
                          %span.icon(style="color: rgb(156, 202, 42)")
                            .fas.fa-comments
                          - trans "Polls"
                      %li
                        %a(href="{% url 'stories.story_list' %}")
                          %span.icon(style="color: rgb(252, 109, 7)")
                            .fas.fa-edit
                          - trans "Stories"
                      %li
                        %a(href="{% url 'orgs.org_manage_accounts' %}")
                          %span.icon(style="color: rgb(18, 129, 18)")
                            .fas.fa-user
                          - trans "Users"
                      %li
                        %a(href="{% url 'orgs.org_edit' %}")
                          %span.icon(style="color: rgb(114, 57, 142)")
                            .fas.fa-cog
                          - trans "Settings"
                      %li
                        %a(href="{% url 'dashblocks.dashblock_list' %}")
                          %span.icon(style="color: rgb(21, 169, 149)")
                            .fas.fa-file-alt
                          - trans "Pages"
                      %li
                        %a(href="{% url 'jobs.jobsource_list' %}")
                          %span.icon
                            .fas.fa-briefcase
                          - trans "Jobs"
                      %li
                        %a(href="{% url 'categories.category_list' %}")
                          %span.icon
                            .fas.fa-layer-group
                          - trans "Categories"

                      %li
                        %a(href="{% url 'categories.categoryimage_list' %}")
                          %span.icon
                            .fas.fa-images
                          - trans "Categories Images"

                      %li
                        %a(href="{% url 'news.newsitem_list' %}")
                          %span.icon
                            .fas.fa-newspaper
                          - trans "News Items"
                      - if request.user.is_superuser
                        %li
                          %a{href:"{% url 'orgs.org_list' %}"}
                            %span.icon
                              
                            - trans "Orgs"

                        %li
                          %a{ href:"/users/user/"}
                            %span.icon
                              
                            - trans "Users"

                        %li
                          %a{ href:"{% url 'dashblocks.dashblocktype_list' %}"}
                            %span.icon
                              
                            - trans "Content Types"

                        %li
                          %a{ href:"{% url 'assets.image_list' %}"}
                            %span.icon
                              
                            - trans "Images"

                      %li
                        %a(href="https://app.rapidpro.io/")
                          %span.icon(style="color: rgb(4, 54, 160)")
                            .fas.fa-code-branch
                          RapidPro
                      %li
                        %a
                          %span.icon(style="color: rgb(233, 65, 105)")
                            .fas.fa-chart-area
                          - trans "Analytics"

              .column.is-four-fifths.is-offset-one-.block
                -block content-div
                  .content-div(style="padding: 3rem 40px;")
                    - block messages
                      - if messages
                        - for message in messages
                          .notification(class="is-{{ message.tags }}")
                            {{ message }}

                    - block pre-content

                    - block content
   
  %section.section.is-paddingless.is-marginless
    %footer.footer.is-paddingless
      -block footer
        .container
          .level.big-footer-nav
            .level-left
              %a.level-item.footer-logo(href="{% url 'v2.public.index' %}")
                {% thumbnail org.logo "400x100" format="PNG" as im %}
                %img.logo(src="{{ im.url }}" alt="{{ org.name }}" style="border: 1px solid green;")
                {% endthumbnail %}
            .level-right
              %a.level-item.big-footer-link(href="{% url 'v2.public.polls' %}")
                - trans "Polls"
              %a.level-item.big-footer-link(href="{% url 'v2.public.stories' %}")
                - trans "Stories"

          .level.small-footer-nav
            .level-left
              %a.level-item.small-footer-link(href="{% url 'v2.public.about' %}")
                - trans "About"
              %a.level-item.small-footer-link(href="{% url 'v2.public.join' %}")
                - trans "Engage"
              %a.level-item.small-footer-link(href="{% url 'v2.public.ureporters' %}")
                - trans "U-Reporters"
              %a.level-item.small-footer-link(href="{% url 'v2.public.added' %}")
                - trans "FAQ"
              %a.level-item.button.is-outlined.small-footer-link(href="{% url 'v2.public.join' %}")
                - trans "Join Now"

