- extends "frame_v2.html"

- load smartmin i18n thumbnail

-block body-content
  %section.section.is-paddingless.is-marginless
    .container
      .level.is-marginless.has-background-black(style="height:15px")

    -block navbar
      .container(style="padding: 20px 80px 20px 80px;")
        .level
          .level-left
            %a.level-item.has-text-black(href="/")
              .icon
                %i.fas.fa-arrow-circle-left
              Back to Full Site
      .container.has-background-dark.has-text-white(style="padding: 40px 80px 0px 80px;")
        .level.is-large(style="border-bottom: 1px solid white; padding-bottom: 40px;")
          .level-left
            %a.level-item(href="{% url 'orgs.org_home' %}")
              {% thumbnail org.logo "230x86" format="PNG" as im %}
              %img.logo(src="{{ im.url }}" alt="{{ org.name }}" style="border: 1px solid green;")
              {% endthumbnail %}
            .level-item
              %div
                %p.is-size-5
                  - block welcome-text
                    - if request.user and request.user.is_authenticated
                      Welcome {{ request.user.name }}
                %p.has-text-weight-bold.is-size-2.has-text-centered
                  Dashboard
          .level-right
            - block login
              - if request.user and request.user.is_authenticated
                .level-item.is-size-5
                  {{ request.user.username }}
                %a.level-item.is-size-5.button.is-outlined.has-text-white.has-background-dark(href="{% url 'users.user_logout' %}?go=/")
                  - trans "Logout"
              - else
                %a.level-item.is-size-5.button.is-outlined.has-text-white.has-background-dark(href="{% url 'users.user_login' %}")
                    - trans "Login"

  %section.section.is-paddingless.is-marginless
    .container
      -block content-section
        .container
            .columns.is-marginless
              .column.is-one-fifth.block.has-background-info.is-marginless(style="padding: 3rem 10px;")
                -block menu
                  %aside.menu
                    %ul.menu-list
                      %li
                        %a(href="{% url 'polls.poll_list' %}")
                          %span.icon
                            .fas.fa-comments
                          Polls
                      %li
                        %a(href="{% url 'stories.story_list' %}")
                          %span.icon
                            .fas.fa-edit
                          Stories
                      %li
                        %a(href="{% url 'orgs.org_manage_accounts' %}")
                          %span.icon
                            .fas.fa-user
                          Users
                      %li
                        %a(href="{% url 'orgs.org_edit' %}")
                          %span.icon
                            .fas.fa-cog
                          Settings
                      %li
                        %a(href="{% url 'dashblocks.dashblock_list' %}")
                          %span.icon
                            .fas.fa-file-alt
                          Pages
                      %li
                        %a(href="{% url 'categories.category_list' %}")
                          %span.icon
                            .fas.fa-layer-group
                          Categories

                      %li
                        %a(href="{% url 'categories.categoryimage_list' %}")
                          %span.icon
                            .fas.fa-images
                          Categories Images

                      %li
                        %a(href="{% url 'news.newsitem_list' %}")
                          %span.icon
                            .fas.fa-newspaper
                          News Items
                      - if request.user.is_superuser
                        %li
                          %a{href:"{% url 'orgs.org_list' %}"}
                            %span.icon
                              
                            - trans "Orgs"

                        %li
                          %a{ href:"/users/user/"}
                            %span.icon
                              
                            - trans "Users"

                        %li
                          %a{ href:"{% url 'dashblocks.dashblocktype_list' %}"}
                            %span.icon
                              
                            - trans "Content Types"

                        %li
                          %a{ href:"{% url 'assets.image_list' %}"}
                            %span.icon
                              
                            - trans "Images"

                      %li
                        %a(href="https://app.rapidpro.io/")
                          %span.icon
                            .fas.fa-code-branch
                          RapidPro
                      %li
                        %a
                          %span.icon
                            .fas.fa-chart-area
                          Analytics

              .column.is-four-fifths.is-offset-one-.block
                -block content-div
                  .content-div(style="padding: 3rem 40px;")
                    - block messages
                      - if messages
                        - for message in messages
                          .notification(class="is-{{ message.tags }}")
                            {{ message }}

                    - block pre-content

                    - block content
   
  %section.section.is-paddingless.is-marginless
    %footer.footer.is-paddingless
      -block footer
        .container.has-background-black.has-text-white(style="padding: 80px;")
          .level.is-large(style="border-bottom: 1px solid white; padding-bottom: 40px;")
            .level-left
              {% thumbnail org.logo "230x86" format="PNG" as im %}
              %img.logo(src="{{ im.url }}" alt="{{ org.name }}" style="border: 1px solid green;")
              {% endthumbnail %}
            .level-right
              .level-item.has-text-weight-bold.is-size-2
                Polls
              .level-item.has-text-weight-bold.is-size-2
                Stories

          .level
            .level-left
              .level-item.is-size-6
                About
              .level-item.is-size-6
                Engage
              .level-item.is-size-6
                U-Reporters
              .level-item.is-size-6
                FAQ
              .level-item.button.is-size-6.is-outlined.has-background-black.has-text-white.is-primary
                Join Now

