<!doctype html>
- load compress dashblocks thumbnail ureport smartmin i18n

%head
  %meta{ charset:"utf-8"}
  %title
    - block title
      - trans "U-Report"
    - block subtitle
      &nbsp;
  %meta{ name:"description", content:""}
  %meta{ name:"author", content:""}

  - if has_better_domain
    %meta{name:"robots", content:"noindex"}
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  
  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  %meta{ name:"viewport", content:"width=device-width, initial-scale=1.0"}

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  %link{ rel:"icon", type:"image/x-icon", href:"{{ STATIC_URL }}img/favicon.png"}

  :css
    @font-face {
      font-family: SharpSansBold;
      src: url('{{ STATIC_URL }}fonts/SharpSansNo1-Bold.eot');
      src: url('{{ STATIC_URL }}fonts/SharpSansNo1-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('{{ STATIC_URL }}fonts/SharpSansNo1-Bold.woff') format('woff');
    }
    @font-face {font-family: SharpSansBoldItalic;src: url('{{ STATIC_URL }}fonts/SharpSansNo1-BoldItalic.otf');}

  -block styles
    - if is_rtl_org
      - compress css
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/bootstrap.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/bootstrap-rtl.min.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/bootstrap-theme.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/smartmin_styles.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}fonts/icons/style.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/lightbox.css"}
        %link{ type:"text/less", rel:"stylesheet", href:"{{ STATIC_URL }}less/ureport2.less"}
        %link{ type:"text/less", rel:"stylesheet", href:"{{ STATIC_URL }}less/ureport-rtl.less"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/jqcloud.css" }
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/social-icons.css"}

    -else
      -compress css
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/bootstrap.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/bootstrap-theme.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/smartmin_styles.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}fonts/icons/style.css"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/lightbox.css"}
        %link{ type:"text/less", rel:"stylesheet", href:"{{ STATIC_URL }}less/ureport2.less"}
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/jqcloud.css" }
        %link{ type:"text/css", rel:"stylesheet", href:"{{ STATIC_URL }}css/social-icons.css"}

  - if org
    :css
      .primary-color,
      .dropdown-menu > li > a.primary-color,
      a.primary-color {
        color: {{ org|config:"primary_color"}};
        border-color: {{ org|config:"primary_color"}};
      }

      .secondary-color,
      .dropdown-menu > li > a.secondary-color,
      a.secondary-color {
        color: {{ org|config:"secondary_color"}};
      }

      .public-nav .public-nav-ul li.level1.active ul li a:hover,
      .public-nav .public-nav-ul li.level1.open ul li a:hover,
      .level1 > .dropdown-menu > li > a:hover,
      .level1 > .dropdown-menu > li > a:focus {
        background-color: {{ org|config:"primary_color"}};
        background-image: none;
      }

      .primary-bg-color {
        background-color: {{ org|config:"primary_color"}};
      }

      .secondary-bg-color {
        background-color: {{ org|config:"secondary_color"}};
      }

      .primary-border-color {
        border-color: {{ org|config:"primary_color"}} !important;
      }

      .secondary-border-color {
        border-color: {{ org|config:"secondary_color"}} !important;
      }

      .pattern-bg {
        {% if pattern_bg %}
          background-image: url({{MEDIA_URL}}{{pattern_bg.image}});
        {% else %}
          {% if org|config:"bg_color" %}
            background: {{ org|config:"bg_color" }};
          {% else %}
            background: #bc9980;
          {% endif %}
        {% endif %}
      }

      .banner {
        {% if banner_bg %}
          background-image: url({{MEDIA_URL}}{{banner_bg.image}});
        {% else %}
          {% if org|config:"join_bg_color" %}
            background-color: {{ org|config:"join_bg_color" }};
          {% else %}
            background-image: url({{STATIC_URL}}img/default_banner_bg.png);
          {% endif %}
        {% endif %}

        {% if org|config:"join_fg_color" %}
          color: {{ org|config:"join_fg_color"}};
        {% endif %}

      }

      {% for i in 6|get_range %}
        .poll-category-{{ forloop.counter }} .category-bar {
          background-color: {{ org|org_color:i }};
        }

        .poll-category-{{ forloop.counter }} .category-percent {
          color: {{ org|org_color:i }};
        }

      {% endfor %}



  - block extra-less
  - block extra-style


%body.pattern-bg
  #fb-root
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  - block navbar-admin
    - if request.user.is_authenticated and request.org in request.user.get_user_orgs or request.user.is_superuser
      %header#ureport-admin-navbar.navbar.navbar-static-top{ role:"banner"}
        .container
          #ureport-admin-brand.navbar-brand
            - trans "Admin"

          %nav#ureport-admin-top-navbar-collapse.ureport-admin-top-navbar.collapse.navbar-collapse{ role:"navigation"}
            %ul.nav.navbar-nav
              - if request.user.is_superuser
                %li.dropdown
                  %a.dropdown-toggle{href:"#", data-toggle:"dropdown"}
                    - trans "Configuration"
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{href:"{% url 'orgs.org_list' %}"}
                        - trans "Orgs"

                    %li
                      %a{ href:"/users/user/"}
                        - trans "Users"

                    %li
                      %a{ href:"{% url 'dashblocks.dashblocktype_list' %}"}
                        - trans "Content Types"

                    - if request.user.is_superuser or org_perms.assets.image_list
                      %li
                        %a{ href:"{% url 'assets.image_list' %}"}
                          - trans "Images"

                %li
                  %a{ href:"{% url 'dashblocks.dashblock_list' %}"}
                    - trans "Content"

              -if org|config:"is_global"
                -if request.user.is_superuser or perms.countries.countryalias_list
                  %li
                    %a{ href:"{% url 'countries.countryalias_list' %}"}
                      - trans "Country Aliases"

              - if request.user.is_superuser or org_perms.orgs.org_home
                %li
                  %a{ href:"{% url 'orgs.org_home' %}"}
                    {{ org.name }}

              - if request.user.is_superuser or org_perms.polls.poll_list
                %li
                  %a{ href:"{% url 'polls.poll_list' %}"}
                    - trans "Polls"

              - if request.user.is_superuser or org_perms.categories.category_list
                %li
                  %a.dropdown-toggle{href:"#", data-toggle:"dropdown"}
                    - trans "Categories"
                    %b.caret
                  %ul.dropdown-menu
                    - if perms.categories.category_list or org_perms.categories.category_list
                      %li
                        %a{ href:"{% url 'categories.category_list' %}"}
                          - trans "Categories"

                    - if perms.categories.categoryimage_list or org_perms.categories.categoryimage_list
                      %li
                        %a{ href:"{% url 'categories.categoryimage_list' %}"}
                          - trans "Category Images"


              - if request.user.is_superuser or org_perms.dashblocks.dashblock_list
                %li.dropdown
                  %a.dropdown-toggle{href:"#", data-toggle:"dropdown"}
                    - trans "Content"
                    %b.caret
                  %ul.dropdown-menu

                    - if request.user.is_superuser or org_perms.news.newsitem_list
                      %li
                        %a{ href:"{% url 'news.newsitem_list' %}"}
                          - trans "News Items"

                      %li.divider

                    - if request.user.is_superuser or org_perms.stories.story_list
                      %li
                        %a{ href:"{% url 'stories.story_list' %}"}
                          - trans "Stories"

                      %li.divider

                    - if request.user.is_superuser or org_perms.jobs.jobsource_list
                      %li
                        %a{ href:"{% url 'jobs.jobsource_list' %}"}
                          - trans "Job Sources"

                      -if perms.dashblocks.dashblock_list or org_perms.dashblocks.dashblock_list
                        %li
                          %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=jobs"}
                            - trans "Jobs Content"

                      %li.divider

                    -if perms.dashblocks.dashblock_list or org_perms.dashblocks.dashblock_list
                      %li
                        %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=about"}
                          - trans "About Content"

                      %li
                        %a{ href:"{% url 'news.video_list' %}"}
                          - trans "Videos"

                      %li
                        %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=contact_us"}
                          - trans "Contact Us Content"

                      %li
                        %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=missions"}
                          - trans "Missions Content"

                      %li
                        %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=terms_conditions"}
                          - trans "Terms & Conditions"

                      %li.divider
                      %li
                        %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=ureporters"}
                          - trans "U-Reporters Content"

                      %li.divider
                      %li
                        %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=join_engage"}
                          - trans "Join &amp; Engage Content"

                      %li
                        %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=join_steps"}
                          - trans "Join Steps Content"

                      %li.divider
                      %li
                        %a{ href:"{% url 'dashblocks.dashblock_list' %}?slug=additional_menu"}
                          - trans "Additional Menu"

            %ul.nav.navbar-nav.navbar-right
              - block login
                - if request.user and request.user.is_authenticated
                  %li
                    %a.pull-left{ href:"{% url 'users.user_profile' request.user.pk %}"}
                      {{ request.user.username }}
                    %a.pull-right{ href:"{% url 'users.user_logout' %}?go=/"}
                      - trans "Logout"
                - else
                  %li
                    %a{ href:"{% url 'users.user_login' %}"}
                      - trans "Login"

  - block navbar
    - if org
      %header#ureport-public-navbar.ureport-header-navbar.ureport-public-navbar.navbar.navbar-static-top{ role:"banner"}
        .container
          .navbar-header
            %a#brand.navbar-brand{ href:"/"}
              - block brand
                {% thumbnail org.logo "230x86" format="PNG" as im %}
                %img.logo{ src:"{{ im.url }}", alt:"{{ org.name }}"}
                {% endthumbnail %}

          - block navigation
            %nav#ureport-public-navbar-collapse.collapse.navbar-collapse.navbar-right.public-nav{role:"navigation"}
              %ul.nav.navbar-nav.public-nav-ul
                - load_qbs request.org 'additional_menu'
                - for d_block in additional_menu|slice:":1"
                  %li.level1{ class:"{% active request 'added'%}"}
                    %a.primary-color{href:"{% url 'public.added' %}"}
                      {{ d_block.title }}

                %li.level1{ class:"{% active request 'about'%}"}
                  %a.primary-color{href:"{% url 'public.about' %}"}
                    - trans "About"

                %li.level1{ class:"{% active request 'polls' %}"}
                  %a.primary-color{href:"{% url 'public.polls' %}"}
                    - trans "Polls"

                %li.level1{ class:"{% active request 'stories|story' %}"}
                  %a.primary-color{ href:"{% url 'public.stories' %}"}
                    - trans "Stories"

                %li.level1{ class:"{% active request 'ureporters' %}"}
                  %a.primary-color{ href:"{% url 'public.ureporters' %}"}
                    - trans "U-Reporters"

                - if org|config:"has_jobs"
                  %li.level1{ class:"{% active request 'jobs' %}"}
                    %a.primary-color{ href:"{% url 'public.jobs' %}"}
                      - trans "Jobs"

                %li.level1{ class:"{% active request 'join' %}"}
                  %a.primary-color{ href:"{% url 'public.join' %}"}
                    - trans "Join & Engage"

                -#%li.level1.dropdown
                -#  %a.primary-color.dropdown-toggle{type:"button", data-toggle:"dropdown"}
                -#    Language
                -#    %span.caret
                -#
                -#  %ul.dropdown-menu{ role:"menu"}
                -#    %li
                -#      %a.primary-bg-color.primary-color{ href:"#"}
                -#        English
                -#    %li.divider.primary-bg-color
                -#    %li
                -#      %a.primary-color{ href:"#"}
                -#        Francais
                -#    %li.divider.primary-bg-color
                -#    %li
                -#      %a.primary-color{ href:"#"}
                -#        Francais

  #hero.jumbotron
    - block hero

  -if org|config:"join_text"
    .banner
      {{ org|config:"join_text" }}

  .container
    - block content-div
      .content
        - block messages
          - if messages
            - for message in messages
              .alert{ class:"alert-={ message.tags }"}
                %a.close{ data-dismiss:"alert"}
                  x
                {{ message }}

        - block pre-content

        - block content

  - block footer
    .footer-container{class:'{% if org|config:"is_global" %}global-footer{% endif %}'}
      .container
        %footer
          .row
            -if org|config:"is_global"
              .col-sm-9
                - show_org_flags
            -else
              .col-sm-6
                .terms-privacy
                  %img.footer-logo{ src:"{{ STATIC_URL }}img/footer.png" }

            .{class:'{% if org|config:"is_global" %}col-sm-3{% else %}col-sm-6{% endif %}'}
              .follow-us
                -if org|config:"facebook_page_url" or org|config:"twitter_handle" or org|config:"youtube_channel"
                  - trans "FOLLOW US ON:"
                  - if org|config:"facebook_page_url"
                    %a{href:'{{ org|config:"facebook_page_url" }}'}
                      %img.footer-social{ src:"{{ STATIC_URL }}img/facebook_footer_icon.png" }

                  - if org|config:"instagram_username"
                    %a{href:'http://instagram.com/{{ org|config:"instagram_username"}}'}
                      %img.footer-social{ src:"{{ STATIC_URL }}img/instagram_footer_icon.png" }

                  - if org|config:"twitter_handle"
                    %a{href:'http://twitter.com/{{ org|config:"twitter_handle" }}'}
                      %img.footer-social{ src:"{{ STATIC_URL }}img/twitter_footer_icon.png" }

                  - if org|config:"youtube_channel_url"
                    %a{href:'{{ org|config:"youtube_channel_url" }}'}
                      %img.footer-social{ src:"{{ STATIC_URL }}img/youtube_footer_icon.png" }
              -if org|config:"is_global"
                .footer-global-ureport-logo
                  %img.footer-logo{ src:"{{ STATIC_URL }}img/footer.png" }

          - if not request.user.is_authenticated and not is_iorg and show_login
            .row
              .col-sm-12
                .login-link
                  %a.primary-color{href:"{% org_host_link %}/users/login/"}
                    - trans "Login"

  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

  <!-- JavaScript at the bottom for fast page loading, conditional based on whether we are serving locally -->
  <script>
    if (window.location.hostname == "localhost"){
    document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery.1.11.1.min.js"%3E%3C/script%3E'));
    } else {
    document.write(unescape('%3Cscript src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"%3E%3C/script%3E'));
    }

  </script>
  {% if org and org|config:"google_tracking_id" %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ org|config:"google_tracking_id" }}', 'auto');
    ga('send', 'pageview');

  </script>

  {% endif %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pjax.js"></script>

  {% compress js %}
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/ureport.coffee" />
  {% endcompress %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/gradientfactory.js"></script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  -#-#
  -#-#  To stick the menu to the top of window
  -#-#
  -#<script>
  -#
  -#  adminBarHeight = $('#ureport-admin-navbar').outerHeight();
  -#
  -#  if (adminBarHeight == null) {
  -#    adminBarHeight = 0;
  -#  }
  -#
  -#  adminBarHeight += 25;
  -#
  -#  $('#ureport-public-navbar').affix({ offset: adminBarHeight });
  -#
  -#  $('#ureport-public-navbar').on('affix.bs.affix', function(){
  -#    $('#hero').css('padding-top','98px');
  -#  });
  -#
  -#  $('#ureport-public-navbar').on('affix-top.bs.affix', function(){
  -#    $('#hero').css('padding-top','0px');
  -#  });
  -#</script>

  {# media associated with any form we are displaying #}
  {% if form %}
  {{ form.media }}
  {% endif %}
  
  {% block extra-script %}{% endblock %}
  {% block script %}{% endblock %}

