<!DOCTYPE html>
- load static compress dashblocks dashorgs thumbnail ureport smartmin i18n
- load_qbs request.org 'additional_menu'
%html(dir="{% if is_rtl_org %}rtl{% else %}ltr{% endif %}")

  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")
    %title
      -trans "U-Report"
      {{ org.name }}
    %meta(name="description" content="")
    %meta(name="keywords" content="")
    %meta(name="author" content="")

    - if has_better_domain
      %meta(name="robots" content="noindex")

    -block meta-extra

    // Google fonts we use
    %link(href="https://fonts.googleapis.com/css?family=Livvic:300,400,700|Montserrat:300,400,700&display=swap" rel="stylesheet")

    // Font awesome icons
    %link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")

    // Leaflet for maps
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css")

    // AOS, animation library
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css")

    // U-Report styles, compress so they cache bust
    {% compress css %}
    %link(rel="stylesheet" href="{{STATIC_URL}}css/tailwind.css")
    {% endcompress %}
    :css
      .bg-dark1 {
        {% if org|config:'dark1_color' %}
        background: {{ org|config:'dark1_color' }};
        {% else %}
        background: {{ org|config:'primary_color'|default:'#439932' }};
        {% endif %}

      }

      .border-dark1 {
        {% if org|config:'dark1_color' %}
        border-color: {{ org|config:'dark1_color' }};
        {% else %}
        border-color: {{ org|config:'primary_color'|default:'#439932' }};
        {% endif %}
      }

      .hover\:border-dark1:hover {
        {% if org|config:'dark1_color' %}
        border-color: {{ org|config:'dark1_color' }};
        {% else %}
        border-color: {{ org|config:'primary_color'|default:'#439932' }};
        {% endif %}
      }

      .bg-dark2 {
        {% if org|config:'dark2_color' %}
        background: {{ org|config:'dark2_color' }};
        {% else %}
        background: {{ org|config:'primary_color'|default:'#1751af' }};
        {% endif %}
      }

      .border-dark2 {
        {% if org|config:'dark2_color' %}
        border-color: {{ org|config:'dark2_color' }};
        {% else %}
        border-color: {{ org|config:'primary_color'|default:'#1751af' }};
        {% endif %}
      }

      .hover\:border-dark2:hover {
        {% if org|config:'dark2_color' %}
        border-color: {{ org|config:'dark2_color' }};
        {% else %}
        border-color: {{ org|config:'primary_color'|default:'#1751af' }};
        {% endif %}
      }

      .bg-dark3 {
        {% if org|config:'dark3_color' %}
        background: {{ org|config:'dark3_color' }};
        {% else %}
        background: {{ org|config:'primary_color'|default:'#5eb3e0' }};
        {% endif %}
      }

      .border-dark3 {
        {% if org|config:'dark3_color' %}
        border-color: {{ org|config:'dark3_color' }};
        {% else %}
        border-color: {{ org|config:'primary_color'|default:'#5eb3e0' }};
        {% endif %}
      }

      .hover\:border-dark3:hover {
        {% if org|config:'dark3_color' %}
        border-color: {{ org|config:'dark3_color' }};
        {% else %}
        border-color: {{ org|config:'primary_color'|default:'#5eb3e0' }};
        {% endif %}
      }

      .border-light1 {
        border-color: {{ org|config:'light1_color'|default:'#FFD100' }};
      }

      .bg-light1 {
        background: {{ org|config:'light1_color'|default:'#FFD100' }};
      }
      
      .bg-light1.hover-dark:hover {
        background: #ffda33;
      }

      .text-light1 {
        color: {{ org|config:'light1_color'|default:'#FFD100' }};
      }

      .bg-light2 {
        background: {{ org|config:'light2_color'|default:'#5eb3e0' }};
      }

      .bg-light2.hover-dark:hover {
        background: #89c7e8;
      }

      .ligth-black {
        background: lighten(#000000, 10%);
      }

      .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 230px;
        min-height: 100vh;
        will-change: transform;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
      }
      
      .slideout-menu-left {
        left: 0;
      }
      
      .slideout-menu-right {
        right: 0;
      }
      
      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
      }
      
      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }
      
      .slideout-open .slideout-menu {
        display: block;
      }

    :javascript
      {% if org|config:"colors" %}
      var orgColors = '{{org|config:"colors"}}'.split(',');
      {% else %}
      var orgColors = [
        "{{ org|config:'primary_color'|default:'#439932' }}",
        "{{ org|config:'secondary_color'|default:'#1751af' }}",
        "{{ org|config:'tertiary_color'|default:'#5eb3e0' }}"
      ];
      {% endif %}

  %body.font-sans.relative
    #fb-root
    -if org|config:"facebook_page_id" and org|config:"facebook_app_id"
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '{{ org|config:"facebook_app_id" }}',
            autoLogAppEvents: true,
            xfbml      : true,
            version    : 'v4.0'
          });
        };
      </script>

      <div class="fb-customerchat"
        page_id="{{ org|config:"facebook_page_id" }}"
        logged_in_greeting="{{ org|config:"facebook_welcome_text"|default:"Hi! Welcome to U-Report, chat to register and start speaking out today!" }}"
        logged_out_greeting="{{ org|config:"facebook_welcome_text"|default:"Hi! Welcome to U-Report, chat to register and start speaking out today!" }}">
      </div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/{{ org_lang }}/sdk/xfbml.customerchat.js{% if not org|config:'facebook_page_id' or not org|config:'facebook_app_id' %}#xfbml=1&autoLogAppEvents=1&version=v3.2{% endif %}";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    .modal.fixed.hidden.z-1.top-0.left-0.w-full.h-full.overwlow-auto.bg-gray-900.export-modal.shadow(style="z-index:900;")
      .modal-content.mx-auto.my-40.p-6.border.border-black.bg-white.sticky.top-45(class="w-3/5")
        .font-bold.text-xl.mb-2.inline-block
          -trans "Export and Share"
        %i.fa.fa-close.text-xl.export-modal-close.cursor-pointer(class="rtl:float-left ltr:float-right")

        .export-modal-progress.flex.text-center(style="min-height:30rem;")
          .fa-5x.inline-block.m-auto.self-center
            %i.fa.fa-spinner.fa-spin
        .export-modal-content
          .inline-block.mb-4(class="md:w-3/4")
            -trans "Want to tell the world about this? Download this image to easily share on social media or for a beautiful presentation!"
          .inline-block.mb-4(class="md:w-1/4 rtl:float-left rtl:text-left ltr:float-right ltr:text-right  ")
            %a.btn.bg-light1.text-black.inline-block.download-screenshot.hover-dark(href="#")
              Download
          .mt-4.shadow
            %img.screenshot-rendered(src="#" alt="")

    // mobile menu
    #mobile-menu-container.flex.bg-black(class="md:hidden")
      .bg-black.text-white.py-home.pl-home.pr-16.h-auto
        %a.block.font-bold(href="{% url 'v2.public.opinions' %}" class="hover:text-gray-600")
          -trans "Opinions"

        %a.block.mt-4.font-bold(href="{% url 'v2.public.stories' %}" class="hover:text-gray-600")
          -trans "Stories"

        %a.block.mt-8(href="{% url 'v2.public.about' %}" class="hover:text-gray-600")
          -trans "About"

        %a.block.mt-4(href="{% url 'v2.public.ureporters' %}" class="hover:text-gray-600")
          -trans "Engagement"
        
        - if org|config:"has_jobs"
          %a.block.mt-4(href="{% url 'v2.public.jobs' %}" class="hover:text-gray-600")
            - trans "Jobs"
        
        - for custom_page in additional_menu|slice:":3"
          %a.block.mt-4(href="{% url 'v2.public.custom_page' custom_page.link %}" class="hover:text-gray-600")
            {{custom_page.title}}

        .block.mt-4
          - if org|config:"instagram_username"
            %a.flex-initial.py-menu(href='https://www.instagram.com/{{ org|config:"instagram_username" }}/' class="hover:text-gray-600" target="_blank")
              %i.fa.fa-instagram

          - if org|config:"facebook_page_url"
            %a.flex-initial.ml-4.py-menu(href='{{ org|config:"facebook_page_url" }}' class="hover:text-gray-600" target="_blank")
              %i.fa.fa-facebook
    
          - if org|config:"twitter_handle"
            %a.flex-initial.ml-4.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}' class="hover:text-gray-600" target="_blank")
              %i.fa.fa-twitter

        %a.block.font-bold.mt-4(href="{% url 'v2.public.join' %}" class="hover:text-gray-600")
          -trans "Join Now"
        
        .block.mt-4.font-bold.mobile-accordion.text-sm.cursor-pointer
          %i.fa.closed(style="padding-top:2px" class="ltr:float-left rtl:float-right {% if is_rtl_org %}fa-caret-left{% else %}fa-caret-right{% endif %}")
          %i.fa.fa-caret-down.hidden.open(style="padding-top:4px"  class="ltr:float-left rtl:float-right")
          .px-3.whitespace-no-wrap(class="hover:text-gray-750")
            -trans "SELECT COUNTRY"
          .mobile-accordion-content.text-white
            - for site in linked_orgs
              %a.block.p-1(href="{{ site.host }}" class="hover:text-gray-600")
                {{ site.name|title }}


    #mobile-sliding-panel
      // top black bar
      .block.bg-black.h-2
  
      // countries (off screen to start)
      #countries.bg-black.text-white.z-600
        %a#countries-closer.p-4(href="javascript:void(0)" class="rtl:float-left ltr:float-right")
          %i.fa.fa-close.text-3xl
  
        .flex.p-home
          .flex-center-y(class="md:w-1/6")
            .p-4
              %a.inline-block.border-white.p-2(href="https://ureport.in/" class="hover:bg-gray-900")
                %img(src="{{STATIC_URL}}img/u-report-global-logo-white.png")
  
          .flex-center-y(class="md:w-5/6")
            %div
              - show_org_flags
  
      // admin nav
      - if request.user.is_authenticated and request.org in request.user.get_user_orgs or request.user.is_superuser
        #admin-nav.block.hidden.text-xs.text-gray-400.border-t.border-b.border-black.sticky.top-0.z-500(class="md:block")
          %ul.flex
            - if request.user.is_superuser
              %li
                %a.inline-block.px-1.pl-4.py-2.text-lg(href="{% url 'orgs.org_home' %}")
                  %i.fa.fa-gear
            - if request.user.is_superuser
              %li
                .dropdown.relative.z-700
                  %a.admin-menu.dropdown-button.text-sm.leading-loose(href="#")
                    - trans "Configuration"
                    %i.fa.fa-caret-down
  
                  .hidden.dropdown-content.absolute.bg-gray-800.text-white.z-auto
                    %a.admin-menu.small-link-no-wrap(href="{% url 'orgs.org_list' %}")
                      - trans "Orgs"
  
                    %a.admin-menu.small-link-no-wrap(href="/users/user/")
                      - trans "Users"
  
                    %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblocktype_list' %}")
                      - trans "Content Types"
  
                    - if request.user.is_superuser or org_perms.assets.image_list
                      %a.admin-menu.small-link-no-wrap(href="{% url 'assets.image_list' %}")
                        - trans "Images"
              %li
                %a.admin-menu.text-sm.leading-loose(href="{% url 'dashblocks.dashblock_list' %}")
                  - trans "Content"
  
            -if org|config:"is_global"
              -if request.user.is_superuser or perms.countries.countryalias_list
                %li
                  %a.admin-menu.text-sm.leading-loose(href="{% url 'countries.countryalias_list' %}")
                    - trans "Country Aliases"
  
            - if request.user.is_superuser or org_perms.polls.poll_list
              %li
                %a.admin-menu.text-sm.leading-loose(href="{% url 'polls.poll_list' %}")
                  - trans "Opinions"
  
            - if request.user.is_superuser or org_perms.stories.story_list
              %li
                 %a.admin-menu.text-sm.leading-loose(href="{% url 'stories.story_list' %}")
                  - trans "Stories"
  
            - if request.user.is_superuser or org_perms.categories.category_list
              %li
                %a.admin-menu.text-sm.leading-loose(href="{% url 'categories.category_list' %}")
                  - trans "Categories"
  
            %li
              .dropdown.relative.z-700
                %a.admin-menu.dropdown-button.text-sm.leading-loose(href="#")
                  - trans "Content"
                  %i.fa.fa-caret-down
                .hidden.dropdown-content.absolute.bg-gray-800.text-white.z-700
                  -# - if request.user.is_superuser or org_perms.news.newsitem_list
                  -#   %a.inline-block.px-6.py-4.small-link-no-wrap(href="{% url 'news.newsitem_list' %}" class="hover:text-gray-800 hover:bg-gray-300")
                  -#     - trans "News Items"
                  - if request.user.is_superuser or org_perms.jobs.jobsource_list
                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'jobs.jobsource_list' %}")
                      - trans "Job Sources"
  
                  - if perms.dashblocks.dashblock_list or org_perms.dashblocks.dashblock_list
                    %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=jobs")
                      - trans "Jobs Content"
                  -if perms.dashblocks.dashblock_list or org_perms.dashblocks.dashblock_list
                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'dashblocks.dashblock_list' %}?slug=about")
                      - trans "About Content"
  
                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'dashblocks.dashblock_list' %}?slug=photos")
                      - trans "Photos"

                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'news.video_list' %}")
                      - trans "Videos"
  
                    -# %hr
                    -# %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=contact_us" class="hover:text-gray-800 hover:bg-gray-300")
                    -#   - trans "Contact Us Content"
  
                    -# %hr
                    -# %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=missions" class="hover:text-gray-800 hover:bg-gray-300")
                    -#   - trans "Missions Content"
  
                    -# %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=terms_conditions" class="hover:text-gray-800 hover:bg-gray-300")
                    -#   - trans "Terms & Conditions"
  
                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'dashblocks.dashblock_list' %}?slug=ureporters")
                      - trans "U-Reporters Content"
  
                    %hr
                    %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=join_engage")
                      - trans "Join &amp; Engage Content"
  
                    -# %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=join_steps" class="hover:text-gray-800 hover:bg-gray-300")
                    -#   - trans "Join Steps Content"
  
                    %hr
                    %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=additional_menu")
                      - trans "Custom pages"
  
            - block login
              %li(class="{% if is_rtl_org %}mr-auto{% else %}ml-auto{% endif %}")
                %a.admin-menu.text-lg(href="{% url 'users.user_profile' request.user.pk %}")
                  %i.fa.fa-user-circle
  
                %a.admin-menu.text-lg(href="{% url 'users.user_logout' %}?go=/")
                  %i.fa.fa-sign-out
  
      // desktop header
      .block.hidden(class="md:block")
        // desktop header nav
        %ul.my-5.px-home.text-sm.font-bold(class="md:flex")
          .li.flex-none.mr-4.py-menu
            %a#countries-toggler.flex.items-center(href="javascript:void(0)" class="hover:text-gray-750")
              .w-12.flex.mx-1
                %img.inline(src="{{STATIC_URL}}img/selectcountry.png")
              %i.fa.fa-chevron-circle-down
              .mx-2
                -trans "SELECT YOUR COUNTRY"
  
          .li.flex-grow.flex(class="md:justify-end")
            %a.flex-initial.py-menu(href="{% url 'v2.public.ureporters' %}" class="md:ml-4 hover:text-gray-750")
              -trans "Engagement"
            %a.flex-initial.ml-4.py-menu(href="{% url 'v2.public.about' %}" class="hover:text-gray-750")
              -trans "About"
  
            - if org|config:"has_jobs"
              %a.flex-initial.ml-4.py-menu(href="{% url 'v2.public.jobs' %}" class="hover:text-gray-750")
                - trans "Jobs"
          
            - for custom_page in additional_menu|slice:":3"
              %a.flex-initial.ml-4.py-menu(href="{% url 'v2.public.custom_page' custom_page.link %}" class="hover:text-gray-750")
                {{custom_page.title}}
  
            - if org|config:"instagram_username"
              %a.flex-initial.ml-4.py-menu(href='https://www.instagram.com/{{ org|config:"instagram_username" }}/' class="hover:text-gray-750" target="_blank")
               %i.fa.fa-instagram

            - if org|config:"facebook_page_url"
              %a.flex-initial.ml-4.py-menu(href='{{ org|config:"facebook_page_url" }}' class="hover:text-gray-750" target="_blank")
                %i.fa.fa-facebook
  
            - if org|config:"twitter_handle"
              %a.flex-initial.ml-4.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}' class="hover:text-gray-750" target="_blank")
                %i.fa.fa-twitter
  
            %a.flex-initial.rounded-lg.bg-black.text-white.ml-4.px-4.py-menu(href="{% url 'v2.public.join' %}" class="hover:bg-gray-700")
              -trans "Join Now"
  
        // header menu
        .max-w-page.mx-auto.justify-around.mt-5.mb-12.px-home.hidden.border-b.pb-6(class="md:flex")
          .flex-1.text-center.font-bold.text-2xl.flex-center-y
            %div
              %a.pb-2.border-b-2.border-black(href="{% url 'v2.public.opinions' %}" class="hover:text-gray-750 hover:border-dark1")
                -trans "Opinions"
  
          %a.flex-initial.text-center(href="{% url 'v2.public.index' %}")
            .(style="width:360px")
              {% thumbnail org.get_logo "x180" format="PNG" as im %}
              %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
              {% endthumbnail %}
  
          .flex-1.text-center.font-bold.text-2xl.flex-center-y
            %div
              %a.pb-2.border-b-2.border-black(href="{% url 'v2.public.stories' %}" class="hover:text-gray-750 hover:border-dark1")
                -trans "Stories"
  
      // mobile header
      .block(class="md:hidden")
        .flex.justify-between
          .p-home
            %a.flex-initial.text-center(href="{% url 'v2.public.index' %}")
              .(style="width:180px")
                {% thumbnail org.get_logo "x180" format="PNG" as im %}
                %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
                {% endthumbnail %}
  
          .flex-center-y.p-home
            .block.text-3xl.mr-4
              %a#mobile-menu-toggler(href="javascript:void(0)")
                %i.fa.fa-bars
                %i.fa.fa-close.hidden
  
     
      -block content
  
      {% if main_stories|slice:"1:" %}
      // footer stories
      .bg-dark-blue
        .max-w-page.mx-auto.text-white.px-home.pt-home.hover-parent(class="md:flex")
          - for story in main_stories|slice:"1:4"
            %a.block.mt-6.p-4(class="md:mt-4 {% if not forloop.first %} md:ml-4 {% endif %} md:w-1/3 md:p-0" href="{% url 'v2.public.story_read' story.pk %}")
              .block
                {% thumbnail story.get_image "400x250" crop="top" as im %}
                %img(width="100%" src="{{im.url}}")
                {% endthumbnail %}
              .font-bold.mt-4.h-20(class="{% if story.title|length < 50 %}text-lg{% else %}text-base{% endif %}")
                {{ story.title }}
  
              .mt-4.hidden(class="md:block")
                %button.btn.bg-black.text-white(class="hover:bg-gray-700")
                  -trans "READ MORE"
            {% edit_content 'stories.story_update' story.pk "" "bg-black p-2 md:mt-4" "white" %}
  
      {% endif %}
  
      // footer engage callout
      .bg-dark-blue
        .max-w-page.mx-auto.text-white.p-home(class="md:flex")
          .hidden(class="md:w-1/3 md:block")
            .w-40
              %img(src="{{STATIC_URL}}img/blue_u.png")
  
          .text-center(class="md:w-2/3 {% if is_rtl_org %}md:text-left{% else %}md:text-right{% endif %}")
            .pb-4(class="{% if is_rtl_org %}md:pl-10 md:border-l{% else %}md:pr-10 md:border-r{% endif %} md:border-gray-500")
              .font-bold.text-2xl.leading-tight.my-8.hover-parent(class="md:mb-8 md:mt-0 md:text-3xl")
                {% edit_content 'orgs.org_edit' "" "#id_common.engagement_footer_callout" "-m-8" "white" %}
                -if org|config:"engagement_footer_callout"
                  {{ org|config:"engagement_footer_callout"}}
                -else
                  -trans "See by the numbers how we are engaging youth voices for positive social change."
  
              %a.btn.bg-light2.text-white.inline-block.hover-dark(href="{% url 'v2.public.ureporters' %}")
                -trans "EXPLORE ENGAGEMENT"
  
      // footer navbar
      .justify-around.mt-12.mb-3.px-home(class="md:flex")
        %a.flex-1.text-center.mb-2.hidden(href="{% url 'v2.public.index' %}" class="md:block")
          .(style="width:360px")
            {% thumbnail org.get_logo "x180" format="PNG" as im %}
            %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
            {% endthumbnail %}
  
        %a.flex-1.text-center.mb-6.inline-flex(href="{% url 'v2.public.index' %}" class="md:hidden")
          .(style="width:180px")
            {% thumbnail org.get_logo "x180" format="PNG" as im %}
            %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
            {% endthumbnail %}
  
        .flex-1.flex(class="md:justify-end")
          .font-bold.text-2xl.flex-center-y(class="md:ml-6")
            %div
              %a.pb-2.border-b-2.border-black(href="{% url 'v2.public.opinions' %}" class="hover:text-gray-750 hover:border-dark1")
                -trans "Opinions"
  
          .font-bold.text-2xl.ml-6.flex-center-y
            %div
              %a.pb-2.border-b-2.border-black(href="{% url 'v2.public.stories' %}" class="hover:text-gray-750 hover:border-dark1")
                -trans "Stories"
  
      // footer menu
      %ul.mt-5.mb-12.px-home.text-sm.font-bold(class="md:flex")
        .li.flex-initial.py-menu(class="rtl:ml-4 ltr:mr-4")
          %a.flex-initial.py-menu(href="{% url 'v2.public.about' %}" class="hover:text-gray-750")
            -trans "About"
  
          %a.flex-initial.py-menu(href="{% url 'v2.public.ureporters' %}" class="md:ml-4 hover:text-gray-750")
            -trans "Engagement"
  
        .li.flex-grow.flex(class="md:justify-end")
          - if org|config:"instagram_username"
            %a.flex-initial.py-menu(href='https://www.instagram.com/{{ org|config:"instagram_username" }}/' class="hover:text-gray-750" target="_blank")
              %i.fa.fa-instagram
          
          - if org|config:"facebook_page_url"
            %a.flex-initial.py-menu(href='{{ org|config:"facebook_page_url" }}' class="rtl:mr-4 ltr:ml-4 hover:text-gray-750" target="_blank")
              %i.fa.fa-facebook
  
          - if org|config:"twitter_handle"
            %a.flex-initial.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}' class="rtl:mr-4 ltr:ml-4 hover:text-gray-750" target="_blank")
              %i.fa.fa-twitter
        
          - if request.user and request.user.is_authenticated
            %a.flex-initial.py-menu(href="{% url 'users.user_logout' %}?go=/" class="{% if is_rtl_org %}mr-4{% else %}ml-4{% endif %} hover:text-gray-750")
              - trans "Logout"
          -else
            %a.flex-initial.py-menu(href="{% url 'users.user_login' %}" class="{% if is_rtl_org %}mr-4{% else %}ml-4{% endif %} hover:text-gray-750")
              - trans "Login"

      // bottom yellow bar
      .bg-color3.h-2
  

  // JQuery
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")

  // Highcharts for charts
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.2.0/highcharts.js")

  // WordCloud for HighCharts
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.2.0/modules/wordcloud.js")

  // Leaflet for maps
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js")

  // mobile menu slide
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js")

  // AOS for fade in animations on scroll
  %script(src="{{STATIC_URL}}js/aos.js")

  {% compress js %}
  // Gradients making util
  %script(src="{{STATIC_URL}}js/gradientfactory.js")

  // Screenshots
  %script(src="{{ STATIC_URL }}js/html2canvas.min.js")

  // Age charts
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_age.coffee")

  // FB Shares
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_fb_share.coffee")

  // Locations
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_locations.coffee")

  // Polls
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_polls.coffee")

  // Search
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_search.coffee")
  {% endcompress %}

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  {% if org and org|config:"google_tracking_id" %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ org|config:"google_tracking_id" }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}

  -block script
    :javascript
      // global primary color
      var primaryColor = '{{ org|config:"primary_color"}}';
      window.string_Responses = "{% trans "Responses" %}";
      window.string_Polled = "{% trans "Polled" %}";
      window.string_Reporters = "{% trans "Reporters" %}";
      window.string_TopRegion = "{% trans "Top Region" %}";

      Highcharts.setOptions({
        lang: {
          months: [
            "{% trans "January" %}",
            "{% trans "February" %}",
            "{% trans "March" %}",
            "{% trans "April" %}",
            "{% trans "May" %}",
            "{% trans "June" %}",
            "{% trans "July" %}",
            "{% trans "August" %}",
            "{% trans "September" %}",
            "{% trans "October" %}",
            "{% trans "November" %}",
            "{% trans "December" %}"
          ],
          shortMonths: [
            "{% trans "Jan" %}",
            "{% trans "Feb" %}",
            "{% trans "Mar" %}",
            "{% trans "Apr" %}",
            "{% trans "May" %}",
            "{% trans "Jun" %}",
            "{% trans "Jul" %}",
            "{% trans "Aug" %}",
            "{% trans "Sep" %}",
            "{% trans "Oct" %}",
            "{% trans "Nov" %}",
            "{% trans "Dec" %}"
          ],
        }
      });

      // country menu toggling
      $("#countries-toggler").click(function(){
        $("#countries").toggleClass("open");
      });
      $("#countries-closer").click(function(){
        $("#countries").removeClass("open");
      });

      $(".export-modal-close").on('click', function() {
        $(".export-modal").addClass('hidden');
      });

      $(".mobile-accordion").on('click', function() {
        $(this).toggleClass('open');
      })


      $(".screenshot-share").on("click", function() {
        var eltID= $(this).attr("data-screen-id");
        $(".export-modal-progress").show();
        $(".export-modal-content").hide();

        $('.export-modal').toggleClass('hidden');
        $('.modal-content').offset({top: $(window).scrollTop() + 150})
        var region = document.body.querySelector("#" + eltID);

        html2canvas(region).then(canvas => {
          var imageData = canvas.toDataURL("image/png");
          $("img.screenshot-rendered").attr("src", imageData);
          $("a.download-screenshot").attr("download", "ureport-screenshare-" + eltID + Date.now() + ".png")
          $("a.download-screenshot").attr("href", imageData);

          $(".export-modal-progress").hide();
          $(".export-modal-content").show();
        });
      });

      $(".dropdown-button").on('click', function(event){
        event.stopPropagation();
        event.preventDefault();

        if($(this).parent().children(".dropdown-content").hasClass("hidden")) {
          $(".dropdown-content").addClass("hidden");
          $(this).parent().children(".dropdown-content").removeClass("hidden");
        } else {
          $(this).parent().children(".dropdown-content").addClass("hidden");
        }
        
      });

      var slideout = new Slideout({
        'panel': document.getElementById('mobile-sliding-panel'),
        'menu': document.getElementById('mobile-menu-container'),
        'padding': 230,
        'tolerance': 70,
        'side': 'right',
      });

      // mobile menu toggling
      //$("#mobile-menu-toggler").click(function(){
      //  slideout.toggle();
      //});

      // Toggle button
      document.querySelector('#mobile-menu-toggler').addEventListener('click', function() {
        //$("#mobile-menu-container").toggleClass("open");
        $("#mobile-menu-toggler").children().toggleClass("hidden");
        slideout.toggle();
      });

      // initialize our animations
      AOS.init({
        "duration": 1200,
        "offset": 0,
      })
