<!DOCTYPE html>
- load static compress dashblocks dashorgs thumbnail ureport smartmin i18n
- load_qbs request.org 'additional_menu'
%html(dir="{% if is_rtl_org %}rtl{% else %}ltr{% endif %}")

  %head
    %meta(charset="UTF-8")
    -if org|config:"facebook_meta_verification"
      %meta(name="facebook-domain-verification" content='{{ org|config:"facebook_meta_verification" }}')
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")
    %title
      -trans "U-Report"
      {{ org.name }}
    %meta(name="description" content="")
    %meta(name="keywords" content="")
    %meta(name="author" content="")

    - if has_better_domain
      %meta(name="robots" content="noindex")

    -if org.subdomain
      %link(rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicos/flag_{{org.subdomain}}.png")
    -else
      %link(rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.png")

    -block meta-extra
      %meta(property="og:url" content="{% org_host_link %}")
      {% thumbnail org.get_logo "x180" format="PNG" as im %}
      %meta(property="og:image" content="{{im.url}}")
      {% endthumbnail %}

    // Google fonts we use
    %link(href="https://fonts.googleapis.com/css?family=Livvic:300,400,700|Montserrat:300,400,700&display=swap" rel="stylesheet")

    // Font awesome icons
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")

    // Leaflet for maps
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css")

    // AOS, animation library
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css")

    // U-Report styles, compress so they cache bust
    -compress css
      %link(rel="stylesheet" href="{{STATIC_URL}}css/tailwind.css")

    :css
      .bg-dark1 {
        background: {{ org|config:'dark1_color'|default:'#439932'  }};
      }

      .border-dark1 {
        border-color: {{ org|config:'dark1_color'|default:'#439932' }};
      }

      .hover\:border-dark1:hover {
        border-color: {{ org|config:'dark1_color'|default:'#439932' }};
      }

      .bg-dark2 {
        background: {{ org|config:'dark2_color'|default:'#1751af' }};
      }

      .border-dark2 {
        border-color: {{ org|config:'dark2_color'|default:'#1751af' }};
      }

      .hover\:border-dark2:hover {
        border-color: {{ org|config:'dark2_color'|default:'#1751af' }};
      }

      .bg-dark3 {
        background: {{ org|config:'dark3_color'|default:'#5eb3e0' }};
      }

      .border-dark3 {
        border-color: {{ org|config:'dark3_color'|default:'#5eb3e0' }};
      }

      .hover\:border-dark3:hover {
        border-color: {{ org|config:'dark3_color'|default:'#5eb3e0' }};
      }

      .border-light1 {
        border-color: {{ org|config:'light1_color'|default:'#FFD100' }};
      }

      .bg-light1 {
        background: {{ org|config:'light1_color'|default:'#FFD100' }};
      }
      
      .bg-light1.hover-dark:hover {
        background: #ffda33;
      }

      .text-light1 {
        color: {{ org|config:'light1_color'|default:'#FFD100' }};
      }

      .bg-light2 {
        background: {{ org|config:'light2_color'|default:'#5eb3e0' }};
      }

      .bg-light2.hover-dark:hover {
        background: #89c7e8;
      }

      .ligth-black {
        background: lighten(#000000, 10%);
      }

      .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 230px;
        min-height: 100vh;
        will-change: transform;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
      }
      
      .slideout-menu-left {
        left: 0;
      }
      
      .slideout-menu-right {
        right: 0;
      }
      
      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
      }
      
      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }
      
      .slideout-open .slideout-menu {
        display: block;
      }

    :javascript
      var defaultColors = ["#e4002b", "#ff8200", "#ffd100", "#009a17", "#41b6e6", "#0050b5", "#d9d9d6"];
      var orgColors = '{{org|config:"colors"|default:""}}'.toUpperCase().split(',');

      for (var i = 0; i < defaultColors.length; i++) {
        var elt = defaultColors[i].trim().toUpperCase();
        if ((orgColors.length <= 6) && (!orgColors.includes(elt))) {
          orgColors.push(elt);
        }
      }


    -if org and org|config:"google_tag_manager_id"
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ org|config:"google_tag_manager_id" }}');</script>
      <!-- End Google Tag Manager -->

    -if org|config:"facebook_pixel_id"
      <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/{{ org_lang }}/fbevents.js');
        fbq('init', '{{ org|config:"facebook_pixel_id" }}');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=#{ org|config:"facebook_pixel_id" }&amp;ev=PageView&amp;noscript=1"/></noscript>

  %body.font-sans.relative
    #fb-root
    -if org|config:"facebook_page_id" and org|config:"facebook_app_id"
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '{{ org|config:"facebook_app_id" }}',
            autoLogAppEvents: true,
            xfbml      : true,
            version    : 'v4.0'
          });
        };
      </script>

      <div class="fb-customerchat"
        page_id="{{ org|config:"facebook_page_id" }}"
        greeting_dialog_display="icon"
        logged_in_greeting="{{ org|config:"facebook_welcome_text"|default:"Hi! Welcome to U-Report, chat to register and start speaking out today!" }}"
        logged_out_greeting="{{ org|config:"facebook_welcome_text"|default:"Hi! Welcome to U-Report, chat to register and start speaking out today!" }}">
      </div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/{{ org_lang }}/sdk/xfbml.customerchat.js{% if not org|config:'facebook_page_id' or not org|config:'facebook_app_id' %}#xfbml=1&autoLogAppEvents=1&version=v12.0{% endif %}";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    - if org and org|config:"google_tag_manager_id"
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ org|config:'google_tag_manager_id' }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->

    .modal.fixed.hidden.z-1.top-0.left-0.w-full.h-full.overwlow-auto.bg-gray-900.export-modal.shadow(style="z-index:900;")
      .modal-content.mx-auto.my-40.p-6.border.border-black.bg-white.sticky.top-45(class="w-3/5")
        .font-bold.text-xl.mb-2.inline-block
          -trans "Export and Share"
        %i.fas.fa-times.text-xl.export-modal-close.cursor-pointer(class="rtl:float-left ltr:float-right")

        .export-modal-progress.flex.text-center(style="min-height:30rem;")
          .fa-5x.inline-block.m-auto.self-center
            %i.fas.fa-spinner.fa-spin
        .export-modal-content
          .inline-block.mb-4(class="md:w-3/4")
            -trans "Want to tell the world about this? Download this image to easily share on social media or for a beautiful presentation!"
          .inline-block.mb-4(class="md:w-1/4 rtl:float-left rtl:text-left ltr:float-right ltr:text-right  ")
            %a.btn.bg-light1.text-black.inline-block.download-screenshot.hover-dark(href="#")
              Download
          .mt-4.shadow
            %img.screenshot-rendered(src="#" alt="")

    // mobile menu
    #mobile-menu-container.flex.bg-black(class="md:hidden")
      .bg-black.text-white.py-home.pl-home.pr-16.h-auto
        %a.block.font-bold(href="{% url 'public.opinions' %}" class="hover:text-gray-600")
          -trans "Opinions"

        %a.block.mt-4.font-bold(href="{% url 'public.stories' %}" class="hover:text-gray-600")
          -trans "Stories"

        %a.block.mt-8(href="{% url 'public.about' %}" class="hover:text-gray-600")
          -trans "About"

        %a.block.mt-4(href="{% url 'public.ureporters' %}" class="hover:text-gray-600")
          -trans "Engagement"

        -if show_bots_link
          %a.block.mt-4(href="{% url 'public.bots' %}" class="hover:text-gray-600")
            -trans "Bots"
        
        %a.block.mt-4(href="{% url 'public.reports' %}" class="hover:text-gray-600")
          -trans "Reports"

        - if org|config:"has_jobs"
          %a.block.mt-4(href="{% url 'public.jobs' %}" class="hover:text-gray-600")
            - trans "Jobs"
        
        - for custom_page in additional_menu|slice:":3"
          %a.block.mt-4(href="{% url 'public.custom_page' custom_page.link %}" class="hover:text-gray-600")
            {{custom_page.title}}

        .block.mt-4
          - if org|config:"instagram_username"
            %a.flex-initial.py-menu(href='https://www.instagram.com/{{ org|config:"instagram_username" }}/' class="hover:text-gray-600" target="_blank")
              %i.fab.fa-instagram

          - if org|config:"facebook_page_url"
            %a.flex-initial.ml-4.py-menu(href='{{ org|config:"facebook_page_url" }}' class="hover:text-gray-600" target="_blank")
              %i.fab.fa-facebook-f
    
          - if org|config:"twitter_handle"
            %a.flex-initial.ml-4.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}' class="hover:text-gray-600" target="_blank")
              %i.fab.fa-twitter

        %a.block.font-bold.mt-4(href="{% url 'public.join' %}" class="hover:text-gray-600")
          - if org|config:"join_button_text"
            {{ org|config:"join_button_text" }}
          - else
            -trans "Join Now"
        
        - if other_languages_sites
          .block.mt-4.font-bold.mobile-accordion.text-sm.cursor-pointer
            %i.fas.closed(style="padding-top:2px" class="ltr:float-left rtl:float-right {% if is_rtl_org %}fa-caret-left{% else %}fa-caret-right{% endif %}")
            %i.fas.fa-caret-down.hidden.open(style="padding-top:4px"  class="ltr:float-left rtl:float-right")
            .px-3.whitespace-nowrap(class="hover:text-gray-750")
              -trans "SELECT LANGUAGE"
            .mobile-accordion-content.text-white
              - for lang in other_languages_sites
                - if lang.link
                  %a.block.p-1(href="{{ lang.link }}" class="hover:text-gray-600")
                    {{ lang.name|title }}
                - else
                  .block.p-1.cursor-text
                    %i.fas.fa-check.inline
                    {{ lang.name|title }}


        .block.mt-4.font-bold.mobile-accordion.text-sm.cursor-pointer
          %i.fas.closed(style="padding-top:2px" class="ltr:float-left rtl:float-right {% if is_rtl_org %}fa-caret-left{% else %}fa-caret-right{% endif %}")
          %i.fas.fa-caret-down.hidden.open(style="padding-top:4px"  class="ltr:float-left rtl:float-right")
          .px-3.whitespace-nowrap(class="hover:text-gray-750")
            -trans "SELECT COUNTRY"
          .mobile-accordion-content.text-white
            - for site in linked_orgs
              %a.block.p-1(href="{{ site.host }}" class="hover:text-gray-600")
                {{ site.name }}


    #mobile-sliding-panel
      // top black bar
      .block.bg-black.h-2
  
      // countries (off screen to start)
      #countries.bg-black.text-white.z-600
        %a#countries-closer.p-4(href="javascript:void(0)" class="rtl:float-left ltr:float-right")
          %i.fas.fa-times.text-3xl
  
        .flex.p-home
          .flex-center-y(class="md:w-1/6")
            .p-4
              %a.inline-block.border-white.p-2(href="https://ureport.in/" class="hover:bg-gray-900")
                %img(src="{{STATIC_URL}}img/u-report-global-logo-white.png")
  
          .flex-center-y(class="md:w-5/6")
            %div
              - show_org_flags
  
      // admin nav
      - if request.user.is_authenticated and request.org in request.user.get_user_orgs or request.user.is_superuser
        #admin-nav.block.hidden.text-xs.text-gray-400.border-t.border-b.border-black.sticky.top-0.z-500(class="md:block")
          %ul.flex
            - if request.user.is_superuser
              %li
                %a.inline-block.px-1.pl-4.py-2.text-lg(href="{% url 'orgs.org_home' %}")
                  %i.fas.fa-cog
            - if request.user.is_superuser
              %li
                .dropdown.relative.z-700
                  %a.admin-menu.dropdown-button.text-sm.leading-loose(href="#")
                    - trans "Configuration"
                    %i.fas.fa-caret-down
  
                  .hidden.dropdown-content.absolute.bg-gray-800.text-white.z-auto
                    %a.admin-menu.small-link-no-wrap(href="{% url 'orgs.org_list' %}")
                      - trans "Orgs"
  
                    %a.admin-menu.small-link-no-wrap(href="/users/user/")
                      - trans "Users"
  
                    %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblocktype_list' %}")
                      - trans "Content Types"
  
                    - if request.user.is_superuser or org_perms.assets.image_list
                      %a.admin-menu.small-link-no-wrap(href="{% url 'assets.image_list' %}")
                        - trans "Images"
              %li
                %a.admin-menu.text-sm.leading-loose(href="{% url 'dashblocks.dashblock_list' %}")
                  - trans "Content"
  
            -if org|config:"is_global"
              -if request.user.is_superuser or perms.countries.countryalias_list
                %li
                  %a.admin-menu.text-sm.leading-loose(href="{% url 'countries.countryalias_list' %}")
                    - trans "Country Aliases"
  
            - if request.user.is_superuser or org_perms.polls.poll_list
              %li
                %a.admin-menu.text-sm.leading-loose(href="{% url 'polls.poll_list' %}")
                  - trans "Opinions"
  
            - if request.user.is_superuser or org_perms.stories.story_list
              %li
                 %a.admin-menu.text-sm.leading-loose(href="{% url 'stories.story_list' %}")
                  - trans "Stories"
  
            - if request.user.is_superuser or org_perms.bots.bot_list
              %li
                 %a.admin-menu.text-sm.leading-loose(href="{% url 'bots.bot_list' %}")
                  - trans "Bots"

            - if request.user.is_superuser or org_perms.categories.category_list
              %li
                %a.admin-menu.text-sm.leading-loose(href="{% url 'categories.category_list' %}")
                  - trans "Categories"
  
            - if request.user.is_superuser or org_perms.tags.tag_list
              %li
                %a.admin-menu.text-sm.leading-loose(href="{% url 'tags.tag_list' %}")
                  - trans "Tags"

            %li
              .dropdown.relative.z-700
                %a.admin-menu.dropdown-button.text-sm.leading-loose(href="#")
                  - trans "Content"
                  %i.fas.fa-caret-down
                .hidden.dropdown-content.absolute.bg-gray-800.text-white.z-700
                  - if request.user.is_superuser or org_perms.jobs.jobsource_list
                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'jobs.jobsource_list' %}")
                      - trans "Job Sources"
  
                  - if perms.dashblocks.dashblock_list or org_perms.dashblocks.dashblock_list
                    %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=jobs")
                      - trans "Jobs Content"
                  -if perms.dashblocks.dashblock_list or org_perms.dashblocks.dashblock_list
                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'dashblocks.dashblock_list' %}?slug=about")
                      - trans "About Content"
  
                  -if perms.assets.image_list or org_perms.assets.image_list
                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'assets.image_list' %}")
                      - trans "Partners Logos"

                  -if perms.dashblocks.dashblock_list or org_perms.dashblocks.dashblock_list
                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'dashblocks.dashblock_list' %}?slug=ureporters")
                      - trans "U-Reporters Content"
  
                    %hr
                    %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=join_engage")
                      - trans "Join &amp; Engage Content"
                    %hr
                    %a.admin-menu.small-link-no-wrap(href="{% url 'dashblocks.dashblock_list' %}?slug=additional_menu")
                      - trans "Custom pages"

                    %a.admin-menu.small-link-no-wrap.separator(href="{% url 'landingpages.landingpage_list' %}")
                      - trans "Landing pages"
  
            - block login
              %li(class="{% if is_rtl_org %}mr-auto{% else %}ml-auto{% endif %}")
                %a.admin-menu.text-lg(href="{% org_host_link %}{% url 'users.user_profile' request.user.pk %}")
                  %i.fas.fa-user-circle
  
                %a.admin-menu.text-lg(href="{% url 'users.user_logout' %}?go=/")
                  %i.fas.fa-sign-out-alt
  
      // desktop header
      .block.hidden(class="md:block")
        // desktop header nav
        %ul.my-5.px-home.text-sm.font-bold(class="md:flex md:justify-between")
          .li.flex-none.mr-4.py-menu
            %a#countries-toggler.flex.items-center(href="javascript:void(0)" class="hover:text-gray-750")
              .w-12.flex.mx-1
                %img.inline(src="{{STATIC_URL}}img/selectcountry.png")
              %i.fas.fa-chevron-circle-down
              .mx-2
                -trans "SELECT YOUR COUNTRY"
  
          .li.flex-grow.flex(class="md:justify-end")
            %a.flex-initial.py-menu(href="{% url 'public.ureporters' %}" class="md:ml-4 hover:text-gray-750")
              -trans "Engagement"
            %a.flex-initial.ml-4.py-menu(href="{% url 'public.about' %}" class="hover:text-gray-750")
              -trans "About"

            -if show_bots_link
              %a.flex-initial.ml-4.py-menu(href="{% url 'public.bots' %}" class="hover:text-gray-750")
                -trans "Bots"

            - if org|config:"has_jobs"
              %a.flex-initial.ml-4.py-menu(href="{% url 'public.jobs' %}" class="hover:text-gray-750")
                - trans "Jobs"

            %a.flex-initial.ml-4.py-menu(href="{% url 'public.reports' %}" class="hover:text-gray-750")
              -trans "Reports"
          
            - for custom_page in additional_menu|slice:":3"
              %a.flex-initial.ml-4.py-menu(href="{% url 'public.custom_page' custom_page.link %}" class="hover:text-gray-750")
                {{custom_page.title}}
  
            - if org|config:"instagram_username"
              %a.flex-initial.ml-4.py-menu(href='https://www.instagram.com/{{ org|config:"instagram_username" }}/' class="hover:text-gray-750" target="_blank")
               %i.fab.fa-instagram

            - if org|config:"facebook_page_url"
              %a.flex-initial.ml-4.py-menu(href='{{ org|config:"facebook_page_url" }}' class="hover:text-gray-750" target="_blank")
                %i.fab.fa-facebook-f
  
            - if org|config:"twitter_handle"
              %a.flex-initial.ml-4.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}' class="hover:text-gray-750" target="_blank")
                %i.fab.fa-twitter
  
            %a.flex-initial.rounded-lg.bg-black.text-white.ml-4.px-4.py-menu(href="{% url 'public.join' %}" class="hover:bg-gray-700")
              - if org|config:"join_button_text"
                {{ org|config:"join_button_text" }}
              - else
                -trans "Join Now"

            - if other_languages_sites
              %a#languages-toggler.flex-initial.ml-4.w-10.py-menu.language-menu(class="rtl:float-left ltr:float-right")
                %i.fas.fa-caret-down.mx-1.mt-1(class="rtl:float-left ltr:float-right")
                %span.whitespace-nowrap.text-base(class="rtl:float-left ltr:float-right")
                  %i.fas.fa-language
                

                .language-dropdown.absolute.z-50.mt-6.mx-6(class="ltr:-ml-8 rtl:-mr-8")
                  .border.border-gray-400.bg-white(style="margin-top:.5rem;margin-left:-1rem;" class="ltr:text-left rtl:text-right")
                    .pt-1.text-black
                      - for lang in other_languages_sites
                        -if lang.link
                          %button.w-full(onclick='location.href="{{lang.link}}"' type="button" class="focus:outline-none hover:bg-gray-200")
                            .whitespace-nowrap.p-2
                              {{ lang.name }}
                        -else
                          %button.w-full.cursor-text(type="button" class="focus:outline-none")
                            .whitespace-nowrap.p-2
                              %i.fas.fa-check.inline
                              {{ lang.name }}
        // header menu
        .max-w-page.mx-auto.justify-around.mt-5.mb-12.px-home.hidden.border-b.pb-6(class="md:flex")
          .flex-1.text-center.font-bold.text-2xl.flex-center-y
            %div
              %a.pb-2.border-b-2.border-black(href="{% url 'public.opinions' %}" class="hover:text-gray-750 hover:border-dark1")
                -trans "Opinions"
  
          %a.flex-initial.text-center(href="{% url 'public.index' %}")
            .(style="width:360px")
              {% thumbnail org.get_logo "x180" format="PNG" as im %}
              %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
              {% endthumbnail %}
  
          .flex-1.text-center.font-bold.text-2xl.flex-center-y
            %div
              %a.pb-2.border-b-2.border-black(href="{% url 'public.stories' %}" class="hover:text-gray-750 hover:border-dark1")
                -trans "Stories"
  
      // mobile header
      .block(class="md:hidden")
        .flex.justify-between
          .p-home
            %a.flex-initial.text-center(href="{% url 'public.index' %}")
              .(style="width:180px")
                {% thumbnail org.get_logo "x180" format="PNG" as im %}
                %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
                {% endthumbnail %}
  
          .flex-center-y.p-home
            .block.text-3xl.mr-4
              %a#mobile-menu-toggler(href="javascript:void(0)")
                %i.fas.fa-bars
                %i.fas.fa-times.hidden

      -block top-join-call
        .max-w-page.mx-auto.justify-around.mt-5.mb-12.px-home.border-b.pb-6(class="md:flex")
          .flex-1
            .p-8.hover-parent
              {% edit_content 'orgs.org_edit' "" "#id_common.join_text_top"  "-m-8"  "dark"  %}

              .text-3xl.font-bold.leading-tight.text-center
                -if org|config:"join_text_top"
                  {{ org|config:"join_text_top" }}
                -else
                  - trans "Join U-Report, Your voice matters."

              .mt-8.text-center
                %a.btn.bg-light1.text-black.hover-dark(href="{% url 'public.join' %}")
                  - if org|config:"join_button_text"
                    {{ org|config:"join_button_text" }}
                  - else
                    -trans "Join Now"
     
      -block content
  
      {% if main_stories|length > 1 %}
      // footer stories
      .bg-dark-blue
        .max-w-page.mx-auto.text-white.px-home.pt-home.hover-parent(class="md:flex")
          - for story in main_stories|slice:"1:4"
            %a.block.mt-6.p-4(class="md:mt-4 {% if not forloop.first %} md:ml-4 {% endif %} md:w-1/3 md:p-0" href="{% url 'public.story_read' story.pk %}")
              .block
                {% thumbnail story.get_image "400x250" crop="top" as im %}
                %img(width="100%" src="{{im.url}}")
                {% endthumbnail %}
              .font-bold.mt-4.h-20(class="{% if story.title|length < 50 %}text-lg{% else %}text-base{% endif %}")
                {{ story.title }}
  
              .mt-4.hidden(class="md:block")
                %button.btn.bg-black.text-white(class="hover:bg-gray-700")
                  -trans "READ MORE"
            {% edit_content 'stories.story_update' story.pk "" "bg-black p-2 md:mt-4" "white" %}
  
      {% endif %}
  
      // footer engage callout
      .bg-dark-blue
        .max-w-page.mx-auto.text-white.p-home(class="md:flex")
          .hidden(class="md:w-1/3 md:block")
            .w-40
              %img(src="{{STATIC_URL}}img/blue_u.png")
  
          .text-center(class="md:w-2/3 {% if is_rtl_org %}md:text-left{% else %}md:text-right{% endif %}")
            .pb-4(class="{% if is_rtl_org %}md:pl-10 md:border-l{% else %}md:pr-10 md:border-r{% endif %} md:border-gray-500")
              .font-bold.text-2xl.leading-tight.my-8.hover-parent(class="md:mb-8 md:mt-0 md:text-3xl")
                {% edit_content 'orgs.org_edit' "" "#id_common.engagement_footer_callout" "-m-8" "white" %}
                -if org|config:"engagement_footer_callout"
                  {{ org|config:"engagement_footer_callout"}}
                -else
                  -trans "See by the numbers how we are engaging youth voices for positive social change."
  
              %a.btn.bg-light2.text-white.inline-block.hover-dark(href="{% url 'public.ureporters' %}")
                -trans "EXPLORE ENGAGEMENT"
  
      // footer navbar
      .grid.grid-cols-1.gap-4.px-home.mt-12.mb-3(class="md:grid md:grid-cols-3")
        %a.flex-1.text-center.mb-2.hidden(href="{% url 'public.index' %}" class="md:block")
          .(style="max-width:360px")
            {% thumbnail org.get_logo "x180" format="PNG" as im %}
            %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
            {% endthumbnail %}
  
        .justify-center.hidden(class="md:flex")
          -if org|config:"has_footer_unicef_logo"
            .block(class="md:block" style="max-width:185px")
              -if org.language != "ar" and org.language != "ru"
                %img.-ml-2(src="{{STATIC_URL}}img/UNICEF_footer_Logo_black_en.png" class="md:-ml-0")
              -else
                %img.-ml-2(src="{{STATIC_URL}}img/UNICEF_footer_Logo_black_{{org.language}}.png" class="md:-ml-0")

        %a.flex-1.text-center.mb-6.inline-flex(href="{% url 'public.index' %}" class="md:hidden")
          .(style="width:180px")
            {% thumbnail org.get_logo "x180" format="PNG" as im %}
            %img.logo(src="{{ im.url }}" alt="{{ org.name }}")
            {% endthumbnail %}

          .flex.flex-1.-mt-2.justify-end.float-right(class="md:hidden")
            -if org|config:"has_footer_unicef_logo"
              .block(class="md:block" style="width:150px")
                -if org.language != "ar" and org.language != "ru"
                  %img.-ml-2(src="{{STATIC_URL}}img/UNICEF_footer_Logo_black_en.png")
                -else
                  %img.-ml-2(src="{{STATIC_URL}}img/UNICEF_footer_Logo_black_{{org.language}}.png")

        .flex-1.flex(class="md:justify-end")
          .font-bold.text-2xl.flex-center-y(class="md:ml-6")
            %div
              %a.pb-2.border-b-2.border-black(href="{% url 'public.opinions' %}" class="hover:text-gray-750 hover:border-dark1")
                -trans "Opinions"
  
          .font-bold.text-2xl.ml-6.flex-center-y
            %div
              %a.pb-2.border-b-2.border-black(href="{% url 'public.stories' %}" class="hover:text-gray-750 hover:border-dark1")
                -trans "Stories"
  
      .grid-cols-2.gap-4.px-home.mt-5.mb-12(class="md:grid")
        .text-sm.font-bold
          %a.flex-initial.py-menu(href="{% url 'public.about' %}" class="hover:text-gray-750")
            -trans "About"
  
          %a.flex-initial.py-menu(href="{% url 'public.ureporters' %}" class="md:ml-4 hover:text-gray-750")
            -trans "Engagement"

          %a.flex-initial.py-menu(href="{% url 'public.bots' %}" class="md:ml-4 hover:text-gray-750")
            -trans "Bots"

          %a.flex-initial.py-menu(href="{% url 'public.reports' %}" class="md:ml-4 hover:text-gray-750")
            -trans "Reports"

          - if org|config:"has_jobs"
            %a.flex-initial.py-menu(href="{% url 'public.jobs' %}" class="md:ml-4 hover:text-gray-750")
              -trans "Jobs"
  
        .flex.text-sm.font-bold(class="md:justify-end")
          - if org|config:"instagram_username"
            %a.flex-initial.py-menu(href='https://www.instagram.com/{{ org|config:"instagram_username" }}/' class="hover:text-gray-750" target="_blank")
              %i.fab.fa-instagram
          
          - if org|config:"facebook_page_url"
            %a.flex-initial.py-menu(href='{{ org|config:"facebook_page_url" }}' class="rtl:mr-4 ltr:ml-4 hover:text-gray-750" target="_blank")
              %i.fab.fa-facebook-f
  
          - if org|config:"twitter_handle"
            %a.flex-initial.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}' class="rtl:mr-4 ltr:ml-4 hover:text-gray-750" target="_blank")
              %i.fab.fa-twitter
        
          - if show_login
            - if request.user and request.user.is_authenticated
              %a.flex-initial.py-menu(href="{% url 'users.user_logout' %}?go=/" class="{% if is_rtl_org %}mr-4{% else %}ml-4{% endif %} hover:text-gray-750")
                - trans "Logout"
            -else
              %a.flex-initial.py-menu(href="{% org_host_link %}{% url 'users.user_login' %}" class="{% if is_rtl_org %}mr-4{% else %}ml-4{% endif %} hover:text-gray-750")
                - trans "Login"

      // bottom yellow bar
      .bg-color3.h-2
  

  // JQuery
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")

  // Highcharts for charts
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.2.0/highcharts.js")

  // WordCloud for HighCharts
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.2.0/modules/wordcloud.js")

  // Leaflet for maps
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js")

  // mobile menu slide
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js")

  // AOS for fade in animations on scroll
  %script(src="{{STATIC_URL}}js/aos.js")

  {% compress js %}
  // Gradients making util
  %script(src="{{STATIC_URL}}js/gradientfactory.js")

  // Screenshots
  %script(src="{{ STATIC_URL }}js/html2canvas.min.js")

  // Age charts
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_age.coffee")

  // Scheme charts
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_scheme_bar.coffee")

  // FB Shares
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_fb_share.coffee")

  // Locations
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_locations.coffee")

  // Polls
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_polls.coffee")

  // Search
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/v2_search.coffee")
  {% endcompress %}

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  {% if org and org|config:"google_tracking_id" %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ org|config:"google_tracking_id" }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}

  -block script
    :javascript
      // global primary color
      var primaryColor = '{{ org|config:"dark1_color"}}';
      window.string_Responders = "{% trans "Responders" %}";
      window.string_Polled = "{% trans "Polled" %}";
      window.string_Reporters = "{% trans "Reporters" %}";
      window.string_TopRegion = "{% trans "Top Region" %}";

      Highcharts.setOptions({
        lang: {
          months: [
            "{% trans "January" %}",
            "{% trans "February" %}",
            "{% trans "March" %}",
            "{% trans "April" %}",
            "{% trans "May" %}",
            "{% trans "June" %}",
            "{% trans "July" %}",
            "{% trans "August" %}",
            "{% trans "September" %}",
            "{% trans "October" %}",
            "{% trans "November" %}",
            "{% trans "December" %}"
          ],
          shortMonths: [
            "{% trans "Jan" %}",
            "{% trans "Feb" %}",
            "{% trans "Mar" %}",
            "{% trans "Apr" %}",
            "{% trans "May" %}",
            "{% trans "Jun" %}",
            "{% trans "Jul" %}",
            "{% trans "Aug" %}",
            "{% trans "Sep" %}",
            "{% trans "Oct" %}",
            "{% trans "Nov" %}",
            "{% trans "Dec" %}"
          ],
        }
      });

      // country menu toggling
      $("#countries-toggler").click(function(){
        $("#countries").toggleClass("open");
      });
      $("#countries-closer").click(function(){
        $("#countries").removeClass("open");
      });

      $("#languages-toggler").click(function(){
        $(this).toggleClass("open");
      });

      $(".export-modal-close").on('click', function() {
        $(".export-modal").addClass('hidden');
      });

      $(".mobile-accordion").on('click', function() {
        $(this).toggleClass('open');
      })


      $(".screenshot-share").on("click", function() {
        var eltID= $(this).attr("data-screen-id");
        $(".export-modal-progress").show();
        $(".export-modal-content").hide();

        $('.export-modal').toggleClass('hidden');
        $('.modal-content').offset({top: $(window).scrollTop() + 150})
        var region = document.body.querySelector("#" + eltID);

        html2canvas(region).then(canvas => {
          var imageData = canvas.toDataURL("image/png");
          $("img.screenshot-rendered").attr("src", imageData);
          $("a.download-screenshot").attr("download", "ureport-screenshare-" + eltID + Date.now() + ".png")
          $("a.download-screenshot").attr("href", imageData);

          $(".export-modal-progress").hide();
          $(".export-modal-content").show();
        });
      });

      $(".dropdown-button").on('click', function(event){
        event.stopPropagation();
        event.preventDefault();

        if($(this).parent().children(".dropdown-content").hasClass("hidden")) {
          $(".dropdown-content").addClass("hidden");
          $(this).parent().children(".dropdown-content").removeClass("hidden");
        } else {
          $(this).parent().children(".dropdown-content").addClass("hidden");
        }
        
      });

      var slideout = new Slideout({
        'panel': document.getElementById('mobile-sliding-panel'),
        'menu': document.getElementById('mobile-menu-container'),
        'padding': 230,
        'tolerance': 70,
        'side': 'right',
      });

      // mobile menu toggling
      //$("#mobile-menu-toggler").click(function(){
      //  slideout.toggle();
      //});

      // Toggle button
      document.querySelector('#mobile-menu-toggler').addEventListener('click', function() {
        //$("#mobile-menu-container").toggleClass("open");
        $("#mobile-menu-toggler").children().toggleClass("hidden");
        slideout.toggle();
      });

      // initialize our animations
      AOS.init({
        "duration": 1200,
        "offset": 0,
      })