<!DOCTYPE html>
- load static compress dashblocks dashorgs thumbnail ureport smartmin i18n
%html(lang="en")

  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")
    %title
      -trans "U-Report"
    %meta(name="description" content="")
    %meta(name="keywords" content="")
    %meta(name="author" content="")

    // Our fonts
    %link(href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,700|Montserrat:300,400,700&display=swap" rel="stylesheet")

    // Font awesome icons
    %link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")

    // Leaflet for maps
    %link(rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="anonymous")

    // AOS, animation library
    %link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css")

    // U-Report styles
    %link(rel="stylesheet" href="{{STATIC_URL}}css/tailwind.css")

    :css
      .bg-dark1 {
        background: #439932;
      }

      .border-dark1 {
        border-color: #439932;
      }

      .bg-dark2 {
        background: #1751af;
      }

      .border-dark2 {
        border-color: #1751af;
      }

      .bg-dark3 {
        background: #5eb3e0;
      }

      .border-dark3 {
        border-color: #5eb3e0;
      }

      .border-light1 {
        border-color: #FFD100;
      }

      .bg-light1 {
        background: #FFD100;
      }

      .text-light1 {
        color: #FFD100;
      }

      .border-light1 {
        border-color: #1751af;
      }

  %body.font-sans.relative
    // countries (off screen to start)
    #countries.bg-black.text-white
      %a#countries-closer.float-right.p-4(href="javascript:void(0)")
        %i.fa.fa-close.text-3xl

      .flex.p-home
        .flex-center-y(class="md:w-1/3")
          %img(src="{{STATIC_URL}}img/place_countries_logo.png")

        .flex-center-y(class="md:w-2/3")
          %div
            - show_org_flags

    // top black bar
    .block.bg-black.h-2

    // desktop header
    .block.hidden(class="md:block")
      // desktop header nav
      %ul.my-5.px-home.text-sm.font-bold(class="md:flex")
        .li.flex-none.mr-4.py-menu
          %a#countries-toggler(href="javascript:void(0)")
            %i.fa.fa-chevron-circle-down
            -trans "SELECT YOUR COUNTRY"

        .li.flex-grow.flex(class="md:justify-end")
          %a.flex-initial.py-menu(href="{% url 'v2.public.ureporters' %}" class="md:ml-4")
            -trans "Engagement"
          %a.flex-initial.ml-4.py-menu(href="{% url 'v2.public.about' %}")
            -trans "About"

          {% if org|config:"facebook_page_url" %}
          %a.flex-initial.ml-4.py-menu(href='{{ org|config:"facebook_page_url" }}')
            %i.fa.fa-facebook
          {% endif %}

          {% if org|config:"twitter_handle" %}
          %a.flex-initial.ml-4.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}')
            %i.fa.fa-twitter
          {% endif %}

          %a.flex-initial.btn.bg-black.text-white.ml-4.py-menu(href="{% url 'v2.public.join' %}")
            -trans "Join Now"

      // header menu
      .justify-around.mt-5.mb-6.px-home.hidden(class="md:flex")
        .flex-1.text-center.font-bold.text-2xl.flex-center-y
          %div
            %a.pb-2.border-b-2.border-black(href="{% url 'v2.public.opinions' %}")
              -trans "Opinions"

        %a.flex-initial.text-center(href="{% url 'v2.public.index' %}")
          %img(src="{{STATIC_URL}}img/placeholder_country_logo.png")

        .flex-1.text-center.font-bold.text-2xl.flex-center-y
          %div
            %a.pb-2.border-b-2.border-black(href="{% url 'v2.public.stories' %}")
              -trans "Stories"

    // mobile header
    .block(class="md:hidden")
      .flex.justify-between
        .p-2
          %a.flex-initial.text-center(href="{% url 'v2.public.index' %}")
            %img(src="{{STATIC_URL}}img/placeholder_country_logo.png")

        .flex-center-y
          .block.text-3xl.mr-4
            %a#mobile-menu-toggler(href="javascript:void(0)")
              %i.fa.fa-bars

    // mobile menu
    #mobile-menu.absolute.right-0.bg-black.text-white.py-8.pl-8.pr-16(class="md:hidden")
      .border-b.pb-4
        %a.block.font-bold(href="{% url 'v2.public.opinions' %}")
          -trans "Opinions"

        %a.block.font-bold(href="{% url 'v2.public.stories' %}")
          -trans "Stories"

        %a.block.mt-4(href="{% url 'v2.public.about' %}")
          -trans "About"

        %a.block(href="{% url 'v2.public.ureporters' %}")
          -trans "Engagement"

        .block
          {% if org|config:"facebook_page_url" %}
          %a.flex-initial.ml-4.py-menu(href='{{ org|config:"facebook_page_url" }}')
            %i.fa.fa-facebook
          {% endif %}

          {% if org|config:"twitter_handle" %}
          %a.flex-initial.ml-4.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}')
            %i.fa.fa-twitter
          {% endif %}

        %a.block.font-bold.mt-4(href="{% url 'v2.public.join' %}")
          -trans "Join Now"

    -block content

    // footer
    .bg-dark-blue.text-white.p-home(class="md:flex")
      .flex-1.mt-4(class="md:mr-4")
        .block
          %img(src="{{STATIC_URL}}img/story_placeholder.png")
        .font-bold.text-l.mt-4
          Indonesia Scouts to Speak Out Through U-Report

      .flex-1.mt-4(class="md:mx-4")
        .block
          %img(src="{{STATIC_URL}}img/story_placeholder.png")
        .font-bold.text-l.mt-4
          Indonesia Scouts to Speak Out Through U-Report

      .flex-1.mt-4(class="md:ml-4")
        .block
          %img(src="{{STATIC_URL}}img/story_placeholder.png")
        .font-bold.text-l.mt-4
          Indonesia Scouts to Speak Out Through U-Report

    // footer engage callout
    .bg-dark-blue.text-white.px-home(class="md:flex")
      .div.bg-blue-u(class="md:w-1/3")
        .div

      .div.text-right(class="md:w-2/3 md:pr-10 md:border-r md:border-gray-500 md:py-10")
        .font-bold.text-3xl.leading-tight.mb-8
          See by the numbers how we are engaging youth voices for positive social change.

        %a.btn.bg-dark3.text-white.text-xl
          EXPLORE ENGAGEMENT

    // footer navbar
    .justify-around.mt-5.mb-3.px-home(class="md:flex")
      %a.flex-1.text-center.mb-2(href="{% url 'v2.public.index' %}")
        %img(src="{{STATIC_URL}}img/placeholder_country_logo.png")

      .flex-1.flex(class="md:justify-end")
        .font-bold.text-2xl.ml-2.flex-center-y
          %div
            %a.pb-2.border-b-2.border-black(href="{% url 'v2.public.opinions' %}")
              Opinions

        .font-bold.text-2xl.ml-2.flex-center-y
          %div
            %a.pb-2.border-b-2.border-black(href="{% url 'v2.public.stories' %}")
              Stories

    // footer menu
    %ul.my-5.px-home.text-sm.font-bold(class="md:flex")
      .li.flex-initial.mr-4.py-menu
        %a.flex-initial.py-menu(href="{% url 'v2.public.about' %}")
          About

        %a.flex-initial.py-menu(href="{% url 'v2.public.ureporters' %}" class="md:ml-4")
          Engagement

      .li.flex-grow.flex(class="md:justify-end")
        {% if org|config:"facebook_page_url" %}
        %a.flex-initial.ml-4.py-menu(href='{{ org|config:"facebook_page_url" }}')
          %i.fa.fa-facebook
        {% endif %}

        {% if org|config:"twitter_handle" %}
        %a.flex-initial.ml-4.py-menu(href='https://twitter.com/{{ org|config:"twitter_handle" }}')
          %i.fa.fa-twitter
        {% endif %}

    // bottom yellow bar
    .bg-color3.h-2

  %script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

  // Highcharts for charts
  %script(src="https://code.highcharts.com/highcharts.js")

  // Leaflet for maps
  %script(src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin="anonymous")

  // AOS for fade in animations on scroll
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js")

  {% compress js %}
  // Gradients making util
  %script(src="{{STATIC_URL}}js/gradientfactory.js")

  // U-Report map related utilities
  %script(type="text/coffeescript" src="{{ STATIC_URL }}coffee/locations.coffee")
  {% endcompress %}

  -block script
    :javascript
      // country menu toggling
      $("#countries-toggler").click(function(){
        $("#countries").toggleClass("open");
      });
      $("#countries-closer").click(function(){
        $("#countries").removeClass("open");
      });

      // mobile menu toggling
      $("#mobile-menu-toggler").click(function(){
        $("#mobile-menu").toggleClass("open");
      });

      // initialize our animations
      AOS.init({
        "duration": 1200,
        "disable": 'mobile',
        "offset": 0
      })
