// source file for tailwind.css, build by postcss
//
// rebuild by using
//  `npm run build`
//
// for dev, watch this file and automatically rebuild using
//  `npm run watch`

@tailwind base;

.btn {
  @apply font-bold py-2 px-4 rounded mb-1;
}

.bg-grid {
  background-size: 43px 57px;
  background-position: 0px 10px;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);
}

.bg-squares {
  background-size: 43px 57px;
  background-position: 0px 10px;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);
}

.bg-blue-u {
  background-image: url("/sitestatic/img/blue_u.png");
  background-position-x: 6rem;
  background-repeat: no-repeat;
  background-size: auto;
}

.bg-white-u {
  background-image: url("/sitestatic/img/white_u.png");
  background-position-x: -1rem;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.border-r-5rem {
  border-right-width: 5rem;
}

.border-r-25rem {
  border-right-width: 2.5rem;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.py-menu {
  @apply py-2
}

.p-home {
  @apply p-12
}

.p-xhome {
  @apply px-12
}

.flex-center-y {
  @apply flex flex-col justify-center
}

.left-border {
  border-left: 1px solid white;
  padding: .5em 1.25em;
}

@media only screen and (min-width: 768px) {
  .vertical-angle {
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
  }
}

@media only screen and (max-width: 768px) {
  .vertical-angle {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
  }
}

@tailwind components;
@tailwind utilities;