{% extends 'smartmin/update.html' %}

-load i18n

- block pre-form
  - if 'widget_id' in fields
    %p
      - blocktrans
        Remember for a Twitter job source you are required to get a widget id from twitter.
      %a{href:"https://support.twitter.com/articles/20170071-how-to-embed-a-timeline"}
        - trans "Follow this step by step guide"

      - blocktrans
        . After you create the widget copy the widget id from the url as shown on
      %img.widget-id-example{src:"{{STATIC_URL}}img/widget_id_example.jpg", style:""}


- block extra-style
  :css
    .widget-id-example{
      height: 100px;
      border: 2px black solid;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }