- extends "public_base.html"

- load dashblocks thumbnail
- block hero
  - load_qbs request.org 'about'

  - for d_block in about|slice:":1"
    .hero-container
      .hero-dark-container
        .container
          .row
            .col-md-7
              .hero-dark-content
                .hero-title.primary-bg-color
                  ABOUT U-REPORT
                .hero-description
                  {{ d_block.short_content_teaser }}
                .hero-info
                  Scroll to Learn more


  - block banner
    {{ block.super }}


- block content
  - load_qbs request.org 'about'
  - load_qbs request.org 'missions'
  - load_qbs request.org 'contact_us'

  - for d_block in about|slice:":1"
    .row
      .col-md-8.right-col-border
        .section
          %h1.level-1-title
            ABOUT U-REPORT
            .level-1-title-description.secondary-color
          .card.card-padding
            .about-details
              {{d_block.content|safe}}
            %hr.aaa

            - if missions
              .subsection
                .subsection-title
                  The mission of U-report

                .missions
                  .row
                    - for mission in missions|slice:"3"
                      .col-xs-4
                        .mission-image
                          {% thumbnail mission.image "400x250" crop="top" as im %}
                          <img width="100%" src="{{ im.url }}">
                          {% endthumbnail %}
                        .mission-text
                          {{ mission.content|safe }}

              %hr.aaa

            .subsection
              .ureport-world
                - for contact in contact_us|slice:"1"
                  .subsection-title
                    {{ contact.title|title }}
                  .half-border.primary-bg-color
                  .subsection-content
                    {{ contact.content|safe }}

              .ureport-world.left-divider
                .subsection-title
                  Why Join U-Report?
                .half-border.primary-bg-color
                %ul.subsection-content
                  %li
                    Speak out on what's happening in your community
                  %li
                    Use Ureport results and information to update and increase citizen's awareness
                  %li
                    Participate in nationwide campaigns to help improve your country
                  %li
                    Share what's happening around Nigeria with other Ureporters

                %a.subsection-link{ href:"{% url 'public.join' %}"}
                  %nobr.primary-color
                    CLICK HERE TO JOIN &#8594;

      .col-md-4
        .section
          %h1.level-1-title
            U-REPORT VIDEOS
            .level-1-title-description.secondary-color

        .card.card-padding
          - if not videos
            .yt-block-content.no-content
              No videos yet.
          .yt-videos
            - for vid in videos
              .yt-block
                %iframe{ width:"100%", height:"225", src:"//www.youtube.com/embed/{{ vid.video_id }}", frameborder:"0"}
                .yt-block-title.primary-color
                  {{ vid.title|upper }}
                .yt-block-created-on
                  {{ vid.created_on|date|upper }}

                .yt-block-content
                  {{ vid.description|truncatechars:"250" }}
                  %a{ href:"http://www.youtube.com/watch?v={{ vid.video_id }}", style:"font-family:SharpSansBold; font-size:.75em;"}
                    %nobr.primary-color
                      WATCH IT ON YOUTUBE &#8594;

              %hr.aaa

- block extra-style
  {{ block.super }}
  - load_qbs request.org 'about'
  :css
   .hero-container {
      {% for d_block in about|slice:":1"%}
      {% thumbnail d_block.image "1280x678" crop="top" as im %}
        background-image:url('{{im.url}}');
      {% empty %}
        background-image: url('{{ STATIC_URL }}img/missing_image_placeholder.jpg');
      {% endthumbnail %}
      {% endfor %}
    }
