- extends "public_base.html"

- load dashblocks thumbnail i18n ureport

-block content
  - load_qbs request.org 'about'

  .bg-grid
    .max-w-page.mx-auto.p-home.pb-0
      .border.p-home.bg-white
        - for d_block in about|slice:":1"
          .block.mt-4.font-bold.text-5xl.hover-parent
            {% edit_content 'dashblocks.dashblock_update' d_block.pk "#id_title" "-m-8" "dark" %}
            {{ d_block.title }}

          .block.mt-4.hover-parent
            {% edit_content 'dashblocks.dashblock_update' d_block.pk "#id_content" "-m-8" "dark"  %}
            {{ d_block.content|safe }}

          .block.mt-4.flex
            .block.mx-auto.my-8.justify-content.hover-parent
              {% edit_content 'dashblocks.dashblock_update' d_block.pk "#id_image" "-m-8" "dark" %}
              {% thumbnail d_block.image "800x600" crop="top" as im %}
              <img width="100%" height="100%" src="{{im.url}}" />
              {% empty %}
              %img(src="{{ STATIC_URL }}img/missing_image_placeholder.jpg" width="80%" style="margin: 0 auto;")
              {% endthumbnail %}
        
        - if partners_logos|length > 0
          .block.mt-4.font-bold.text-3xl.hover-parent
            .flex.justify-center
              -trans "Partners"

        .block.mt-4.flex
          .block.mx-auto.my-8.justify-content.hover-parent
            .grid.grid-cols-3.gap-4
              -for partner_logo in partners_logos
                .flex.justify-center.p-8
                  .flex.items-center(class="w-1/2")
                    {% thumbnail partner_logo.image "x500" crop="center" as im %}
                    %img(src="{{im.url}}")
                    {% endthumbnail %}
