- extends "public_base.html"

- load thumbnail compress i18n ureport

- block content
  .bg-grid
    .max-w-page.mx-auto.p-home(class="md:flex")
      .flex-1.flex-center-y.hover-parent
        .text-5xl.font-bold
          -trans "Bots"
  
    -for bot in bots

      .max-w-page.mx-auto.my-8.py-2.px-4
        .border.p-home.bg-white.hover-parent.flex
          .block.hover-parent(class="md:w-1/2")
            .mb-4.text-3xl.hover-parent
              {{bot.title}}
              .block.hover-parent
                .block.no-wrap
                  .text-sm.inline
                    -trans "Send"
                  .text-xl.inline
                    "{{bot.keyword}}"
                  .text-sm.inline
                    -trans "to"
                  .text-xl.inline
                    {{bot.channel}}
              .block.flex.mt-4
                - if bot.facebook_deeplink
                  %a.cursor-pointer.bg-circle-xs.border.border-black.mx-2(href="{{bot.facebook_deeplink}}")
                    %i.fab.fa-facebook-f

                - if bot.telegram_deeplink
                  %a.cursor-pointer.bg-circle-xs.border.border-black.mx-2(href="{{bot.telegram_deeplink}}")
                    %i.fab.fa-telegram

                - if bot.viber_deeplink
                  %a.cursor-pointer.bg-circle-xs.border.border-black.mx-2(href="{{bot.viber_deeplink}}")
                    %i.fab.fa-viber

                - if bot.whatsapp_deeplink
                  %a.cursor-pointer.bg-circle-xs.border.border-black.mx-2(href="{{bot.whatsapp_deeplink}}")
                    %i.fab.fa-whatsapp

          .block.px-16.py-4.hover-parent(class="md:w-1/2")
            {% edit_content 'bots.bot_update' bot.pk "" "-m-8" "dark" %}
            .block.hover-parent.overflow-hidden.text-ellipsis
              {{bot.description|safe}}