{% if request.user.is_authenticated and request.org in request.user.get_user_orgs or request.user.is_superuser %}
    <div class="md:block relative hover-parent hidden">
        <div class="{{ extra_css_classes }} {% if is_rtl_org %}float-left left-0{% else %}float-right right-0{% endif %} hover-show absolute top-0">
            <a href="{{ edit_url }}"
               target="_blank"
               rel="noopener noreferrer"
               class="text-3xl">
                <div class="w-8">
                    <img src="{{ STATIC_URL }}img/edit-icon-{{ icon_color }}.png" alt="">
                </div>
            </a>
        </div>
    </div>
{% endif %}
