{% extends "public_base.html" %}
{% load dashblocks thumbnail ureport i18n compress %}
{% block content %}
    {% load_qbs request.org 'jobs' %}
    <div class="bg-grid">
        <div class="max-w-page mx-auto p-home pb-0">
            <div class="border p-home bg-white">
                <div class="block mt-4 font-bold text-5xl">{% trans "Jobs" %}</div>
                <div class="flex flex-wrap mt-6">
                    {% if not job_sources %}No job sources{% endif %}
                    {% if job_sources %}
                        {% for source in job_sources %}
                            {% if is_iorg %}
                                <div>
                                    <a href="{{ source.source_url }}" class="block">{{ source.title }}</a>
                                </div>
                            {% else %}
                                {% if source.source_type == 'F' %}
                                    <div class="mt-12">
                                        <div class="text-2xl pr-8 hover-parent font-bold">
                                            {% edit_content 'jobs.jobsource_update' source.pk "#id_title" "" "dark" %}
                                            {{ source.title|upper }}
                                        </div>
                                        <div class="pr-8">
                                            <a href="{{ source.source_url }}" class="text-dark-blue social-link">
                                                {% trans "Visit" %}
                                                {{ source.title|title }}
                                            </a>
                                        </div>
                                        <div style="max-height:45rem"
                                             class="text-xl pr-8 hover-parent overflow-scroll">
                                            {% edit_content 'jobs.jobsource_update' source.pk "#id_source_url" "-m-8 -mt-12" "dark" %}
                                            <div data-href="{{ source.source_url }}"
                                                 data-width="400"
                                                 data-height="600"
                                                 data-colorscheme="light"
                                                 data-show-faces="false"
                                                 data-header="false"
                                                 data-stream="true"
                                                 data-show-border="false"
                                                 class="fb-like-box"></div>
                                        </div>
                                    </div>
                                {% elif source.source_type == 'R' %}
                                    <div class="mt-12">
                                        <div class="text-2xl hover-parent font-bold">
                                            {% edit_content 'jobs.jobsource_update' source.pk "#id_title" "mx-4" "dark" %}
                                            {{ source.title|upper }}
                                        </div>
                                        <div class="pr-8">
                                            <a href="{{ source.get_return_page }}"
                                               class="text-dark-blue social-link">
                                                {% trans "Visit" %}
                                                {{ source.title|title }}
                                            </a>
                                        </div>
                                        <div style="max-height:45rem;" class="overflow-scroll py-8 pr-8">
                                            {% for entry in source.get_entries %}
                                                <div class="text-2xl">{{ entry.title }}</div>
                                                <div class="text">{{ entry.summary|safe }}</div>
                                                <div class="text-xl mt-2 mb-12">
                                                    <a href="{{ entry.link }}"
                                                       class="hover:bg-gray-600 btn bg-black px-4 py-2 text-sm text-white">
                                                        {% trans "READ MORE" %}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
