- extends "public_base.html"

- load dashblocks thumbnail ureport i18n

-block top-join-call

-block content
  - load_qbs request.org 'join_engage'
  - load_qbs request.org 'join_steps'

  .bg-grid.border-t.border-b
    .max-w-page.mx-auto.p-home.hover-parent(class="md:flex")
      .flex-1.flex-center-y
        .text-5xl.font-bold
          - if org|config:"join_button_text"
            {{ org|config:"join_button_text" }}
          - else
            -trans "Join Now"
      
      .flex-1.flex-center-y.hover-parent
        .text-xl.hover-parent(class="md:pl-12 rtl:text-left ltr:text-right")
          - for d_block in join_engage|slice:":1"
            {% edit_content 'dashblocks.dashblock_update' d_block.pk "#id_content" "-m-8" "dark" %}
            {{ d_block.short_content_teaser|safe }}

  .bg-light1.py-12
    .max-w-page.mx-auto.p-home(class="md:flex")
      .flex-1(class="md:md:w-1/2")
        .text-3xl.font-bold.flex.border-b.border-black.pb-4.mb-4
          .flex-none.flex-center-y
            .bg-circle.bg-black.text-white
              1
          .pl-4.pr-12.flex-center-y
            -trans "How would you like to join?"

      .flex-1.flex-center(class="md:w-1/2")
        .grid.grid-cols-3.text-xl.font-bold.flex.justify-around(class="md:pl-24 md:pr-12")
          {% if org|config:"shortcode" %}
          .mb-4.text-center(class="md:mx-4")
            %a(href='#text')
              .bg-circle-lg.bg-white.text-black.border.border-black
                %i.fas.fa-comment
            .block
              -trans "Text"
          {% endif %}

          {% if org|config:"facebook_page_id" %}
          .mb-4.text-center(class="md:mx-4")
            %a(href='http://m.me/{{ org|config:"facebook_page_id" }}')
              .bg-circle-lg.bg-white.text-black.border.border-black
                %i.fab.fa-facebook-f
            .block
              Facebook
          {% endif %}

          {% if org|config:"whatsapp_number" %}
          .mb-4.text-center(class="md:mx-4")
            %a(href='https://wa.me/{{ org|config:"whatsapp_number" }}')
              .bg-circle-lg.bg-white.text-black.border.border-black
                %i.fab.fa-whatsapp
            .block
              WhatsApp
          {% endif %}

          {% if org|config:"telegram_bot" %}
          .mb-4.text-center(class="md:mx-4")
            %a(href='https://t.me/{{ org|config:"telegram_bot" }}')
              .bg-circle-lg.bg-white.text-black.border.border-black
                %i.fab.fa-telegram
            .block
              Telegram
          {% endif %}

          {% if org|config:"viber_username" %}
          .mb-4.text-center(class="md:mx-4")
            %a(href='https://chats.viber.com/{{ org|config:"viber_username" }}')
              .bg-circle-lg.bg-white.text-black.border.border-black
                %i.fab.fa-viber
            .block
              Viber
          {% endif %}

          {% if org|config:"line_link" %}
          .mb-4.text-center(class="md:mx-4")
            %a(href='{{ org|config:"line_link" }}')
              .bg-circle-lg.bg-white.text-black.border.border-black
                %i.fab.fa-line
            .block
              Line
          {% endif %}

  - for join_step in join_steps
    .py-12(class="{% cycle 'bg-dark1 text-white' 'bg-dark2 text-white' 'bg-dark3 text-white' 'bg-light1 text-black' %}")
      .max-w-page.mx-auto.p-home(class="md:flex " id="{% if forloop.first %}text{% endif %}")
        .flex-1
          .text-3xl.font-bold.flex.border-b.pb-4.mb-4(class="{% cycle 'border-white' 'border-white' 'border-white' 'border-black' %}")
            .flex-none.flex-center-y
              .bg-circle.bg-black.text-white
                {{forloop.counter|add:1}}
            .pl-4.pr-12.flex-center-y.hover-parent
              -if forloop.counter|divisibleby:'4'
                {% edit_content 'dashblocks.dashblock_update' join_step.pk "#id_title" "-m-8" "dark" %}
              -else
                {% edit_content 'dashblocks.dashblock_update' join_step.pk "#id_title" "-m-8" "white" %}
              {{ join_step.title|upper }}
  
        .flex-1.flex-center-y
          .text-xl.hover-parent(class="md:pl-24 md:pr-12")
            -if forloop.counter|divisibleby:'4'
              {% edit_content 'dashblocks.dashblock_update' join_step.pk "#id_title" "-m-8" "dark" %}
            -else
              {% edit_content 'dashblocks.dashblock_update' join_step.pk "#id_title" "-m-8" "white" %}
            {{ join_step.content }}