{% extends "public_base.html" %}
{% load thumbnail compress i18n ureport %}
{% block meta-extra %}
    {% if org|config:"facebook_page_id" and org|config:"facebook_app_id" %}
        <meta property="og:url"
              content="{% org_host_link %}{% url 'public.landing_page' object.slug %}">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ object.title }}">
        <meta property="fb:app_id" content="{{ org|config:'facebook_app_id' }}">
        <meta property="og:description"
              content="{{ object.content|truncatewords:50|linebreaksbr }}">
        {% thumbnail object.image "900" crop="top" as im %}
            <meta property="og:image" content="{{ im.url }}">
        {% endthumbnail %}
    {% endif %}
{% endblock meta-extra %}
{% block top-join-call %}
    <div class="md:flex max-w-page mx-auto justify-around mt-6 mb-12">
        <div class="flex-1">
            <div class="hover-parent">
                {% if object.action_text %}
                    <div class="text-3xl font-bold leading-tight text-center">{{ object.action_text }}</div>
                {% endif %}
                <div class="mt-2 text-center">
                    {% for bot in object.bots.all %}
                        {% if not forloop.first %}
                            <hr style="width: 40%; margin: auto;">
                        {% endif %}
                        <div class="hover-parent">
                            <div class="block py-4 px-16 my-auto hover-parent">
                                <div class="block hover-parent">
                                    <div class="block no-wrap">
                                        <div class="text-sm inline">{% trans "Send" %}</div>
                                        <div class="text-xl inline">"{{ bot.keyword }}"</div>
                                        <div class="text-sm inline">{% trans "to" %}</div>
                                        <div class="text-xl inline">{{ bot.channel }}</div>
                                    </div>
                                </div>
                                <div class="block mt-4">
                                    {% if bot.facebook_deeplink %}
                                        <a href="{{ bot.facebook_deeplink }}"
                                           class="cursor-pointer bg-circle-lg border border-black mx-2">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    {% endif %}
                                    {% if bot.telegram_deeplink %}
                                        <a href="{{ bot.telegram_deeplink }}"
                                           class="cursor-pointer bg-circle-lg border border-black mx-2">
                                            <i class="fab fa-telegram"></i>
                                        </a>
                                    {% endif %}
                                    {% if bot.viber_deeplink %}
                                        <a href="{{ bot.viber_deeplink }}"
                                           class="cursor-pointer bg-circle-lg border border-black mx-2">
                                            <i class="fab fa-viber"></i>
                                        </a>
                                    {% endif %}
                                    {% if bot.whatsapp_deeplink %}
                                        <a href="{{ bot.whatsapp_deeplink }}"
                                           class="cursor-pointer bg-circle-lg border border-black mx-2">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock top-join-call %}
{% block content %}
    <div class="md:flex max-w-page mx-auto bg-dark-blue">
        <div class="md:w-1/2 block bg-dark-blue outside-vertical-angle">
            <div class="py-12 h-full">
                <div class="px-home text-white flex items-center h-full">
                    <div class="block hover-parent">
                        <div class="text-light1 font-bold">{% trans "PAGE" %}</div>
                        <div class="font-alt font-bold text-4xl leading-tight italic hover-parent">
                            {% edit_content 'landingpages.landingpage_update' object.pk "#id_title" "-m-8" "white" %}
                            {{ object.title }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="md:w-1/2 {% if is_rtl_org %}vertical-angle-right{% else %}vertical-angle-left{% endif %} block">
            {% thumbnail object.image "900" crop="top" as im %}
                <img src="{{ im.url }}" width="100%" style="object-fit:cover;">
            {% endthumbnail %}
        </div>
    </div>
    <div class="max-w-page mx-auto">
        <div class="md:flex block justify-between bg-white m-12">
            <div class="flex-none">
                <div class="share">
                    <a href="#"
                       data-url="{% org_host_link %}{% url 'public.landing_page' object.slug %}"
                       class="mb-2 bg-circle-xs border border-black facebook-share">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/intent/tweet?url={% org_host_link %}{% url 'public.landing_page' object.slug %}"
                       class="mb-2 block bg-circle-xs border border-black">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://api.whatsapp.com/send?text={% org_host_link %}{% url 'public.landing_page' object.slug %}"
                       class="mb-2 block bg-circle-xs border border-black">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="mailto:?subject=Check out {{ story.title|urlencode:'' }} results&amp;body={% org_host_link %}{% url 'public.landing_page' object.slug %}"
                       uk-icon="icon: mail; ratio: 1.5"
                       class="mb-2 block bg-circle-xs border border-black">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div>
            <div class="flex-auto px-home story-content hover-parent">
                {% edit_content 'landingpages.landingpage_update' object.pk "#id_content" "-m-8" "dark" %}
                {{ object.content|safe }}
            </div>
            <div class="flex-none w-10">
                <img src="{{ STATIC_URL }}img/u-icon-small.png">
            </div>
        </div>
    </div>
{% endblock content %}
