- extends "public_base.html"

- load compress thumbnail humanize ureport i18n

- block content
  .bg-grid
    .max-w-page.mx-auto.p-home(class="md:flex")
      .flex-1.flex-center-y.hover-parent
        .text-2xl.font-bold.hover-parent(class="md:text-5xl")
          {% edit_content 'orgs.org_edit' "" "#id_common.opinions_description" "" "dark" %}
          -trans "Opinions"
        .text-xl.max-w-lg
          {{ org|config:"opinions_description"|default:""}}

      .flex-center-y(class="{% if is_rtl_org %}md:pr-8{% else %}md:pl-8{% endif %}")
        .block.mt-4(style="width:285px" class="rtl:text-left ltr:text-right")
          .inline-block.bg-black.text-white.text-lg.px-4.py-2.rounded.w-full
            .flex.bg-black.border-b.border-white.w-full
              .flex-1
                %input.bg-black.search-box.text-sm(type="text" data-results-id="poll-search-results" placeholder="{% trans 'SEARCH' %}" size=14)
              .flex-none
                %a.search-close.cursor-pointer(data-results-id="poll-search-results")
                  %i.fas.fa-caret-down

        .relative
          .absolute.bg-white.search-results.h-64.border(id="poll-search-results" style="z-index:100000;width:285px;" class="rtl:right-0 ltr:left-0")
            .no-results.p-4.italic.hidden
              -trans "No results found"

            - for category in categories
              - if category.polls|length > 0
                .block.py-1.bg-white.search-category
                  %a.font-bold.px-2.block(href="#")
                    %i.fas.fa-caret-right.closed(style="padding-top:2px" class="rtl:float-right ltr:float-left {% if is_rtl_org %}fa-caret-left{% else %}fa-caret-right{% endif %}")
                    %i.fas.fa-caret-down.hidden.open(style="padding-top:4px" class="rtl:float-right ltr:float-left")
                    .text-sm(class="rtl:pr-3 ltr:pl-3")
                      {{ category.name }}
                  .category-results
                    - for poll in category.polls
                      %a.block.px-2.py-1.searchable(class="hover:bg-gray-200" href="{% url 'public.opinion_read' poll.pk %}" data-search-value="{{ poll.title|addslashes }} {{ poll.poll_date|date:\"F\" }} {{ poll.poll_date|date:\"Y\" }} {% for tag in poll.tags.all %}{{tag.name|addslashes}}{% endfor%}")
                        .text-sm(class="rtl:mr-2 ltr:ml-2")
                          {{ poll.title }}
                          .inline.text-xs.font-bold
                            {{ poll.poll_date|date:"F" }} {{ poll.poll_date|date:"Y" }}

            - for category in categories_by_date
              - if category.polls|length > 0
                .block.py-1.bg-white.search-category.date-category.hidden
                  %a.font-bold.px-2.block(href="#")
                    %i.fas.fa-caret-right.closed(style="padding-top:2px" class="rtl:float-right ltr:float-left {% if is_rtl_org %}fa-caret-left{% else %}fa-caret-right{% endif %}")
                    %i.fas.fa-caret-down.hidden.open(style="padding-top:4px" class="rtl:float-right ltr:float-left")
                    .text-sm(class="rtl:pr-3 ltr:pl-3")
                      {{ category.name|date:"F" }} {{ category.name|date:"Y" }}
                  .category-results
                    - for poll in category.polls
                      %a.block.px-2.py-1.searchable(class="hover:bg-gray-200" href="{% url 'public.opinion_read' poll.pk %}" data-search-value="{{ poll.poll_date|date:\"F\" }} {{ poll.poll_date|date:\"Y\" }}")
                        .text-sm(class="rtl:mr-2 ltr:ml-2")
                          {{ poll.title }} - ({{poll.category.name}})
                          .inline.text-xs.font-bold
                            {{ poll.poll_date|date:"F" }} {{ poll.poll_date|date:"Y" }}


  .max-w-page.mx-auto
    -if poll_preview and latest_poll
      .block
        .flex-1.my-home.self-center.hover-parent.bg-gray-400
          .px-home.hover-parent
            .font-bold.leading-tight.hover-parent.text-3xl.p-8.text-center
              {% edit_content 'polls.poll_update' latest_poll.pk "#id_title"  "-m-8" "dark" %}
              -if not latest_poll.is_active
                -trans "Unpublished poll preview. Click Edit to publish it"
              -else
                -trans "Published poll. Click Edit to unpublish it"
              -if not latest_poll.has_synced
                .text-xl
                  -trans "Poll has not synced yet to be displayed to the public"

    .bg-white(class="md:flex" id="poll-top-{{latest_poll.id}}")
      .flex-1.my-home.self-center.hover-parent(class="rtl:border-l ltr:border-r")
        .px-home.hover-parent
          -if latest_poll
            .bg-dark2.inline-block.px-4.py-2.uppercase.leading-none.font-bold.text-sm.text-white.mb-6
              {{ latest_poll.category.name }}

            .share.flex-none.mb-4.flex-center-y.hover-show(class="rtl:float-left ltr:float-right")
              .block
                %a.cursor-pointer.bg-circle-xs.border.border-black.facebook-share(data-url="{% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}#poll-top-{{latest_poll.id}}")
                  %i.fab.fa-facebook-f
                %a.bg-circle-xs.border.border-black(href="https://twitter.com/intent/tweet?url={% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}#poll-top-{{latest_poll.id}}")
                  %i.fab.fa-twitter
                %a.bg-circle-xs.border.border-black(href="https://api.whatsapp.com/send?text={% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}#poll-top-{{latest_poll.id}}")
                  %i.fab.fa-whatsapp
                %a.bg-circle-xs.border.border-black(href="mailto:?subject=Check out {{ poll.title|urlencode:\"\" }} results&amp;body=Check out the results for U-Report poll on {% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}#poll-top-{{latest_poll.id}}")
                  %i.fas.fa-envelope
                %a.cursor-pointer.bg-circle-xs.border.border-black.screenshot-share(data-screen-id="poll-top-{{latest_poll.id}}")
                  %i.fas.fa-file-image



            .font-bold.leading-tight.hover-parent(class="{% if latest_poll.title|length < 50 %}text-4xl{% elif latest_poll.title|length < 120 %}text-3xl{% else %}text-2xl{% endif %}")
              {% edit_content 'polls.poll_update' latest_poll.pk "#id_title"  "-m-8" "dark" %}
              {{ latest_poll.title }}
  

            .block.hover-parent
              {% edit_content 'polls.poll_poll_date' latest_poll.pk "#id_title"  "-m-8" "dark" %}
              {{ latest_poll.poll_date|date:"F j, Y" }}

            .font-light.mt-6
              .inline-block.border-black(class="{% if is_rtl_org %}md:border-l pl-16 md:pl-8{% else %}md:border-r pr-16 md:pr-8{% endif %}")
                .text-3xl.leading-none(class="md:text-5xl")
                  {{ latest_poll.responded_runs|intcomma }}
                .text-xs.font-bold
                  -trans "RESPONDERS"
  
              .inline-block.mt-2.mx-auto(class="md:mx-0 md:mt-0 {% if is_rtl_org %}md:pr-8{% else %}md:pl-8{% endif %}")
                .text-3xl.leading-none(class="md:text-5xl")
                  {{ latest_poll.response_percentage }}
                .text-xs.font-bold
                  -trans "RESPONSE RATE"
  
          .mt-6.flex.flex-wrap
            .flex-none.mx-auto(class="md:mx-0 {% if is_rtl_org %}md:ml-8 {% else %}md:mr-8{% endif %}")
              .text-center.inline-block(class="{% if is_rtl_org %}md:pl-4 {% else %}md:pr-4{% endif %}")
                %img(src="{{ STATIC_URL }}img/gender-male.png" width="40")
                .font-bold.text-xl.leading-none.mt-2
                  {{gender_stats.m.percentage|default:"0"}}%
                .text-sm.leading-none
                  {{gender_stats.m.count|default:"0"|intcomma}}

              .text-center.inline-block.px-4.border-black(class="rtl:border-r ltr:border-l")
                %img(src="{{ STATIC_URL }}img/gender-female.png" width="40")
                .font-bold.text-xl.leading-none.mt-2
                  {{gender_stats.f.percentage|default:"0"}}%
                .text-sm.leading-none
                  {{gender_stats.f.count|default:"0"|intcomma}}

              - if org|config:"has_extra_gender"
                .text-center.inline-block.px-4.border-black(class="rtl:border-r ltr:border-l")
                  %img(src="{{ STATIC_URL }}img/gender-other.png" width="40")
                  .font-bold.text-xl.leading-none.mt-2
                    {{gender_stats.o.percentage|default:"0"}}%
                  .text-sm.leading-none
                    {{gender_stats.o.count|default:"0"|intcomma}}

            .flex-1.inline-block.mt-4(style="min-width:220px;max-width:350px" class="md:mt-0")
              .relative.w-full(style="height:105px")
                {{ age_stats|json_script:"age_stats" }}
                #age-bars.w-full.h-full.absolute.age-chart(data-aos="fade" data-graph-type="age-chart" data-bar-color='{{ org|config:"dark1_color"}}' data-label-color="black" data-stats="age_stats" data-label-weight="400")

          .flex
            .block.tags.mt-8
              -for tag in latest_poll.tags.all
                .inline-block.px-2.py-1.leading-none.text-xs.mb-1.border-gray-400.border
                  .whitespace-nowrap
                    {{tag.name}}

      -if show_maps
        .flex-1.text-black
          .py-home.text-center(class="rtl:pr-6 ltr:pl-6 {% if is_rtl_org %}pl-home{% else %}pr-home{% endif %}")
            .text-sm.font-bold.mb-8
              -trans "TOTAL RESPONDERS"
            #poll-map.h-full.w-full.map.block(data-map-url="/pollquestion/{{ top_question.id }}/results/" data-district-zoom="{% if district_zoom %}true{% else %}false{% endif %}" data-ward-zoom="{% if ward_zoom %}true{% else %}false{% endif %}" style="min-height:300px;min-width:300px;")
              .flex.text-center.h-full.w-full(id="poll-map-placeholder" style="min-height:300px;min-width:300px;")
                .fa-3x.inline-block.m-auto.self-center
                  %i.fas.fa-spinner.fa-spin
            #map-info.relative.h-full.w-full.mt-1.flex.justify-center


    - for question in latest_poll.get_questions
      .block(class="md:flex {% cycle '' 'md:flex-row-reverse' %}" data-page="opinions" data-aos="fade" data-aos-anchor-placement="center-bottom" style="min-height:30rem;" id="question-block-{{question.id}}" data-bar-color="{% cycle org|config:'dark1_color'|default:'#439932'  org|config:'light1_color'|default:'#FFD100' org|config:'dark2_color'|default:'#1751af' org|config:'dark3_color'|default:'#5eb3e0' as bar_color silent %}{% if question.get_bg_color_choice %} {{question.get_bg_color_choice}} {% else %}{{bar_color}}{% endif %}")
        .flex-1(class="{% cycle 'bg-dark1 text-white' 'bg-light1 text-black' 'bg-dark2 text-white' 'bg-dark3 text-black' as bg silent %}{% if question.get_color_choice_css %} {{question.get_color_choice_css}} {% else %}{{bg}}{% endif %}")
          .p-home.h-full.flex-center-y(class="md:py-24")
            .flex(class="{% cycle '' 'md:flex-row-reverse' as reverse %}")
              .flex-none.bg-circle.bg-black.text-white.font-bold(data-html2canvas-ignore=true)
                {{ forloop.counter }}
              .flex-1.flex-center-y
                .h-1.border-t(class="{% if is_rtl_org %}{% cycle 'mr-4' 'ml-4' as margin %}{% else %}{% cycle 'ml-4' 'mr-4' as margin %}{% endif %} {% cycle 'white' 'black' 'white' 'white' as border_color silent %}{% if question.get_border_color_choice %} border-{{question.get_border_color_choice}} {% else %}border-{{border_color}}{% endif %}")

            .mt-8
              .font-alt.font-bold.leading-tight.italic.hover-parent(class="{% if question.title|length < 50 %}text-3xl{% elif question.title|length < 120 %}text-2xl{% else %}text-xl{% endif %}")
                -if forloop.counter|divisibleby:"2"
                  {% edit_content 'polls.poll_questions' latest_poll.pk "#id_ruleset_"|add:question.flow_result.result_uuid|add:"_title"  "-m-8" "dark" %}
                -else
                  {% edit_content 'polls.poll_questions' latest_poll.pk "#id_ruleset_"|add:question.flow_result.result_uuid|add:"_title"  "-m-8" "white" %}
                {{ question.title }}

              .mt-4
                {% blocktrans with responded=question.get_responded|intcomma polled=question.get_polled|intcomma %}{{ responded }} responded out of {{ polled }} polled{% endblocktrans %}

        .flex-1.bg-white.text-black.hover-parent
          .mx-home.py-home.hover-parent(class="md:border-t" )
            .block.justify-center.flex.flex-wrap.hover-parent(data-html2canvas-ignore=true)
              - if not question.is_open_ended
                .text-xs.flex-none.mb-4
                  %a.pill-white.selected.segment-pill(href='#' data-question="{{question.id}}" data-segment="all" data-page="opinions" class="{% if is_rtl_org %}pill-last{% else %}pill-first{% endif %} {% if question.hide_all_chart_pills %} hidden{% endif %}")>
                    .whitespace-nowrap
                      -trans "ALL"
                  {% if question.show_age %}
                  %a.pill-white.segment-pill(class="{% if question.get_last_pill == 'age' and not show_maps or not question.show_locations %}{% if is_rtl_org %}pill-first -mr-1{% else %}pill-last -ml-1{% endif %}{% else %}pill {% if is_rtl_org %}-mr-1{% else %}-ml-1{% endif %}{% endif %}" href='#' data-question="{{question.id}}" data-segment="age" data-page="opinions")>
                    .whitespace-nowrap
                      -trans "AGE"
                  {% endif %}
                  {% if question.show_gender %}
                  %a.pill-white.segment-pill(class="{% if question.get_last_pill == 'gender' and not show_maps or not question.show_locations %}{% if is_rtl_org %}pill-first -mr-1{% else %}pill-last -ml-1{% endif %}{% else %}pill {% if is_rtl_org %}-mr-1{% else %}-ml-1{% endif %}{% endif %}" href='#' data-question="{{question.id}}" data-segment="gender" data-page="opinions")>
                    .whitespace-nowrap
                      -trans "GENDER"
                  {% endif %}
                  -if show_maps and question.show_locations
                    %a.pill-white.segment-pill.relative.state-pill(href='#' data-question="{{question.id}}" data-segment="state" data-page="opinions" class="{% if is_rtl_org %}pill-first -mr-1{% else %}pill-last -ml-1{% endif %}")>
                      %span.whitespace-nowrap
                        -trans "LOCATION"
                      %i.fas.fa-caret-down
                      .state-dropdown.absolute.z-50(id="states-{{question.id}}" style="margin-left:-1px" data-html2canvas-ignore=true)
                        .border.border-gray-400.bg-white.h-64(style="overflow-y:scroll;margin-top:.5rem;margin-left:-1rem;" class="rtl:text-right ltr:text-left" )
                          .pt-1.text-black
                            - for state in states
                              .py-1.state-segment(data-state='{{state.id}}' data-click-handler="" data-question="{{question.id}}" class="hover:bg-gray-200 {% if forloop.counter0 < 3 %}selected{% endif %} rtl:pr-2 rtl:pl-4 ltr:pl-2 ltr:pr-4" data-page="opinions")
                                .checkbox(class="rtl:float-right ltr:float-left")
                                  %i.fas.fa-check
                                .ml-4.whitespace-nowrap
                                  {{ state.name }}

              - else
                .block

              .share.flex-none.mx-32.mb-4.flex-center-y.hover-show(class="rtl:float-left ltr:float-right")
                .block
                  %a.cursor-pointer.bg-circle-xs.border.border-black.facebook-share(data-url="{% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}#question-id-{{question.id}}")
                    %i.fab.fa-facebook-f
                  %a.bg-circle-xs.border.border-black(href="https://twitter.com/intent/tweet?url={% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}#question-id-{{question.id}}")
                    %i.fab.fa-twitter
                  %a.bg-circle-xs.border.border-black(href="https://api.whatsapp.com/send?text={% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}#question-id-{{question.id}}")
                    %i.fab.fa-whatsapp
                  %a.bg-circle-xs.border.border-black(href="mailto:?subject=Check out {{ poll.title|urlencode:\"\" }} results&amp;body=Check out the results for U-Report poll on {% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}#question-id-{{question.id}}")
                    %i.fas.fa-envelope
                  %a.cursor-pointer.bg-circle-xs.border.border-black.screenshot-share(data-screen-id="question-block-{{question.id}}")
                    %i.fas.fa-file-image


            .relative.w-full(style="min-height:24rem;")
              .w-full.h-full.absolute.poll-chart.block(id="chart-{{ question.id }}" data-question="{{ question.id }}" data-segment="all")
                .chart-progress.flex.text-center.w-full.h-full
                  .fa-5x.inline-block.m-auto.self-center
                    %i.fas.fa-spinner.fa-spin

  -if latest_poll and latest_poll.response_title and latest_poll.response_content
    .bg-grid.pt-20(class="md:mt-12")
      .bg-dark-blue.mt-10.pt-8(class="md:pt-20 md:pt-16")
        .max-w-page.mx-auto.bg-white.p-home(class="md:pb-12")
          .p-home
            .float-right(class="w=1/4")
              .flex-none.w-16.hidden(class="md:block")
                %img(src="{{STATIC_URL}}img/u-icon-small.png" )
            .text-3xl.font-bold.hover-parent.hover-parent.inline-block(class="md:text-5xl w-3/4")
              {% edit_content 'polls.poll_responses' latest_poll.pk "#id_response_title"  "-m-8" "dark" %}
              {{latest_poll.response_title}}
            -if latest_poll.response_author
              .text-base.font-bold.mt-4.hover-parent.inline-block(class="md:mt-6")
                {% edit_content 'polls.poll_responses' latest_poll.pk "#id_response_author"  "-m-8" "dark" %}
                -trans "Written by:"
                {{latest_poll.response_author}}
  
  
    .bg-grid.pt-16
      .bg-white.pt-8
        .max-w-page.mx-auto.bg-white.-mt-24(class="md:-mt-40")
          .block.hover-parent.p-home.pt-0
            .px-home
              {% edit_content 'polls.poll_responses' latest_poll.pk "#id_response_content"  "-m-8" "dark" %}
              {{latest_poll.response_content|safe}}

          .block.p-home.pt-0
            .block.w-full.px-home
              .fb-comments(data-href="{% org_host_link %}{% url 'public.opinion_read' latest_poll.pk %}" data-width="100%" data-numposts="5")