-extends "base.html"

-load thumbnail humanize compress

-block subtitle
 &nbsp;- {{ poll.title }}

-block content
  .row
    .col-sm-12
      .poll-header
        .poll-topic
          Poll Topic:
          {{ poll.category }}

        .poll-title
          {{ poll.title }}

        .poll-stats
          {{ poll.response_percentage }}% Response Rate | {{ poll.completed_runs|intcomma }} Responded out of {{ poll.runs|intcomma }} Polled | {{ poll.category.name }} | {{ poll.created_on|date:"j.n.Y" }}

      .poll-header-carrot


  -# .row
  -#   .col-sm-12
  -#     .a2a_kit.a2a_kit_size_32.a2a_default_style
  -#       %a{ href:"http://www.addtoany.com/share_save"}
  -#       %a.a2a_button_facebook
  -#       %a.a2a_button_twitter
  -#     %script{ type:"text/javascript", src:"//static.addtoany.com/menu/page.js"}


  .row
    .col-sm-12
      .question-summary
        {{ poll.questions.count }} question{{ poll.questions.count|pluralize }} polled on this topic

  .row
    .col-sm-6.half-pad-right
      %a.poll-tab{ href: "{% url 'public.poll_location' poll.id %}", class:"{% if tab == 'location' %}active-tab{% endif %}" }
        Location

      - if tab == 'location'
        .poll-tab-carrot

    .col-sm-6.half-pad-left
      %a.poll-tab.middle-tab{ href: "{% url 'public.poll_statistics' poll.id %}", class:"{% if tab == 'statistics' %}active-tab{% endif %}" }
        Statistics

      - if tab == 'statistics'
        .poll-tab-carrot

  .row
    .col-sm-12
      .poll-questions
        {% for question in poll.questions.all %}
          .poll-question
            Q{{forloop.counter}}. {{ question.title }}

          {% block question-render %}
          {% endblock question-render %}
        {% endfor %}

  -if poll.featured_responses.all
    .row
      .col-sm-12
        .title-center
          Featured Responses
    .row
      - for feat_response in poll.featured_responses.all
        .col-md-3
          .feat-response
            .row
              .col-md-12
                .response-message
                  {{ feat_response.message }}
            .row
              .col-md-12     
                .response-location
                  U-reporter in
                  %span.bold
                    {{ feat_response.location }}

  -include "public/all_polls.html"

-block extra-script
  {{ block.super }}
  {% compress js %}
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/all_polls.coffee" />
  {% endcompress %}

- block extra-style
  {{ block.super }}
  :css
    .question-summary {
      text-align: center;
      font-style: italic;
      font-size: 18px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    a.poll-tab {
      display: block;
      text-decoration: none;
      color: black;
      background-color: #73C38A;
      padding-top: 18px;
      padding-bottom: 18px;
      text-align: center;
      text-color: #ccc;
      font-size: 28px;
      font-weight: 200;

      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    .poll-tab.active-tab {
      background-color: #169B3C;
      color: white;
    }

    .poll-tab.middle-tab {
      margin-left: 5px;
      margin-right: 5px;
    }
