-if recent_polls
  .row
    .col-sm-12
      .recent-polls
        .small-title
          LATEST POLLS

  .row
    - for poll in recent_polls|slice:":3"
      .col-sm-4
        .recent-poll
          .recent-poll-title
            {{ poll.title }}

          .recent-poll-view
            %a{href:"{% url 'public.poll_statistics' poll.id %}"}
              View Results >

          .recent-poll-stats
            {{ poll.response_percentage }}% Response Rate | {{ poll.created_on|date:"j.n.Y" }} | {{ poll.category.name }}

  .row
    .col-md-12
      .spacer
