{% extends "public_base.html" %}
{% load thumbnail ureport i18n compress %}

{% block content %}
    <div class="bg-grid border-t border-b">
        <div class="md:flex max-w-page mx-auto p-home">
            <div class="flex-1 flex-center-y hover-parent">
                <div class="text-5xl font-bold">{% trans "Reports" %}</div>
            </div>
            <div class="{% if is_rtl_org %}md:pr-8{% else %}md:pl-8{% endif %} flex-center-y">
                <div style="width:285px" class="ltr:text-right rtl:text-left block mt-4">
                    <div class="bg-black text-white text-lg px-4 py-2 rounded">
                        <div class="flex bg-black border-b border-white">
                            <div class="flex-1">
                                <input type="text"
                                       data-results-id="story-search-results"
                                       placeholder='{% trans "SEARCH" %}'
                                       size="14"
                                       class="bg-black search-box text-sm">
                            </div>
                            <div class="flex-none">
                                <a href="#" data-results-id="story-search-results" class="search-close">
                                    <i class="fas fa-caret-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <div style="z-index:100000;
                                width:285px"
                         class="lrt:right-0 rtl:left-0 absolute bg-white search-results h-64 border"
                         id="story-search-results">
                        <div class="no-results p-4 italic hidden">{% trans "No results found" %}</div>
                        {% for category in categories %}
                            {% if category.story_set.all %}
                                <div class="block py-1 bg-white search-category">
                                    <a href="#" class="text-sm font-bold px-2 block">
                                        <i style="padding-top:2px"
                                           class="ltr:float-left rtl:float-right {% if is_rtl_org %}fa-caret-left{% else %}fa-caret-right{% endif %} fa closed"></i>
                                        <i style="padding-top:4px" class="ltr:float-left rtl:float-right fas fa-caret-down hidden open"></i>
                                        <div class="pl-3">{{ category.name }}</div>
                                    </a>
                                    <div class="category-results">
                                        {% for story in category.story_set.all %}
                                            <a href="{% url 'public.story_read' story.pk %}"
                                               data-search-value="{{ story.title|addslashes }} {{ story.created_on|date:'F' }} {{ story.created_on|date:'Y' }}"
                                               class="hover:bg-gray-200 block px-4 py-1 searchable">
                                                <div class="ml-2 text-sm">
                                                    {{ story.title }}
                                                    <div class="inline text-xs font-bold">{{ story.created_on|date:"F" }} {{ story.created_on|date:"Y" }}</div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 max-w-page mx-auto p-home pt-home hover-parent">
        {% for story in stories|slice:"9" %}
            <a href="{% url 'public.story_read' story.pk %}"
               class="md:mt-4 {% if not forloop.first %}md:ml-4{% endif %} md:m-4 md:p-0 block mt-6 p-4 border">
                <div class="block">
                    {% thumbnail story.get_image "400x250" crop="top" as im %}
                        <img width="100%" src="{{ im.url }}" alt="">
                    {% endthumbnail %}
                </div>
                <div class="{% if story.title|length < 50 %}text-lg{% else %}text-base{% endif %} p-4 font-bold mt-4 h-20">{{ story.title }}</div>
                <div class="md:block m-4 hidden">
                    <button class="hover:bg-gray-700 btn bg-black text-white">{% trans "READ MORE" %}</button>
                </div>
            </a>
        {% endfor %}
        {% if not stories %}
            {% trans "No reports published yet" %}
        {% endif %}
    </div>
{% endblock content %}
