- extends "public_base.html"

- load thumbnail ureport i18n compress

-block subtitle
  &nbsp;-
  -trans "Stories"

- block hero
  - for main_story in featured|slice:"1"
    .hero-container
      .hero-dark-container
        .container
          .hero-small-background
          .row
            .col-md-6
              .story-hero
                .hero-title.hero-top-title.primary-bg-color
                  - trans "FEATURED STORY"
                .story-hero-title
                  {{ main_story.title|upper }}
                -if story.created_by.first_name
                  .hero-author
                    - trans "BY"
                    {{ story.created_by.first_name|upper }} {{story.created_by.last_name|upper}}
                .hero-info
                  {{ main_story.short_teaser }}
                .hero-title.hero-link.primary-bg-color
                  %a{href:"{% url 'public.story_read' main_story.pk %}"}
                    - trans "READ FULL STORY"
                    {{ org|org_arrow_link }}

  - block banner
    {{ block.super }}

- block content
  .section.hide-on-small
    %h1.level-1-title
      - trans "LATEST STORIES"
    .level-1-title-description.secondary-color
    .card.card-padding
      .filter-title.primary-color
        - trans "FILTERED BY"
      %hr.hr12.primary-bg-color
      .featured-stories-filters
        .row
          .col-md-12
            %input.category{ type:"radio", name:"category", value:"-1", checked:"true", id:"category-all"}
            %label{ for:"category-all" }
              -trans "All"

        .row
          -for category in categories
            .col-md-3
              %input.category{ type:"radio", name:"category", value:"{{category.id}}", id:"category-{{category.id}}"}=
              %label{ for:"category-{{category.id}}" }= category.name
  .row
    .col-sm-12
      .stories-filtered
        - for featured_story in featured
          %hr.card-clear

          .story-filtered{ data-category:"{{ featured_story.category.id }}" }
            .white-card-container
              .white-card-inner{style:"min-height:400px,"}
                .white-card-title.primary-bg-color
                  {{ featured_story.category.name|upper }}
                .white-card-image.featured-story-image
                  - if featured_story.get_image
                    {% thumbnail featured_story.get_image "300x200" crop="top" as im %}
                    <img width="100%" src="{{im.url}}" />
                    {% endthumbnail %}
                  - else
                    <img width="100%" src="{{ STATIC_URL }}img/missing_image_placeholder.jpg" />

                .white-card-content.white-card-padding
                  .featured-story-title
                    {{ featured_story.title }}
                  .half-border.none-color
                  .featured-story-teaser
                    {{ featured_story.short_teaser|safe }}
                %a.featured-story-link.primary-bg-color{href:"{% url 'public.story_read' featured_story.pk %}"}
                  - trans "READ FULL STORY"
                  {{ org|org_arrow_link }}

  %hr.aaa
  - include "public/archived_stories.html"


-block extra-script
  {{ block.super }}
  {% compress js %}
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/archived_stories.coffee" />
  <script type="text/coffeescript" src="{{ STATIC_URL }}coffee/featured_stories.coffee" />
  {% endcompress %}


- block extra-style
  {{ block.super }}

  :css
    .hero-container {
      {% for main_story in featured|slice:"1" %}
      {% thumbnail main_story.get_category_image "1280x678" crop="top" as im %}
        background-image:url('{{im.url}}');
      {% empty %}
        background-image: url('{{ STATIC_URL }}img/missing_image_placeholder.jpg');
      {% endthumbnail %}
      {% endfor %}
    }

    .hero-small-background {
      {% for main_story in featured|slice:"1" %}
      {% thumbnail main_story.get_category_image "768x508" crop="top" as im %}
        background-image:url('{{im.url}}');
      {% empty %}
        background-image: url('{{ STATIC_URL }}img/missing_image_placeholder.jpg');
      {% endthumbnail %}
      {% endfor %}
    }

    .summary {
      margin-bottom: 15px;
      font-style: italic;
    }

    span.link {
      padding:10px;
    }

    span.link > a {
      color: #fff;

    }

