{% load i18n %}
<script type="text/javascript">
  window.string_All = "{% trans "All" %}";
  window.string_Even = "{% trans "Even" %}";
  window.string_State = "{% trans "State" %}";
  window.string_Other = "{% trans "Other" %}";
  window.string_State = "{% trans "State" %}";
  window.string_District = "{% trans "District" %}";
  window.string_Participation_Level = "{% trans "Participation Level" %}";
  window.string_Responders = "{% trans "Responders" %}";
  window.string_Reporters_in = "{% trans "Reporters in" %}";
  window.string_Results = "{% trans "Results" %}";
  window.string_Other_answers = "{% trans "*Other answers include" %}";
  window.string_Population = "{% trans "Population" %}";
  window.string_Registered_in = "{% trans "Registered in" %}";
  window.string_Density = "{% trans "Density" %}";
  window.string_total = "{% trans "total" %}";
  window.string_of = "{% trans "of" %}";
  window.string_the = "{% trans "the" %}";
</script>
